<md-dialog class="col fill">
    <div class="row header align-start-center">
        <img class="ripple" src="/wallet/img/back.svg" ng-click="close()">
        <p class="flex">Mining {{domain}}</p>
        <div class="primary-button" ng-click="init()">
            ||
        </div>
        <div class="primary-button" ng-click="reset()">
            -
        </div>
    </div>
    <div class="flex col content align-start-center scroll">
        <div class="col block scroll p16">
            <div class="" ng-repeat="message in log">{{message}}</div>
        </div>
    </div>
    <div class="col p16">
        <div class="row align-center-center mb16">
            <p>UI can be blocked while mining. Please be patient.</p>
        </div>
        <div class="row">
            <md-progress-linear class="flex" md-mode="indeterminate" ng-show="inProgress"></md-progress-linear>
        </div>
        <div class="row">
            <div class="flex primary-button" ng-click="startMining()"  ng-hide="inProgress">
                Start
            </div>
            <div class="flex primary-button red-back" ng-click="stopMining()"  ng-show="inProgress">
                Stop
            </div>
        </div>
    </div>
</md-dialog>