<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/node_modules/angular-material/angular-material.min.js"></script>
    <link rel="stylesheet" href="/node_modules/angular-material/angular-material.min.css">

    <!--<link rel="stylesheet" href="style.css">-->
</head>
<body ng-app="App" ng-controller="Controller" class="col align-center-center">


<div class="col">
    <div class="row" ng-repeat="request_group in sale_requests" style="color: red" ng-click="sale_request_click(request_group)">
        {{request_group[first]}} {{request_group.opp_rate}} {{request_group[second]}}
    </div>
</div>

<div class="col">
    <div class="row" ng-repeat="request_group in buy_requests" style="color: darkgreen" ng-click="buy_request_click(request_group)">
        {{request_group[first]}} {{request_group.rate}} {{request_group[second]}}
    </div>
</div>

<div class="row">
    <form ng-submit="buy($event)" class="col">
        <input type="text" ng-model="buy_rate" ng-change="buy_rate_change()" required>
        <input type="text" ng-model="buy_want_count" ng-change="buy_want_change()" placeholder="{{first}}" required>
        <div class="row">
            <button class="flex-25" ng-click="buy_percent($event, 25)">25%</button>
            <button class="flex-25" ng-click="buy_percent($event, 50)">50%</button>
            <button class="flex-25" ng-click="buy_percent($event, 75)">75%</button>
            <button class="flex-25" ng-click="buy_percent($event, 100)">100%</button>
        </div>
        <div class="row align-end">{{balance[second]}}</div>
        <input type="text" ng-model="buy_give_count" ng-change="buy_give_change()" placeholder="{{second}}" required>
        <button type="submit">Buy</button>
    </form>
    <form ng-submit="sale($event)" class="col">
        <input type="text" ng-model="sale_rate" ng-change="sale_rate_change()" required>
        <input type="text" ng-model="sale_give_count" ng-change="sale_give_change()" placeholder="{{first}}" required>
        <div class="row">
            <button class="flex-25" ng-click="sale_percent($event, 25)">25%</button>
            <button class="flex-25" ng-click="sale_percent($event, 50)">50%</button>
            <button class="flex-25" ng-click="sale_percent($event, 75)">75%</button>
            <button class="flex-25" ng-click="sale_percent($event, 100)">100%</button>
        </div>
        <div class="row align-end">{{balance[first]}}</div>
        <input type="text" ng-model="sale_want_count" ng-change="sale_want_change()" placeholder="{{second}}" required>
        <button type="submit">Sale</button>
    </form>
</div>


<div class="row">
    <a href="/stock0">
        <button>Главная</button>
    </a>
    <a href="/stock0/pairs">
        <button>Торговля</button>
    </a>
    <a href="/stock0/new_coin">
        <button>Новый койн</button>
    </a>
    <a href="/stock0/dialogs">
        <button>Мессенджер</button>
    </a>
    <a href="/stock0/account">
        <button disabled>Аккаунт</button>
    </a>
</div>
<script>
    angular.module("App", []).controller("Controller", function ($scope, $http) {
        const params = new URLSearchParams(location.search);
        $scope.pair = params.get("pair")
        $scope.first = $scope.pair.split("_")[0]
        $scope.second = $scope.pair.split("_")[1]
        $scope.buy_rate = 3.5
        $scope.buy_want_count = 0.1
        $scope.buy_give_count = 0.35
        $scope.sale_rate = 1.5
        $scope.sale_give_count = 0.1
        $scope.sale_want_count = 0.15
        $scope.balance = {}

        $scope.sdf = function (e) {
            e.preventDefault()
            alert(1)
        }


        $scope.buy = function (e) {
            e.preventDefault()
            $http({
                method: "POST",
                url: "new_limit_request.php",
                data: {
                    token: localStorage.getItem("token"),
                    pair: $scope.pair,
                    give: $scope.second,
                    want: $scope.first,
                    give_count: $scope.buy_give_count,
                    want_count: $scope.buy_want_count,
                },
            }).then(function (response) {
                update()
            })
        }

        $scope.sale = function (e) {
            e.preventDefault()
            $http({
                method: "POST",
                url: "new_limit_request.php",
                data: {
                    token: localStorage.getItem("token"),
                    pair: $scope.pair,
                    give: $scope.first,
                    want: $scope.second,
                    give_count: $scope.sale_give_count,
                    want_count: $scope.sale_want_count,
                },
            }).then(function (response) {
                update()
            })
        }

        function update() {
            $http({
                method: "POST",
                url: "info.php",
                data: {
                    token: localStorage.getItem("token"),
                    pair: $scope.pair,
                },
            }).then(function (response) {
                $scope.buy_requests = response.data.buy
                $scope.sale_requests = response.data.sale
                $scope.balance = response.data.balance
            })
        }

        update()

        $scope.buy_percent = function (e, percent) {
            e.preventDefault()
            $scope.buy_give_count = $scope.balance[$scope.second] * (percent / 100);
            $scope.buy_want_count = $scope.buy_give_count / $scope.buy_rate;
        }

        $scope.sale_percent = function (e, percent) {
            e.preventDefault()
            $scope.sale_give_count = $scope.balance[$scope.first] * (percent / 100);
            $scope.sale_want_count = $scope.sale_give_count * $scope.sale_rate;
        }

        $scope.removeZeros = function (num_str){
            return num_str.replace(new RegExp("^[0]+|[.][0]+$", "g"), "");
        }


        $scope.buy_request_click = function (request_group) {
            $scope.sale_rate = $scope.removeZeros(request_group.rate)
            $scope.sale_rate_change()
        }

        $scope.sale_request_click = function (request_group) {
            $scope.buy_rate = $scope.removeZeros(request_group.opp_rate)
            $scope.buy_rate_change()
        }

        $scope.buy_rate_change = function () {
            $scope.buy_give_count = $scope.buy_rate * $scope.buy_want_count
        }

        $scope.buy_want_change = function () {
            $scope.buy_give_count = $scope.buy_want_count * $scope.buy_rate
        }

        $scope.buy_give_change = function () {
            $scope.buy_want_count = $scope.buy_give_count / $scope.buy_rate
        }

        $scope.sale_rate_change = function () {
            $scope.sale_want_count = $scope.sale_rate * $scope.sale_give_count
        }

        $scope.sale_give_change = function () {
            $scope.sale_want_count = $scope.sale_give_count * $scope.sale_rate
        }

        $scope.sale_want_change = function () {
            $scope.sale_give_count = $scope.sale_want_count / $scope.sale_rate
        }
    })
</script>

</body>
</html>