<md-bottom-sheet>
    <md-content class="col col-content">
        <div class="row align-start-center">
            <img src="img/coin/{{locals.balance.ticker}}.svg" class="coin-logo">
            <div class="size16">{{locals.balance.ticker}}</div>
            <div class="flex"></div>
            <div class="col">
                <div class="gray400-text">Balance {{locals.balance.spot}}</div>
            </div>
        </div>
        <div class="row">
            <md-button class="flex md-primary" ng-click="hide('deposit')">
                Deposit
            </md-button>
            <md-button class="flex md-primary" ng-click="hide('withdrawal')">
                Withdrawal
            </md-button>
        </div>
        <div class="row">
            <md-button class="flex md-primary md-raised" ng-click="hide('trade')">
                Trade
            </md-button>
        </div>
    </md-content>
</md-bottom-sheet>