body {
    color: black;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    white-space: nowrap;
    font-size: 14px;
    user-select: none;
}


* {
    outline: none;
}


.size8 {
    font-size: 8px;
}

.size10 {
    font-size: 10px;
}

.size12 {
    font-size: 12px;
}

.size13 {
    font-size: 13px;
}

.size14 {
    font-size: 14px;
    line-height: 18px;
}

.size16 {
    font-size: 16px;
}

.size18 {
    font-size: 18px;
}

.size20 {
    font-size: 20px;
}

.size24 {
    font-size: 24px;
}

.size32 {
    font-size: 32px;
    line-height: 42px;
}

.weight4 {
    font-weight: 400;
}

.weight5 {
    font-weight: 500;
}

.weight6 {
    font-weight: 600;
}

.weight7 {
    font-weight: 700;
}

.underline {
    text-decoration: underline;
}

.shadow-black {
    box-shadow: 0px 0px 2px 0px #b4b4b4;
}

.shadow-blue {
    box-shadow: 0px 0px 2px 0px #4F50FB;
}


.line {
    padding: 0 16px 0 16px;
}


/* Ripple effect */
.ripple {
    background-color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background-position: center;
    transition: background 0.8s;
}

.ripple:hover {
    background: white radial-gradient(circle, transparent 1%, white 1%) center/15000%;
}

.ripple:active {
    background-color: #d9d9d9;
    background-size: 100%;
    transition: background 0s;
}

.green-back-ripple {
    background-color: rgb(2, 192, 118);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background-position: center;
    transition: background 0.8s;
}

.green-back-ripple:hover {
    background: rgb(2, 192, 118) radial-gradient(circle, transparent 1%, rgb(2, 192, 118) 1%) center/15000%;
}

.green-back-ripple:active {
    background-color: rgb(255, 255, 255);
    background-size: 100%;
    transition: background 0s;
}

.red-back-ripple {
    background-color: rgb(248, 73, 96);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background-position: center;
    transition: background 0.8s;
}

.red-back-ripple:hover {
    background: rgb(248, 73, 96) radial-gradient(circle, transparent 1%, rgb(248, 73, 96) 1%) center/15000%;
}

.red-back-ripple:active {
    background-color: rgb(241, 137, 151);
    background-size: 100%;
    transition: background 0s;
}

.blue-back-ripple {
    background-color: #4F50FB;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background-position: center;
    transition: background 0.8s;
}

.blue-back-ripple:hover {
    background: #4F50FB radial-gradient(circle, transparent 1%, #4F50FB 1%) center/15000%;
}

.blue-back-ripple:active {
    background-color: #8e8eea;
    background-size: 100%;
    transition: background 0s;
}

/* Button style */
button {
    padding: 12px 18px;
    font-size: 16px;
    outline: none;
}

.input-wrapper {
    position: relative;
}

input:disabled{
    pointer-events:none;
    background-color: var(--white);
}

.input-wrapper-black > input:disabled{
    background-color: var(--black);
}

input {
    height: 38px;
    outline: none;
    border-radius: 3px;
    font-size: 14px;
    padding-left: 12px;
    padding-right: 55px;
    padding-top: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.input-label {
    top: -6px;
    left: 10px;
    position: absolute;
    background-color: var(--white);
    font-size: 12px;
    padding: 0 4px;
    color: var(--gray400);
}

.input-wrapper-black > .input-label:disabled{
    background-color: var(--black);
    color: var(--gray400);
}

.input-label-right {
    padding: 11px 8px;
    font-size: 14px;
    color: rgb(132, 142, 156);
    position: absolute;
}

.input:hover, .input:focus {
    border: 1px solid rgba(0, 0, 0, 0.35);
}

.input-label-right {
    right: 0;
}

.header {
    min-height: 64px;
}

.col-content > * {
    margin-top: 16px;
}

.col-content > *:last-child {
    margin-bottom: 16px;
}

.multiline-text {
    white-space: normal;
}

.coin-logo {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 40px);
}


.fade-animation.ng-hide {
    opacity: 0;
}

.fade-animation.ng-hide-add,
.fade-animation.ng-hide-remove {
    transition: all linear 0.5s;
}

.animation-item {
    position: absolute;
    width: 100%;
    height: 100%;
}

.check-element {
    border: 1px solid black;
    opacity: 1;
    padding: 10px;
}

.md-button {
    margin: 0;
    height: 38px;
}

/*https://codepen.io/sosuke/pen/Pjoqqp*/


.img-blue {
    filter: invert(34%) sepia(82%) saturate(5280%) hue-rotate(235deg) brightness(99%) contrast(98%);
}

.img-green {
    filter: invert(54%) sepia(22%) saturate(7296%) hue-rotate(124deg) brightness(100%) contrast(98%);
}

.img-red {
    filter: invert(35%) sepia(79%) saturate(2026%) hue-rotate(328deg) brightness(105%) contrast(94%);
}

.img-gray {
    filter: invert(98%) sepia(1%) saturate(4021%) hue-rotate(178deg) brightness(121%) contrast(74%);
}

.img-white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(301deg) brightness(108%) contrast(101%);
}

.img-black {
    filter: invert(0%) sepia(1%) saturate(7492%) hue-rotate(343deg) brightness(107%) contrast(95%);
}

.fullscreen {
    width: 100%;
    height: 100%;
}

.blue-text {
    color: #4F50FB;
}

.blue-back {
    background-color: #4F50FB;
    border-radius: 2px;
}

.green-text {
    color: rgb(2, 192, 118);
}

.green-back {
    background-color: rgb(2, 192, 118);
    border-radius: 2px;
}

.black-text {
    color: rgb(0, 0, 0);
}

.white-text {
    color: rgb(255, 255, 255);
}

.white-back {
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
}

.red-text {
    color: rgb(248, 73, 96);
}

.red-back {
    background-color: rgb(248, 73, 96);
    border-radius: 2px;
}

.gray400-text {
    color: rgba(0, 0, 0, 0.66);
}

.gray400-back {
    background-color: rgb(222, 222, 222);
    border-radius: 2px;
}

/* To display a border for the input */
.mat-input-flex.mat-form-field-flex{
    border: 1px solid black;
}

/* To remove the default underline */
.mat-input-underline.mat-form-field-underline {
    background: transparent;
}

/* To remove the underline ripple */
.mat-input-ripple.mat-form-field-ripple{
    background-color: transparent;
}

md-switch{
    margin: 0;
}

.setting {
    height: 50px;
}

.setting > img{
    width: 20px;height: 20px;
}

.list-header{
    margin: 16px 0 4px 0;
}