<md-bottom-sheet class="col">
    <div class="row shadow-black" style="height: 200px;">
        <div class="flex col align-center-center green-back">
            <div id="qrcode"></div>
        </div>
    </div>
    <div class="col content align-start-center">
        <div class="col input-content">
            <div class="row m16 input-wrapper" style="margin-top: 50px">
                <div class="input-label-top">Invite link</div>
                <input class="flex input"
                       type="text"
                       autocapitalize="off"
                       id="link_input"
                       ng-model="link">
            </div>
            <div class="flex row primary-button align-center-center mh16"
                 style="margin-top: 50px"
                 ng-click="share()">
                Share
            </div>
            <div class="flex row button align-center-center m16"
                 ng-click="copyText()">
                Copy
            </div>
        </div>
    </div>
</md-bottom-sheet>