<md-bottom-sheet class="col">
    <div class="row header align-start-center">
        <img class="ripple" src="/wallet/img/back.svg" ng-click="back()">
        <p>Invite</p>
    </div>
    <div class="col">
        <div class="col content input-content">
            <div class="row input-wrapper-black">
                <div class="input-label">Invite link</div>
                <input type="text"
                       class="flex"
                       autocapitalize="off"
                       id="link_input"
                       ng-model="link">
                <div class="input-label-right">
                    <img class="img28 p4 ripple gray500-back"
                         src="/wallet/img/copy.svg"
                         ng-click="copy()">
                </div>
            </div>
        </div>
        <div class="flex row primary-button align-center-center"
             ng-click="share()">
            Share
        </div>
    </div>
</md-bottom-sheet>