<md-bottom-sheet>
    <md-content class="col">
        <div class="row shadow-black" style="height: 200px;">
            <div class="flex col align-center-center green-back">
                <img src="/wallet/img/success.svg" style="width: 120px; height: 120px;">
            </div>
        </div>
        <div class="row align-center-center" style="height: 180px;">
            <div class="flex col align-start-center">
                <div class="row">
                    <div class="row input-wrapper">
                        <div class="input-label-top">Invite link with {{domain}}</div>
                        <input type="text" id="link_input" class="input" ng-model="link">
                    </div>
                    <div class="primary-button lowercase green-back"
                         ng-click="copy()">
                        Share
                    </div>
                </div>
                <div class="primary-button lowercase size16"
                     style="margin-top: 30px; border-radius: 16px; min-width: 110px"
                     ng-click="close()">Close
                </div>
            </div>
        </div>
    </md-content>
</md-bottom-sheet>