<md-bottom-sheet class="col">
    <div style="position: absolute; right: 0; top: -70px; z-index: 2">
        <img src="/wallet/img/deposit.png">
    </div>
    <div class="row header align-start-center">
        <img class="ripple" src="/wallet/img/back.svg" ng-click="close()">
        <p>Withdrawal</p>
    </div>
    <div class="col content">
        <div class="col input-content">
            <div class="row input-wrapper-black">
                <div class="input-label">Tron address</div>
                <input type="text" ng-model="withdrawal_address">
            </div>
            <div class="row input-wrapper-black">
                <div class="input-label">Amount</div>
                <input type="text" ng-model="amount">
            </div>
        </div>
        <div class="primary-button" ng-click="withdrawal()" ng-disabled="!withdrawal_address || !amount">
            Withdrawal
        </div>
    </div>
</md-bottom-sheet>