<md-bottom-sheet class="col">
    <div style="position: absolute; right: 0; top: -70px; z-index: 2">
        <img src="/wallet/img/deposit.png">
    </div>
    <div class="row header align-start-center">
        <img class="ripple" src="/wallet/img/back.svg" ng-click="back()">
        <p>Withdrawal</p>
    </div>
    <div class="col content">
        <div class="col input-content">
            <div class="col">
                <div class="row input-wrapper-black">
                    <div class="input-label">Tron address</div>
                    <input type="text"
                           placeholder="TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t"
                           ng-model="withdrawal_address">
                </div>
                <p class="red-text" ng-show="errorWithdrawalAddress">Tron address is incorrect</p>
            </div>
            <div class="row input-wrapper-black">
                <div class="input-label">Amount</div>
                <input type="number" ng-model="amount">
                <div class="input-label-right">MAX <br>{{formatPrice(coin.balance - selectedProvider.fee)}}</div>
            </div>
            <p>{{selectedProvider.fee}} USDT fee for withdrawal</p>
        </div>
        <div class="primary-button" ng-click="withdrawal()" ng-disabled="!withdrawal_address || !amount">
            Withdrawal
        </div>
    </div>
</md-bottom-sheet>