<md-bottom-sheet class="col">
    <div class="row header align-start-center">
        <img src="/wallet/img/back.svg" ng-click="close()">
        <p>Withdrawal</p>
    </div>
    <div class="col content align-start-center">
        <div class="col input-content">
            <div class="input-wrapper" style="margin-top: 16px">
                <div class="input-label">Tron address</div>
                <input type="text" ng-model="withdrawal_address">
            </div>
            <div class="input-wrapper" style="margin-top: 16px">
                <div class="input-label">Amount</div>
                <input type="text" ng-model="amount">
            </div>
            <div class="primary-button" ng-click="withdrawal()" ng-disabled="!withdrawal_address || !amount">
                Withdrawal
            </div>
        </div>
    </div>
</md-bottom-sheet>