html {
    user-select: none;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

/*For ngRoute animation*/
.view-container {
    position: relative;
    height: 100%;
}

.view-frame {
    height: 100%;
}

.view-frame.ng-enter,
.view-frame.ng-leave {
    background-color: rgb(48, 48, 48);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.view-frame.ng-enter {
    animation: 1s fade-in;
}

.view-frame.ng-leave {
    animation: 1s fade-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.header {
    background-color: #666666;
    height: 80px;
    font-size: 20px;
    font-weight: 600;
}

/*for inputs*/
md-input-container {
    margin: 18px 0 0 0;
}

.md-errors-spacer {
    display: none;
}

/*for md-autocomplete*/
/*md-autocomplete-wrap > md-input-container {
    margin: 18px 0;
}

md-input-container > .md-errors-spacer {
    display: block;
}*/


.md-button {
    margin: 0;
    padding: 0;
    border-radius: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
}

*:focus {
    outline: none;
    border: 0;
}


.input-wrapper {
    width: 350px;
    box-shadow: 0 0 25px black;
}

.input-header, .input-footer {
    background-color: black;
    padding: 24px;
}

.input-header {
    border-top: 6px solid rgb(33, 150, 243);
}

.input-container {
    padding: 16px;
}

.input-container > * {
    margin: 16px 0 0 0;
}

a {
    color: rgb(33, 150, 243);
}


.scrollable {
    overflow: auto;
}

.scrollable::-webkit-scrollbar {
    width: 6px;
}

.scrollable::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(0, 0, 0);
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: #666666;
    outline: 1px solid #000000;
}

md-divider {
    background-color: rgba(255, 255, 255, .1);
    height: 1px
}

md-icon {
    margin: 0;
}

.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}
.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff 15%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
}
.ripple:active:after {
    transform: scale(0, 0);
    opacity: .2;
    transition: 0s;
}