<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <script src="../angular/angular.min.js"></script>

    <link rel="stylesheet" href="fonts/firasans.css">
    <link rel="stylesheet" href="../flex/flex.css">
    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="style.css">
</head>
<body ng-app="App" ng-controller="Controller" class="col">

<div class="row line align-start-center shadow-bottom header">
    <div class="row align-center-center white-back-ripple" style="min-width: 40px; height: 40px; border-radius: 50%; ">
        <img src="img/back.svg" style="width: 18px;height: 18px;">
    </div>
    <div class="col" style="margin-left: 8px">
        <div class="size16">{{coin.ticker}}</div>
        <div class="size16 gray" style="margin-top: 2px">{{coin.name}}</div>
    </div>
    <div class="flex"></div>

    <div class="size16" style="margin-right: 8px">{{priceFormat(coin.price)}}</div>
    <div class="row white-text" style="padding: 8px 8px; border-radius: 2px; margin-right: 8px"
         ng-class="changeBackColor(coin.change24)">
        {{changeFormat(coin.change24)}}
    </div>

    <div class="row align-center-center white-back-ripple"
         style="min-width: 40px; height: 40px; border-radius: 50%; margin-right: 4px">
        <img src="img/star.svg" style="width: 18px;height: 18px;">
    </div>
</div>
<div class="row shadow-bottom size12" style="min-height: 40px;">
    <div class="flex col" ng-repeat="item in tabs">
        <div class="flex row align-center-center white-back-ripple" ng-click="selectTab($index)">{{item}}
            {{$index > 0 ? coin.ticker : ""}}
        </div>
        <div class="blue-back" style="height: 1px;" ng-show="tabIndex == $index"></div>
    </div>
</div>


<div class="col" ng-show="tabIndex == 0">
    <div class="row line align-center" style="margin-top: 2px">
        <div class="col align-center-center white-back-ripple" style="width: 78px; height: 78px;"
             ng-click="showLaunchpad = true">
            <img src="img/rocket.svg" style="width: 18px; height: 18px;">
            <div class="gray-text size10" style="margin-top: 8px">Launchpad</div>
        </div>
        <div class="col align-center-center white-back-ripple" style="width: 78px; height: 78px;"
             ng-click="">
            <img src="img/rocket.svg" style="width: 18px; height: 18px;">
            <div class="gray-text size10" style="margin-top: 8px">Launchpad</div>
        </div>
        <div class="col align-center-center white-back-ripple" style="width: 78px; height: 78px;"
             ng-click="">
            <img src="img/rocket.svg" style="width: 18px; height: 18px;">
            <div class="gray-text size10" style="margin-top: 8px">Launchpad</div>
        </div>
        <div class="col align-center-center white-back-ripple" style="width: 78px; height: 78px;"
             ng-click="">
            <img src="img/rocket.svg" style="width: 18px; height: 18px;">
            <div class="gray-text size10" style="margin-top: 8px">Launchpad</div>
        </div>
    </div>
    <div class="row line" style="position: relative; margin: 8px 0;">
        <input class="flex shadow-bottom size16" type="text" placeholder="Search"
               style="border: none; border-radius: 20px; height: 35px; padding: 7px 12px">
        <img src="img/loupe.svg" style="width: 16px; height: 16px; position: absolute; right: 25px; top: 9px">
    </div>
    <div class="col " ng-repeat="(key, item) in coins">
        <div class="row line align-start-center white-back-ripple" ng-click="openCoin(key)"
             style="padding-top: 12px; padding-bottom: 12px;">
            <div class="row align-center-center"
                 style="min-width: 24px; height: 24px; border-radius: 50%; margin-right: 4px">
                <img src="img/coin/sol.jpg" style="width: 100%; height: 100%;">
            </div>
            <div class="col" style="margin-left: 7px">
                <div class="size16">{{item.ticker}}</div>
                <div class="gray-text size12">{{item.name}} $128.07B</div>
            </div>
            <div class="flex"></div>

            <div class="col align-start-end size13">
                <div class="size14">{{priceFormat(item.price)}}</div>
                <div class="green-text" style="">+3.75%</div>
            </div>
            {{item.ticket}}
            <div class="row align-center-center size13 " style="min-width: 70px; margin-left: 10px"
                 ng-show="!balances[key]">
                <div class="row align-center-center green-back-ripple white-text"
                     style="border-radius: 2px; padding: 8px 11px;">
                    Get
                    <img src="img/card.svg" style="width: 11px;height: 11px; margin-left: 6px">
                </div>
            </div>

            <div class="col align-center-end size13" style="min-width: 90px; margin-left: 10px"
                 ng-show="balances[key]">
                <div class="size14">{{priceFormat(item.price * (balances[key].spot + balances[key].blocked))}}</div>
                <div class="">{{amountFormat(balances[key].spot + balances[key].blocked)}} {{key}}</div>
            </div>

            <!--<div class="row align-center-center white-back-ripple" ng-click="subscribe($event)"
                 style="min-width: 34px; height: 34px; border-radius: 50%;">
                <img src="img/notify_off.svg" style="width: 18px;height: 18px;">
            </div>-->
        </div>
        <div class="gray-back" style="height: 1px"></div>
    </div>
</div>

<div class="col" ng-show="tabIndex == 1">
    <div class="row line" style="margin-top: 12px">
        <div class="col" style="width: 202px;">
            <div class="row gray-back" style="height: 32px; padding: 1px; border-radius: 2px">
                <div class="flex row align-center-center green-text ripple" style="border-radius: 2px"
                     ng-class="{'white-back': !is_sell, ' gray-back': is_sell}" ng-click="is_sell = false">Buy
                </div>
                <div class="flex row align-center-center red-text ripple" style="border-radius: 2px"
                     ng-class="{'white-back': is_sell, ' gray-back': !is_sell}" ng-click="is_sell = true">Sell
                </div>
            </div>

            <div class="row input-wrapper" style="margin-top: 16px">
                <div class="input-label-top">Price</div>
                <input type="number" class="flex input" ng-model="price" ng-change="changePrice()">
            </div>

            <div class="row input-wrapper" style="margin-top: 16px">
                <div class="input-label-top">{{coin.ticker}} amount</div>
                <input type="number" class="flex input" ng-model="amount" ng-change="changeAmount()">
            </div>
            <div class="row" style="height: 22px">
                <div class="flex row align-center-center gray-text white-back size12"
                     style="border: 1px solid rgba(0, 0, 0, 0.2);" ng-repeat="item in [25,50,75,100]"
                     ng-click="setPortion(item)">{{item}}%
                </div>
            </div>
            <div class="row input-wrapper" style="margin-top: 16px">
                <div class="input-label-top">Total</div>
                <input type="number" class="flex input" ng-model="total" ng-change="changeTotal()">
            </div>

            <div class="row size10" style="margin-top: 8px">
                <div class="gray-text">Available {{is_sell ? coin.ticker : "USDT"}}</div>
                <div class="flex" style="border-bottom: 1px solid rgba(0, 0, 0, 0.2); margin: 0 4px"></div>
                <div class="gray-text">{{amountFormat(is_sell ? availableCoin : availableUsdt)}}</div>
            </div>

            <div class="row align-center-center ripple green-back white-text size18"
                 style="height: 40px; margin-top: 15px; border-radius: 2px"
                 ng-class="{'red-back-ripple': is_sell, ' green-back-ripple': !is_sell}"
                 ng-click="place()">{{is_sell ? "Sell" : "Buy"}}
                {{coin.ticker}}
            </div>

        </div>
        <div class="flex col" style="margin-left: 10px">

            <div class="row" style="margin-top: 16px">
                <div class="gray-text size10">Price (USDT)</div>
                <div class="flex"></div>
                <div class="row gray-text size10">Amt ({{coin.ticker}})</div>
            </div>


            <!--orderbook-->
            <div class="col align-end" style="height: calc(20px * 6)">
                <div class="row align-start-center" style="height: 20px;" ng-repeat="item in sell"
                     ng-click="sellLineClick($index)">
                    <div class="red-back" style="position: absolute; width: 120px; height: 20px; opacity: 0.09;"></div>
                    <div class="red-text" style="margin-left: 4px">{{priceFormat(item.price)}}</div>
                    <div class="flex"></div>
                    <div>{{amountFormat(item.amount)}}</div>
                </div>
            </div>
            <div class="row align-start-center">
                <div class="flex" style="border-bottom: 1px solid rgba(0, 0, 0, 0.2);"></div>
            </div>
            <div class="col align-start" style="height: calc(20px * 6)">
                <div class="row align-start-center" style="height: 20px;" ng-repeat="item in buy"
                     ng-click="buyLineClick($index)">
                    <div class="green-back"
                         style="position: absolute; width: 120px; height: 20px; opacity: 0.09;"></div>
                    <div class="green-text" style="margin-left: 4px">{{priceFormat(item.price)}}</div>
                    <div class="flex"></div>
                    <div>{{amountFormat(item.amount)}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row shadow-bottom size12" style="height: 40px; margin-top: 16px">
        <div class="flex col" ng-repeat="item in bottomTabs" ng-click="selectBottomTab($index   )">
            <div class="flex row align-center-center ripple">{{item}}</div>
            <div class="blue-back" style="height: 1px;" ng-show="bottomTabIndex == $index"></div>
        </div>
    </div>
    <div class="col" ng-show="bottomTabIndex == 0">
        <div class="col" ng-repeat="groupIndex in [0, 1]">
            <div class="row" style="margin-top: 12px;"
                 ng-show="$index == 0 && (active || []).length > 0">
                <div class="line gray-text size14">{{groupNames[groupIndex]}}</div>
                <div class="flex"></div>
                <div class="line red-text size14" ng-click="cancelAll()">Cancel all</div>
            </div>
            <div class="line gray-text" style="margin-top: 12px;"
                 ng-show="$index == 1 && (history || []).length > 0">
                {{groupNames[groupIndex]}}
            </div>
            <div class="col" ng-repeat="item in (groupIndex == 0 ? active : history)">
                <div class="row line align-start-center"
                     style="padding-top: 12px; padding-bottom: 12px;">
                    <div class="row align-center-center"
                         style="min-width: 24px; height: 24px; border-radius: 50%; margin-right: 4px">
                        <img src="img/coin/sol.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="col" style="margin-left: 7px">
                        <div class="size16">{{item.ticker}}</div>
                        <div class="gray-text size12">{{timeFormat(item.timestamp)}}</div>
                    </div>
                    <div class="flex"></div>
                    <div class="col align-start-end size13">
                        <div class="size14">{{priceFormat(item.price)}}</div>
                        <div>{{priceFormat(item.price * item.amount)}}</div>
                    </div>
                    <div class="col align-start-end size13" style="min-width: 70px; margin-left: 10px">
                        <div class="size14">{{amountFormat(item.filled) + "/" + amountFormat(item.amount)}}
                            {{item.ticker}}
                        </div>
                        <div>Filled {{priceFormat(item.filled * item.price)}}</div>
                    </div>

                    <div class="row align-center-center"
                         style="min-width: 14px; height: 14px; border-radius: 50%; margin-left: 12px">
                        <img src="img/cancel.svg" class="img-red" ng-show="item.status == 0"
                             ng-click="cancel(item.order_id)">
                        <img src="img/success.svg" class="img-green" ng-show="item.status == 1">
                        <img src="img/canceled.svg" class="img-red" ng-show="item.status == -1">
                    </div>
                </div>
                <div class="gray-back" style="height: 1px"></div>
            </div>
        </div>
    </div>
    <div class="col" ng-show="bottomTabIndex == 1">
        <div class="col" ng-repeat="(key, item) in balances">
            <div class="row line align-start-center"
                 style="padding-top: 12px; padding-bottom: 12px;">
                <div class="row align-center-center"
                     style="min-width: 24px; height: 24px; border-radius: 50%; margin-right: 4px">
                    <img src="img/coin/sol.jpg" style="width: 100%; height: 100%;">
                </div>
                <div class="col" style="margin-left: 7px">
                    <div class="size16">{{coins[key].ticker}}</div>
                    <div class="gray-text size12">{{coins[key].name}} $128.07B</div>
                </div>
                <div class="flex"></div>
                <div class="col align-start-end size13">
                    <div class="size14">{{priceFormat(coins[key].price)}}</div>
                    <div ng-class="changeColor(coins[key].change24)">{{changeFormat(coins[key].change24)}}</div>
                </div>
                <div class="col align-start-end size13" style="min-width: 90px; margin-left: 10px">
                    <div class="size14">{{priceFormat(item.spot + item.blocked)}}</div>
                    <div>{{amountFormat(item.spot + item.blocked) + " " + key}}</div>
                </div>
            </div>
            <div class="gray-back" style="height: 1px"></div>
        </div>
    </div>

</div>

<div class="col" ng-show="tabIndex == 2">

    <div class="row">
        <div class="flex row align-center-center white-back-ripple" style="padding: 10px"
             ng-repeat="item in periods" ng-click="getSticks(item)">{{item}}
        </div>
    </div>
    <div id="tradeChart" style="width: 100%; height: 300px"></div>
</div>


<div class="col flex" style="position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #fafafa"
     ng-show="showLaunchpad">
    <div class="row line header shadow-bottom align-start-center">
        <div class="size16">Launchpad</div>
        <div class="flex"></div>
        <div class="row align-center-center white-back-ripple" ng-click="showLaunchpad = false"
             style="min-width: 40px; height: 40px; border-radius: 50%;">
            <img src="img/close.svg" style="width: 18px;height: 18px;">
        </div>
    </div>
    <div class="col line input-list-wrapper">
        <div class="row input-wrapper">
            <div class="input-label-top">Name</div>
            <input type="text" class="flex input" ng-model="launchCoin.name" ng-change="">
        </div>
        <div class="row input-wrapper">
            <div class="input-label-top">Ticker</div>
            <input type="text" class="flex input" ng-model="launchCoin.ticker" ng-change="">
        </div>

        <div class="row align-center-center ripple green-back white-text size18"
             style="height: 40px; border-radius: 2px"
             ng-class="{'red-back-ripple': is_sell, ' green-back-ripple': !is_sell}"
             ng-click="launch()">
            <img src="img/rocket.svg" style="width: 18px;height: 18px;">
            <div class="size16" style="margin-left: 8px">Launch</div>
        </div>
    </div>
</div>
<script>
    function round(num, precision) {
        return +(Math.round(num + "e+" + precision)  + "e-" + precision);
    }

    angular.module("App", []).controller("Controller", function ($scope, $http) {
        var orderbookTimer = null;
        var ticker = null || "SOL"
        var token = "123" || localStorage.getItem('token')
        if (token == null)
            localStorage.setItem('token', token = Math.random())

        $scope.sellLineClick = function (index) {
            $scope.is_sell = false
            $scope.amount = 0
            for (var i = $scope.sell.length - 1; i >= index; i--)
                $scope.amount += $scope.sell[i].amount
            $scope.amount = round($scope.amount, 2)
            $scope.price = round($scope.sell[index].price, 2)
            $scope.changeAmount()
        }

        $scope.buyLineClick = function (index) {
            $scope.is_sell = true
            $scope.amount = 0
            for (var i = 0; i <= index; i++)
                $scope.amount += $scope.buy[i].amount
            $scope.amount = round($scope.amount, 2)
            $scope.price = round($scope.buy[index].price, 2)
            $scope.changeAmount()
        }

        $scope.openCoin = function (newTicker, $event) {
            ticker = newTicker
            $scope.coin = $scope.coins[ticker]
            $scope.selectTab(1)
        }

        $scope.tabs = ["Market", "Trade", "About"]
        $scope.tabIndex;
        $scope.selectTab = function (index) {
            if (orderbookTimer != null)
                clearInterval(orderbookTimer)
            if (index == 0)
                initMarket()
            if (index == 1)
                initTrade()
            if (index == 2)
                initChart()
            $scope.tabIndex = index
        }

        function initTrade() {
            $scope.price = $scope.coin.price
            $scope.availableCoin = $scope.balances[ticker] ? $scope.balances[ticker].spot : 0
            $scope.availableUsdt = $scope.balances["USDT"].spot
            updateOrderbook();
            orderbookTimer = setInterval(updateOrderbook, 1000)
            updateOrders();
        }


        $scope.showLaunchpad = false
        $scope.launchCoin = {}
        $scope.launch = function () {
            $http({
                method: "POST",
                url: "api/create_coin.php",
                data: {
                    token: token,
                    ticker: $scope.launchCoin.ticker,
                    name: $scope.launchCoin.name
                }
            }).then(function (response) {
                if (response.data.result) {
                    var loadUser = false
                    updateUser(function () {
                        loadUser = true
                        attemptToClose()
                    })
                    var loadCoins = false
                    updateCoins(function () {
                        loadCoins = true
                        attemptToClose()
                    })

                    function attemptToClose() {
                        if (loadUser && loadCoins)
                            $scope.showLaunchpad = false
                    }
                }
            })
        }

        var chart
        var candleSeries

        function initChart() {
            if (chart == null) {
                var tradeChart = document.getElementById("tradeChart")
                chart = LightweightCharts.createChart(tradeChart, {
                    crosshair: {
                        mode: LightweightCharts.CrosshairMode.Normal,
                    },
                    timeScale: {
                        timeVisible: true,
                    },
                });
                candleSeries = chart.addCandlestickSeries();
                new ResizeObserver(entries => {
                    if (entries.length === 0 || entries[0].target !== tradeChart) return;
                    const newRect = entries[0].contentRect;
                    chart.applyOptions({height: newRect.height, width: newRect.width});
                }).observe(tradeChart)
                $scope.getSticks($scope.period || $scope.periods[0])
            }
        }

        var currentBar = {}

        function updateChart() {
            if (chart != null) {
                var price = parseFloat($scope.coin.price)
                var nextTime = Math.ceil(new Date() / 1000 / 60) * 60
                if (nextTime != currentBar.time) {
                    currentBar.open = currentBar.close || price
                    currentBar.high = price
                    currentBar.low = price
                    currentBar.close = price
                    currentBar.time = nextTime
                } else {
                    currentBar.close = price
                    currentBar.high = Math.max(currentBar.high, price)
                    currentBar.low = Math.min(currentBar.low, price)
                }
                candleSeries.update(currentBar)
            }
        }

        $scope.setPortion = function (percent) {
            $scope.amount = ($scope.is_sell ? $scope.availableCoin : $scope.availableUsdt) * (percent / 100)
            $scope.changeAmount()
        }

        $scope.periods = ['1m', '5m', '15m', '1H', '1D']
        $scope.period

        $scope.getSticks = function (period) {
            $scope.period = period
            $http({
                method: "POST",
                url: "api/sticks.php",
                data: {
                    ticker: ticker,
                    period: $scope.period
                }
            }).then(function (response) {
                candleSeries.setData(response.data.sticks)
            })
        }

        $scope.place = function () {
            $http({
                method: "POST",
                url: "api/place.php",
                data: {
                    token: token,
                    ticker: ticker,
                    is_sell: $scope.is_sell ? "1" : "0",
                    price: $scope.price,
                    amount: $scope.amount
                }
            }).then(function (response) {
                updateOrders()
            })
        }

        $scope.cancel = function (order_id) {
            $http({
                method: "POST",
                url: "api/cancel.php",
                data: {token: token, order_id: order_id}
            }).then(function (response) {
                updateOrders()
            })
        }
        $scope.cancelAll = function () {
            $http({
                method: "POST",
                url: "api/cancelAll.php",
                data: {token: token, ticker: ticker}
            }).then(function () {
                updateOrders()
            })
        }

        function initOrders() {

        }

        function initWallet() {

        }


        $scope.is_sell = false
        $scope.price;
        $scope.amount;
        $scope.total;
        $scope.availableCoin;
        $scope.availableUsdt;


        $scope.changePrice = function () {
            if ($scope.price != null && $scope.amount != null)
                $scope.total = round($scope.price * $scope.amount, 4)
        }


        $scope.changeAmount = function () {
            if ($scope.price != null && $scope.amount != null)
                $scope.total = round($scope.price * $scope.amount, 4)
        }


        $scope.changeTotal = function () {
            if ($scope.price != null && $scope.total != null)
                $scope.amount = round($scope.total / $scope.price, 2)
        }


        var userLoaded = false
        var coinsLoaded = false

        updateUser(function () {
            userLoaded = true
            attemptInit()
        })

        updateCoins(function () {
            coinsLoaded = true
            attemptInit()
        })

        function attemptInit() {
            if (userLoaded && coinsLoaded)
                $scope.selectTab(1)
        }

        function updateUser(callback) {
            $http({method: "POST", url: "api/user.php", data: {token: token}}).then(function (response) {
                $scope.user = response.data.user
                $scope.balances = response.data.balances
                if (callback != null)
                    callback()
            })
        }

        function updateCoins(callback) {
            $http({method: "POST", url: "api/coins.php"}).then(function (response) {
                $scope.coins = response.data.coins
                $scope.coin = $scope.coins[ticker]
                if (callback != null)
                    callback()
            })
        }

        function initMarket() {
        }

        function updateOrderbook() {
            $http({
                method: "POST",
                url: "api/orderbook.php",
                data: {ticker: ticker}
            }).then(function (response) {
                $scope.sell = response.data.sell
                $scope.buy = response.data.buy
                $scope.coin = response.data.coin
                updateChart()
            })
        }

        function updateOrders() {
            $http({method: "POST", url: "api/orders.php", data: {token: token}}).then(function (response) {
                $scope.active = response.data.active
                $scope.history = response.data.history
            })
        }

        $scope.go = function (url, $event) {
            setTimeout(function () {
                window.location.href = url
            }, 500)
            $event.stopPropagation()
        }

        $scope.subscribe = function ($event) {

            $event.stopPropagation()
        }

        $scope.search_text = ""
        $scope.search = function (e) {
            e.preventDefault()
            $http({
                method: "POST",
                url: "search.php",
                data: {
                    search: $scope.search_text
                }
            }).then(function (response) {
                $scope.top = response.data.top
            })
        }

        var numberFormat = new Intl.NumberFormat('en-IN');
        $scope.priceFormat = function (number) {
            return "$" + numberFormat.format(number)
        }
        $scope.amountFormat = function (number) {
            return number // K M B T
        }
        $scope.changeFormat = function (number) {
            if (number < 0)
                return "-" + number + "%";
            else if (number == 0)
                return "0%";
            else if (number > 0)
                return "+" + number + "%";
        }

        $scope.changeBackColor = function (number) {
            return {'green-back': number > 0, 'gray-back': number == 0, 'red-back': number < 0}
        }

        $scope.changeColor = function (number) {
            return {'green-text': number > 0, 'gray-text': number == 0, 'red-text': number < 0}
        }

        $scope.timeFormat = function (number) {
            return new Date(number * 1000).toLocaleString()
        }

        $scope.bottomTabs = ["Orders", "Wallet"]
        $scope.bottomTabIndex = 0;
        $scope.selectBottomTab = function (index) {
            if (index == 0)
                initOrders()
            if (index == 1)
                initWallet()
            $scope.bottomTabIndex = index
        }

        $scope.groupNames = ["Active", "History"]
    });
</script>

</body>
</html>