<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <script src="../angular/angular.min.js"></script>

    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-messages.min.js"></script>

    <!-- Angular Material Javascript now available via Google CDN; version 1.2.1 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.2.1/angular-material.min.js"></script>


    <!-- Angular Material style sheet -->
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">

    <script src="https://unpkg.com/ui-avatar-svg@latest/dist/ui-avatar-svg.umd.js" type="module"></script>

    <link rel="stylesheet" href="fonts/firasans.css">
    <link rel="stylesheet" href="../flex/flex.css">
    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="style.css">

</head>
<body ng-app="App" class="col" ng-controller="Controller" ng-cloak>

<!--<div class="row line align-start-center shadow-bottom header">
    <div class="row align-center-center white-back-ripple" style="min-width: 40px; height: 40px; border-radius: 50%; ">
        <img src="img/back.svg" style="width: 18px;height: 18px;">
    </div>
    <div class="col" style="margin-left: 8px">
        <div class="size16">{{coin.ticker}}</div>
        <div class="size16 gray" style="margin-top: 2px">{{coin.name}}</div>
    </div>
    <div class="flex"></div>

    <div class="size16" style="margin-right: 8px">{{priceFormat(coin.price)}}</div>
    <div class="row white-text" style="padding: 8px 8px; border-radius: 2px; margin-right: 8px"
         ng-class="changeBackColor(coin.change24)">
        {{changeFormat(coin.change24)}}
    </div>

    <div class="row align-center-center white-back-ripple"
         style="min-width: 40px; height: 40px; border-radius: 50%; margin-right: 4px">
        <img src="img/star.svg" style="width: 18px;height: 18px;">
    </div>
</div>-->
<md-tabs class="page animate-show-hide" md-selected="tradeTabIndex" md-autoselect md-swipe-content
         ng-show="menuIndex == 0">
    <md-tab class="col" label="{{tabs[0]}}">
        <div class="row line" style="position: relative; margin: 8px 0;">
            <input class="flex shadow size16" type="text" placeholder="Search"
                   style="border: none; border-radius: 20px; height: 35px; padding: 7px 12px">
            <img src="img/loupe.svg"
                 style="width: 16px; height: 16px; position: absolute; right: 25px; top: 9px">
        </div>
        <div class="col " ng-repeat="(key, item) in coins">
            <md-content class="row line align-start-center" ng-click="openCoin(key)" md-ink-ripple
                        style="padding-top: 12px; padding-bottom: 12px;">
                <img src="img/coin/{{item.ticker}}.svg" class="coin-logo">
                <div class="col" style="margin-left: 7px">
                    <div class="size16">{{item.ticker}}</div>
                    <div class="gray-text size12">{{item.name}} $128.07B</div>
                </div>
                <div class="flex"></div>

                <div class="col align-start-end size13">
                    <div class="size14">{{priceFormat(item.price)}}</div>
                    <div class="green-text" style="">+3.75%</div>
                </div>
                {{item.ticket}}
                <div class="row align-center-center size13 " style="min-width: 70px; margin-left: 10px"
                     ng-show="!balances[key]">
                    <div class="row align-center-center green-back-ripple white-text"
                         style="border-radius: 2px; padding: 8px 11px;">
                        Get
                        <img src="img/card.svg" style="width: 11px;height: 11px; margin-left: 6px">
                    </div>
                </div>

                <div class="col align-center-end size13" style="min-width: 90px; margin-left: 10px"
                     ng-show="balances[key]">
                    <div class="size14">{{priceFormat(item.price * (balances[key].spot + balances[key].blocked))}}
                    </div>
                    <div class="">{{amountFormat(balances[key].spot + balances[key].blocked)}} {{key}}</div>
                </div>

                <!--<div class="row align-center-center white-back-ripple" ng-click="subscribe($event)"
                     style="min-width: 34px; height: 34px; border-radius: 50%;">
                    <img src="img/notify_off.svg" style="width: 18px;height: 18px;">
                </div>-->
            </md-content>
            <div class="gray-back" style="height: 1px"></div>
        </div>
    </md-tab>
    <md-tab class="flex col" label="{{tabs[1]}}">
        <div class="row line" style="margin-top: 12px">
            <div class="col" style="width: 202px;">
                <div class="row gray-back" style="height: 32px; padding: 1px; border-radius: 2px">
                    <div class="flex row align-center-center green-text ripple" style="border-radius: 2px"
                         ng-class="{'white-back': !is_sell, ' gray-back': is_sell}" ng-click="is_sell = false">
                        Buy
                    </div>
                    <div class="flex row align-center-center red-text ripple" style="border-radius: 2px"
                         ng-class="{'white-back': is_sell, ' gray-back': !is_sell}" ng-click="is_sell = true">
                        Sell
                    </div>
                </div>

                <div class="row input-wrapper" style="margin-top: 16px">
                    <div class="input-label-top">Price</div>
                    <input type="number" class="flex input" ng-model="price" ng-change="changePrice()">
                </div>

                <div class="row input-wrapper" style="margin-top: 16px">
                    <div class="input-label-top">{{coin.ticker}} amount</div>
                    <input type="number" class="flex input" ng-model="amount" ng-change="changeAmount()">
                </div>
                <div class="row" style="height: 22px">
                    <div class="flex row align-center-center gray-text white-back size12"
                         style="border: 1px solid rgba(0, 0, 0, 0.2);" ng-repeat="item in [25,50,75,100]"
                         ng-click="setPortion(item)">{{item}}%
                    </div>
                </div>
                <div class="row input-wrapper" style="margin-top: 16px">
                    <div class="input-label-top">Total</div>
                    <input type="number" class="flex input" ng-model="total" ng-change="changeTotal()">
                </div>

                <div class="row size10" style="margin-top: 8px">
                    <div class="gray-text">Available {{is_sell ? coin.ticker : "USDT"}}</div>
                    <div class="flex" style="border-bottom: 1px solid rgba(0, 0, 0, 0.2); margin: 0 4px"></div>
                    <div class="gray-text">{{amountFormat(is_sell ? availableCoin : availableUsdt)}}</div>
                </div>

                <div class="row align-center-center ripple green-back white-text size18"
                     style="height: 40px; margin-top: 15px; border-radius: 2px"
                     ng-class="{'red-back-ripple': is_sell, ' green-back-ripple': !is_sell}"
                     ng-click="place()">{{is_sell ? "Sell" : "Buy"}}
                    {{coin.ticker}}
                </div>

            </div>
            <div class="flex col" style="margin-left: 10px">

                <div class="row" style="margin-top: 16px">
                    <div class="gray-text size10">Price (USDT)</div>
                    <div class="flex"></div>
                    <div class="row gray-text size10">Amt ({{coin.ticker}})</div>
                </div>


                <!--orderbook-->
                <div class="col align-end" style="height: calc(20px * 6)">
                    <div class="row align-start-center" style="height: 20px;" ng-repeat="item in sell"
                         ng-click="sellLineClick($index)">
                        <div class="red-back"
                             style="position: absolute; width: 120px; height: 20px; opacity: 0.09;"></div>
                        <div class="red-text" style="margin-left: 4px">{{priceFormat(item.price)}}</div>
                        <div class="flex"></div>
                        <div>{{amountFormat(item.amount)}}</div>
                    </div>
                </div>
                <div class="row align-start-center">
                    <div class="flex" style="border-bottom: 1px solid rgba(0, 0, 0, 0.2);"></div>
                </div>
                <div class="col align-start" style="height: calc(20px * 6)">
                    <div class="row align-start-center" style="height: 20px;" ng-repeat="item in buy"
                         ng-click="buyLineClick($index)">
                        <div class="green-back"
                             style="position: absolute; width: 120px; height: 20px; opacity: 0.09;"></div>
                        <div class="green-text" style="margin-left: 4px">{{priceFormat(item.price)}}</div>
                        <div class="flex"></div>
                        <div>{{amountFormat(item.amount)}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row shadow size12" style="height: 40px; margin-top: 16px">
            <div class="flex col" ng-repeat="item in bottomTabs" ng-click="selectBottomTab($index   )">
                <div class="flex row align-center-center ripple">{{item}}</div>
                <div class="blue-back" style="height: 1px;" ng-show="bottomtradeTabIndex == $index"></div>
            </div>
        </div>
        <div class="col" ng-show="bottomtradeTabIndex == 0">
            <div class="col" ng-repeat="groupIndex in [0, 1]">
                <div class="row" style="margin-top: 12px;"
                     ng-show="$index == 0 && (active || []).length > 0">
                    <div class="line gray-text size14">{{groupNames[groupIndex]}}</div>
                    <div class="flex"></div>
                    <div class="line red-text size14" ng-click="cancelAll()">Cancel all</div>
                </div>
                <div class="line gray-text" style="margin-top: 12px;"
                     ng-show="$index == 1 && (history || []).length > 0">
                    {{groupNames[groupIndex]}}
                </div>
                <div class="col" ng-repeat="item in (groupIndex == 0 ? active : history)">
                    <div class="row line align-start-center"
                         style="padding-top: 12px; padding-bottom: 12px;">
                        <img src="img/coin/{{item.ticker}}.svg" class="coin-logo">
                        <div class="col" style="margin-left: 7px">
                            <div class="size16">{{item.ticker}}</div>
                            <div class="gray-text size12">{{timeFormat(item.timestamp)}}</div>
                        </div>
                        <div class="flex"></div>
                        <div class="col align-start-end size13">
                            <div class="size14">{{priceFormat(item.price)}}</div>
                            <div>{{priceFormat(item.price * item.amount)}}</div>
                        </div>
                        <div class="col align-start-end size13" style="min-width: 70px; margin-left: 10px">
                            <div class="size14">{{amountFormat(item.filled) + "/" + amountFormat(item.amount)}}
                            </div>
                            <div>Filled {{priceFormat(item.filled * item.price)}}</div>
                        </div>

                        <div class="row align-center-center"
                             style="min-width: 14px; height: 14px; border-radius: 50%; margin-left: 12px">
                            <img src="img/cancel.svg" class="img-red" ng-show="item.status == 0"
                                 ng-click="cancel(item.order_id)">
                            <img src="img/success.svg" class="img-green" ng-show="item.status == 1">
                            <img src="img/canceled.svg" class="img-red" ng-show="item.status == -1">
                        </div>
                    </div>
                    <div class="gray-back" style="height: 1px"></div>
                </div>
            </div>
        </div>
        <div class="col" ng-show="bottomtradeTabIndex == 1">
        </div>
    </md-tab>
    <md-tab class="flex col" label="{{tabs[2]}}">
        <div class="row">
            <div class="flex row align-center-center white-back-ripple" style="padding: 10px"
                 ng-repeat="item in periods" ng-click="getSticks(item)">{{item}}
            </div>
        </div>
        <div id="tradeChart" style="width: 100%; height: 300px"></div>
    </md-tab>

    <div class="flex"></div>
</md-tabs>


<md-tabs class="page animate-show-hide" md-selected="starterIndex" md-autoselect md-swipe-content
         ng-show="menuIndex == 1">
    <md-tab ng-show="starterIndex == 0" label="{{starter[0]}}">
        <div class="col line">
            <md-content class="col line  shadow" md-ink-ripple
                        style="margin-top: 12px; padding: 12px"
                        ng-repeat="(key, item) in ieo" ng-click="selectStarterCoin(item)">
                <div class="row align-start-center">
                    <img src="img/coin/{{item.ticker}}.svg" class="coin-logo">
                    <div class="size16">{{item.name}}</div>
                    <div class="size16 gray-text" style="margin-left: 4px">{{item.ticker}}</div>
                </div>
                <div class="row gray-back" style="margin-top: 20px; height: 3px">
                    <div class="green-back" ng-style="{'min-width': (item.filled / item.amount) + '%'}"></div>
                    <div class="flex"></div>
                </div>
                <div class="row">
                    <div class="col green-text">
                        <div>{{(item.filled / item.amount)}}%</div>
                        <div style="margin-top: 5px">founded</div>
                    </div>
                    <div class="col gray-text" style="margin-left: 24px">
                        <div>14</div>
                        <div style="margin-top: 5px">backers</div>
                    </div>
                    <div class="col gray-text" style="margin-left: 24px">
                        <div>29</div>
                        <div style="margin-top: 5px">days to go</div>
                    </div>
                </div>

                <div class="row" style="margin-top: 20px">
                    <img src="img/rocket.svg" style="width: 12px; height: 12px;">
                    <div class="div gray-text" style="margin-left: 4px">Rocket bank</div>
                </div>
            </md-content>
        </div>
    </md-tab>


    <md-tab class="flex col white-back" label="{{starter[1]}}">
        <div class="flex col scroll line input-list-wrapper">
            <div class="size16">{{starterCoin.name}}</div>
            <div class="row multiline-text">{{starterCoin.description}}</div>
            <div class="row">
                <div class="row align-start-center">
                    <img src="img/rocket.svg" style="width: 12px; height: 12px;">
                    <div class="div gray-text" style="margin-left: 4px">Category</div>
                </div>
                <div class="row align-start-center" style="margin-left: 14px">
                    <img src="img/position.svg" style="width: 10px; height: 10px;">
                    <div class="div gray-text" style="margin-left: 4px">Honkong</div>
                </div>
            </div>
            <div class="row gray-back" style="margin-top: 20px; height: 3px">
                <div class="green-back"
                     ng-style="{'min-width': (starterCoin.filled / starterCoin.amount) + '%'}"></div>
                <div class="flex"></div>
            </div>
            <div class="row">
                <div class="col green-text">
                    <div>{{priceFormat(starterCoin.price * starterCoin.filled)}}</div>
                    <div style="margin-top: 5px">pledged of
                        {{priceFormat(starterCoin.price * starterCoin.amount)}}
                    </div>
                </div>
                <div class="col gray-text" style="margin-left: 24px">
                    <div>14</div>
                    <div style="margin-top: 5px">backers</div>
                </div>
                <div class="col gray-text" style="margin-left: 24px">
                    <div>29</div>
                    <div style="margin-top: 5px">days to go</div>
                </div>
            </div>
            <div style="margin-top: 20px">
                <div class="col white-back-ripple">
                    <div class="row" style="padding: 12px 0;">
                        <div class="flex">Campaing</div>
                        <img src="img/right.svg" style="width: 18px; height: 18px;">
                    </div>
                    <div class="gray-back" style="height: 1px; width: 100%"></div>
                </div>
                <div class="col white-back-ripple">
                    <div class="row" style="padding: 12px 0;">
                        <div class="flex">Updates</div>
                        <div style="margin-right: 6px">0</div>
                    </div>
                    <div class="gray-back" style="height: 1px; width: 100%"></div>
                </div>
                <div class="col white-back-ripple">
                    <div class="row" style="padding: 12px 0;">
                        <div class="flex">Comments</div>
                        <div style="margin-right: 6px">0</div>
                    </div>
                </div>
            </div>
            <div class="row gray-text size12 multiline-text">
                This project will only funded if at least 4300$ is pledged by 20 may 2022 13:00
            </div>
        </div>
        <div class="col line input-list-wrapper" ng-class="{'shadow-bottom': true}"
             style="padding-bottom: 20px; padding-top: 12px; border-top-left-radius: 20px; border-top-right-radius: 20px;">
            <div class="row input-wrapper">
                <div class="input-label-top">Donate</div>
                <input type="text" class="flex input" ng-model="starterCoin.donate">
                <div class="input-label-right">max 3 000$</div>
            </div>

            <div class="flex row align-center-center green-back-ripple white-text"
                 style="border-radius: 40px; padding: 14px"
                 ng-click="backProject()">
                Back this project
            </div>
        </div>
    </md-tab>
    <md-tab class="flex col line input-list-wrapper" label="{{starter[2]}}">
        <div class="row align-start-center">
            <img id="starter-logo" class="coin-logo" ng-click="generateStarterLogo()">
            <div class="flex row input-wrapper">
                <div class="input-label-top">Name</div>
                <input type="text" class="flex input" ng-model="launchCoin.name" ng-change="generateStarterLogo()">
            </div>
        </div>
        <div class="row input-wrapper">
            <div class="input-label-top">Ticker</div>
            <input type="text" class="flex input" ng-model="launchCoin.ticker">
        </div>
        <div class="row input-wrapper">
            <div class="input-label-top">Description</div>
            <textarea class="flex input" ng-model="launchCoin.description" style="height: 100px"></textarea>
        </div>
        <div class="row input-wrapper">
            <div class="input-label-top">Supply</div>
            <input type="number" class="flex input" ng-model="launchCoin.supply"
                   min="0" max="10000" step="1">
            <div class="input-label-right">max 10 000 {{launchCoin.ticker}}</div>
        </div>
        <div class="row input-wrapper">
            <div class="input-label-top">Starter supply</div>
            <input type="number" class="flex input" min="0" max="10000" step="1"
                   ng-model="launchCoin.starter_supply">
            <div class="input-label-right">max 1 000 {{launchCoin.ticker}}</div>
        </div>
        <div class="row input-wrapper">
            <div class="input-label-top">Starter price</div>
            <input type="number" class="flex input" min="0" max="100" step="0.01" ng-model="launchCoin.price">
            <div class="input-label-right">max $100</div>
        </div>
        <div class="row gray-text size12 multiline-text">
            This project will only funded if at least {{launchCoin.starter_supply * launchCoin.price || 0}}$ is
            pledged by 20 may 2022 13:00
        </div>
        <div class="row align-center-center ripple green-back white-text size18"
             style="height: 40px; border-radius: 2px"
             ng-class="{'red-back-ripple': is_sell, ' green-back-ripple': !is_sell}"
             ng-click="launch()">
            <img src="img/rocket.svg" style="width: 18px;height: 18px;">
            <div class="size16" style="margin-left: 8px">Launch</div>
        </div>
    </md-tab>
    <div class="flex"></div>
</md-tabs>


<md-tabs class="page animate-show-hide" md-selected="earnIndex" md-autoselect md-swipe-content ng-show="menuIndex == 2">
    <md-tab class="flex line col white-back" label="{{earn[0]}}">
        <div class="col white-back-ripple shadow" style="margin-top: 20px" ng-repeat="(ticker, item) in tc"
             ng-click="selectTC(item)" ng-show="selectedTC == null">
            <img src="img/rocket.svg" style="width: 100%; height: 140px;">
            <div class="row align-start-center" style="margin: 8px 12px">
                <img src="img/coin/{{ticker}}.svg" class="coin-logo">
                <div class="col flex">
                    <div class="size16">{{ticker}}</div>
                    <div class="gray-text">{{coins[ticker].name}}</div>
                </div>
                <div class="row align-center-center blue-back-ripple white-text" style="padding: 6px 12px"
                     ng-click="openTrade(key)">
                    Buy {{ticker}}
                </div>
            </div>
        </div>

        <div class="flex col white-back" ng-show="selectedTC != null">
            <div class="row header line align-start-center">
                <div class="white-back-ripple" style="border-radius: 50%">
                    <img src="img/back.svg" style="width: 40px;height: 40px;" ng-click="selectTC(null)">
                </div>
            </div>
            <div class="col line align-start-center">
                <div class="row align-center-center">
                    <img src="img/coin/{{selectedTC.ticker}}.svg" class="coin-logo">
                </div>
                <div class="weight5 multiline-text" style="text-align: center; line-height: 24px; margin-top: 20px">
                    Get a chance to win a share of {{amountFormat(selectedTC.reward)}} {{selectedTC.ticker}} during the
                    trading competition. Trade bug to win the biggest
                    reward!
                </div>
                <div class="size8 gray-text" style="margin-top: 20px">Competition will finish after</div>
                <div class="col" style="width: 170px">
                    <div class="row" style="margin-top: 10px">
                        <div class="flex col align-center-center" ng-repeat="(key, item) in tcTimer">
                            <div class="size18 weight5">{{item}}</div>
                            <div class="size8" style="margin-top: 8px">{{key}}</div>
                        </div>
                    </div>
                    <div class="flex row align-center-center white-text blue-back-ripple"
                         style="padding: 8px 0; margin-top: 12px" ng-click="openTrade(selectedTC.ticker)">Buy
                        {{selectedTC.ticker}}
                    </div>
                </div>
            </div>
            <div class="gray-back" style="height: 1px; margin-top: 12px"></div>
            <div class="col line">
                <div class="weight5" style="margin-top: 20px">Other participants</div>
                <div class="col" ng-repeat="item in selectedTCWinners">
                    <div class="row align-start-center" style="height: 60px;">
                        <div>{{$index}}.</div>
                        <div class="col" style="margin-left: 20px">
                            <div>{{item.winner}}</div>
                            <div class="gray-text size12" style="margin-top: 4px">{{amountFormat(item.traded)}}</div>
                        </div>
                    </div>
                    <div class="gray-back" style="height: 1px;"></div>
                </div>
            </div>
        </div>

    </md-tab>
    <md-tab class="flex line col white-back" label="{{earn[1]}}">
        <div ng-show="selectedStaking == null">
            <div ng-show="stakes.length > 0">
                <div style="margin-top: 12px">Active stakes</div>
                <div class="col shadow" ng-repeat="item in stakes" style="padding: 12px; margin-top: 12px">
                    <div class="row align-start-center">
                        <img src="img/coin/{{item.ticker}}.svg" class="coin-logo">
                        <div style="margin-left: 12px">{{item.ticker}}</div>
                        <div class="flex"></div>
                        <div class="col align-center-center">
                            <div>Earned</div>
                            {{item.earned}}
                        </div>
                    </div>
                    <div class="row align-center-center ripple red-back white-text size18"
                         style="height: 40px; margin-top: 15px; border-radius: 2px"
                         ng-click="unstake(item)">
                        Unstake {{priceFormat(item.earned + item.amount)}} {{item.ticker}}
                    </div>
                </div>
            </div>
            <div style="margin-top: 12px">Staking plans</div>
            <div class="col shadow" ng-repeat="item in stakingActive" style="padding: 12px; margin-top: 12px">
                <div class="row align-start-center">
                    <img src="img/coin/{{item.ticker}}.svg" class="coin-logo">
                    <div>{{item.ticker}}</div>
                    <div class="flex"></div>
                    <div class="col align-center-center">
                        <div>Year earn percent</div>
                        <div class="green-text">{{changeFormat(item.staking_apy)}}</div>
                    </div>
                </div>
                <div class="row align-center-center ripple blue-back white-text size18"
                     style="height: 40px; margin-top: 15px; border-radius: 2px"
                     ng-click="selectStaking(item)">
                    Stake {{item.ticker}}
                </div>
            </div>
        </div>
        <div class="flex col white-back" ng-show="selectedStaking != null">
            <div class="row header line align-start-center">
                <div class="white-back-ripple" style="border-radius: 50%">
                    <img src="img/back.svg" style="width: 40px;height: 40px;" ng-click="selectStaking(null)">
                </div>
            </div>

            <div class="row input-wrapper" style="margin-top: 16px">
                <div class="input-label-top">Stake {{selectedStaking.ticker}}</div>
                <div class="input-label-right">Balance {{balances[selectedStaking.ticker].spot}}</div>
                <input type="number" class="flex input" ng-model="stakingAmount">
            </div>

            <div class="row align-center-center ripple blue-back white-text size18"
                 style="height: 40px; margin-top: 15px; border-radius: 2px"
                 ng-click="stake()">
                Stake {{stakingAmount}} {{selectedStaking.ticker}}
            </div>
        </div>
    </md-tab>
    <md-tab class="flex line col white-back" label="{{earn[2]}}">
        <div class="col shadow" ng-repeat="item in drops" style="padding: 12px; margin-top: 12px">
            <div class="row align-start-center">
                <img src="img/coin/{{item.ticker}}.svg" class="coin-logo">
                <div>{{item.ticker}}</div>
                <div class="flex"></div>
                <div class="col align-center-center">
                    <div>Reward</div>
                    <div class="green-text">{{item.reward}} {{item.ticker}}</div>
                </div>
            </div>
            <div class="row align-center-center ripple blue-back white-text size18"
                 style="height: 40px; margin-top: 15px; border-radius: 2px"
                 ng-show="!item.rewarded"
                 ng-click="openDrop(item)">
                Participate
            </div>
            <div class="row align-center-center ripple gray-back white-text size18"
                 style="height: 40px; margin-top: 15px; border-radius: 2px"
                 ng-show="item.rewarded">
                Rewarded
            </div>
        </div>
    </md-tab>
    <div class="flex"></div>
</md-tabs>

<div class="page animate-show-hide" ng-show="menuIndex == 3">
    <div class="col white-back" style="padding: 12px; margin-top: 12px">
        <div class="col" ng-show="user.email_confirmed == 1">
            <div class="col align-center-center">
                <img src="img/secure.svg" style="width: 50px; height: 50px;">
                <div style="margin-top: 20px;">Your account protected</div>
                <div style="margin-top: 12px;">{{user.email}}</div>
            </div>
        </div>
        <div class="col" ng-show="user.email_confirmed <= 0">
            <div class="col align-center-center">
                <img src="img/unsecure.svg" style="width: 50px; height: 50px;">
                <div style="margin: 20px 0;">Link email for save your money</div>
            </div>
            <div class="row input-wrapper" style="margin-top: 16px">
                <div class="input-label-top">Email</div>
                <input type="email" class="flex input" ng-model="user.email">
            </div>
            <div class="row align-center-center ripple blue-back-ripple white-text size18"
                 style="height: 40px; margin-top: 15px; border-radius: 2px"
                 ng-click="sendEmailCode()">
                Send Code
            </div>
        </div>
        <div class="row input-wrapper" style="margin-top: 16px"
             ng-show="user.email_confirmed == 0">
            <div class="input-label-top">Code</div>
            <input type="number" class="flex input" ng-model="user.email_confirm_code">
        </div>
        <div class="row align-center-center ripple blue-back-ripple white-text size18"
             style="height: 40px; margin-top: 15px; border-radius: 2px"
             ng-show="user.email_confirmed == 0"
             ng-click="confirmEmailCode()">
            Confirm code
        </div>
    </div>
    <md-tabs class="flex" md-selected="walletIndex" md-autoselect md-swipe-content>
        <md-tab label="{{walletTabs[0]}}">
            <div class="col">
                <div class="col" ng-repeat="(ticker, item) in balances">
                    <div class="row line align-start-center"
                         style="padding-top: 12px; padding-bottom: 12px;">
                        <img src="img/coin/{{ticker}}.svg" class="coin-logo">
                        <div class="col">
                            <div class="size16">{{ticker}}</div>
                            <div class="gray-text size12">{{coins[ticker].name}} $128.07B</div>
                        </div>
                        <div class="flex"></div>
                        <div class="col align-start-end size13">
                            <div class="size14">{{priceFormat(coins[ticker].price)}}</div>
                            <div ng-class="changeColor(coins[key].change24)">
                                {{changeFormat(coins[ticker].change24)}}
                            </div>
                        </div>
                        <div class="col align-start-end size13" style="min-width: 90px; margin-left: 10px">
                            <div class="size14">{{priceFormat(item.spot + item.blocked)}}</div>
                            <div>{{amountFormat(item.spot + item.blocked) + " " + ticker}}</div>
                        </div>
                    </div>
                    <div class="gray-back" style="height: 1px"></div>
                </div>

            </div>
        </md-tab>
        <md-tab label="{{walletTabs[1]}}">
            wefw
        </md-tab>
        <div class="flex"></div>
    </md-tabs>

    <div class="col" ng-show="walletIndex == 0">

    </div>

    <div class="col" ng-show="walletIndex == 0">

    </div>
</div>


<div class="row shadow size12" style="position: absolute; left: 0; bottom: 0; width: 100%; min-height: 40px;">
    <div class="flex col" ng-repeat="item in menu">
        <div class="blue-back animate-show-hide" style="height: 2px;" ng-show="menuIndex == $index"></div>
        <md-content class="flex row align-center-center card-title" ng-click="selectMenu($index)" md-ink-ripple>
            {{item}}
        </md-content>
    </div>
</div>


<script>
    function round(num, precision) {
        return +(Math.round(num + "e+" + precision) + "e-" + precision);
    }

    var App = angular.module("App", ['ngMaterial', 'ngAnimate'])

    App.config(function ($mdThemingProvider) {
        $mdThemingProvider.theme('default')
            .accentPalette('indigo')
        //.dark()
    });

    App.controller("Controller", function ($scope, $http) {
        var orderbookTimer = null;
        var ticker = null || "SOL"
        var token = localStorage.getItem('token')
        if (token == null)
            localStorage.setItem('token', token = Math.random())

        $scope.walletTabs = ["Balances", "Transactions"]
        $scope.walletIndex = 0
        $scope.selectWalletTab = function (index) {
            $scope.walletIndex = index
        }

        $scope.sendEmailCode = function () {
            $http({
                method: "POST",
                url: "api/email_send_code.php",
                data: {
                    token: token,
                    email: $scope.user.email,
                }
            }).then(function (response) {
                updateUser()
            })
        }

        $scope.confirmEmailCode = function () {
            $http({
                method: "POST",
                url: "api/email_confirm.php",
                data: {
                    token: token,
                    email_confirm_code: $scope.user.email_confirm_code,
                }
            }).then(function (response) {
                updateUser()
            })
        }


        $scope.earn = ["Competitions", "Staking", "Drops"]
        $scope.earnIndex = 0
        $scope.tcTimer = {
            days: 12,
            hours: 35,
            minutes: 26,
            seconds: 58,
        }

        $scope.selectEarnTab = function (index) {
            if (index == 0)
                initCompetitions()
            if (index == 1)
                initStaking()
            if (index == 2)
                initDrops()
            $scope.earnIndex = index
        }

        function initDrops() {
            $http({
                method: "POST",
                url: "api/drops.php",
                data: {
                    token: token,
                }
            }).then(function (response) {
                $scope.drops = response.data.drops
            })
        }

        $scope.openDrop = function (drop) {
            if (drop.type == "SIMPLE") {
                $http({
                    method: "POST",
                    url: "api/drop_finish.php",
                    data: {
                        token: token,
                        drop_id: drop.drop_id,
                    }
                }).then(function (response) {
                    initDrops()
                })
            }
        }

        function initCompetitions() {
            $http({
                method: "POST",
                url: "api/tc.php",
            }).then(function (response) {
                $scope.tc = response.data.tc
            })
        }

        var stakingTimer;

        function initStaking() {
            if (stakingTimer != null)
                clearInterval(stakingTimer)
            stakingTimer = setInterval(stakingTimerAction, 1000)

            updateUser()

            $http({
                method: "POST",
                url: "api/stakes.php",
                data: {
                    token: token,
                }
            }).then(function (response) {
                $scope.stakes = response.data.stakes
            })

            updateCoins(function () {
                $scope.stakingActive = []
                for (var key in $scope.coins)
                    if ($scope.coins[key].staking_apy > 0)
                        $scope.stakingActive.push($scope.coins[key])
            })
        }

        function stakingTimerAction() {
            for (var key in $scope.stakes) {
                var stake = $scope.stakes[key]
                stake.earned = stake.amount * (new Date().getTime() / 1000 - stake.time) / (1000 * 60 * 60 * 24 * 365) * (stake.parameter / 100)
            }
            $scope.$apply()
        }

        $scope.selectStaking = function (item) {
            $scope.selectedStaking = item
        }

        $scope.stake = function () {
            $http({
                method: "POST",
                url: "api/stake.php",
                data: {
                    token: token,
                    ticker: $scope.selectedStaking.ticker,
                    amount: $scope.stakingAmount,
                }
            }).then(function (response) {
                $scope.selectedStaking = null
                initStaking()
            })
        }

        $scope.unstake = function (item) {
            $http({
                method: "POST",
                url: "api/stake_close.php",
                data: {
                    token: token,
                    stake_id: item.transfer_id,
                }
            }).then(function (response) {
                initStaking()
            })
        }


        $scope.selectTC = function (item) {
            $scope.selectedTC = item
            if (item != null)
                $http({
                    method: "POST",
                    url: "api/tc_winners.php",
                    data: {
                        ticker: item.ticker,
                        start: item.start,
                    }
                }).then(function (response) {
                    $scope.selectedTCWinners = response.data.winners
                })

        }

        $scope.openTrade = function (ticker) {
            $scope.coin = $scope.coins[ticker]
            $scope.tradeTabIndex = 1
            $scope.selectMenu(0)
        }

        $scope.starter = ["List", "Overview", "Launchpad"]
        $scope.starterIndex = 0

        $scope.selectStarterTab = function (index) {
            if (index == 0)
                initStarterList()
            $scope.generateStarterLogo()
            $scope.starterIndex = index
        }

        function initStarterList(ticker) {
            $http({
                method: "POST",
                url: "api/ieo.php",
                data: $scope.launchCoin
            }).then(function (response) {
                $scope.ieo = response.data.ieo
                $scope.starterCoin = $scope.ieo[ticker] || $scope.ieo[0]
            })
        }

        $scope.starterCoin
        $scope.selectStarterCoin = function (starterCoin) {
            $scope.starterCoin = starterCoin
            $scope.selectStarterTab(1)
        }

        $scope.backProject = function () {
            $http({
                method: "POST",
                url: "api/place.php",
                data: {
                    token: token,
                    ticker: $scope.starterCoin.ticker,
                    is_sell: "0",
                    price: $scope.starterCoin.price,
                    amount: $scope.starterCoin.donate / $scope.starterCoin.price
                }
            }).then(function (response) {
                initStarterList($scope.starterCoin.ticker)
            })
        }

        $scope.showLaunchpad = false
        $scope.launchCoin = {
            ticker: "DOGE",
            name: "Doge Coin",
            description: "Coin for dogs",
            supply: 10000,
            price: 0.2,
            starter_supply: 100,
        }

        $scope.generateStarterLogo = function () {
            var svg = new UIAvatarSvg()
                .text(($scope.launchCoin.name || "B")[0].toUpperCase())
                .round(true)
                .size(64)
                .bgColor('#' + Math.floor(Math.random() * 16777215).toString(16))
                .textColor('#ffffff')
                .fontSize(0.8)
                .fontWeight('normal')
                .fontFamily('-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif')
                .generate()
            $scope.launchCoin.logo = new Blob([svg], {type: 'image/svg+xml'})
            //document.getElementById('starter-logo').src = URL.createObjectURL($scope.launchCoin.logo)
        }

        $scope.launch = function () {
            $scope.launchCoin.token = token
            $http({
                method: 'POST',
                url: 'api/create_coin.php',
                headers: {
                    'Content-Type': undefined
                },
                data: $scope.launchCoin,
                transformRequest: function (data) {
                    var formData = new FormData();
                    angular.forEach(data, function (value, key) {
                        formData.append(key, value);
                    });
                    return formData;
                }
            }).then(function (response) {
                if (response.data.result) {
                    var loadUser = false
                    updateUser(function () {
                        loadUser = true
                        attemptToClose()
                    })
                    var loadCoins = false
                    updateCoins(function () {
                        loadCoins = true
                        attemptToClose()
                    })

                    function attemptToClose() {
                        $scope.selectStarterTab(0)
                    }
                }
            })
        }


        $scope.sellLineClick = function (index) {
            $scope.is_sell = false
            $scope.amount = 0
            for (var i = $scope.sell.length - 1; i >= index; i--)
                $scope.amount += $scope.sell[i].amount
            $scope.amount = round($scope.amount, 2)
            $scope.price = round($scope.sell[index].price, 2)
            $scope.changeAmount()
        }

        $scope.buyLineClick = function (index) {
            $scope.is_sell = true
            $scope.amount = 0
            for (var i = 0; i <= index; i++)
                $scope.amount += $scope.buy[i].amount
            $scope.amount = round($scope.amount, 2)
            $scope.price = round($scope.buy[index].price, 2)
            $scope.changeAmount()
        }

        $scope.openCoin = function (newTicker, $event) {
            ticker = newTicker
            $scope.coin = $scope.coins[ticker]
            $scope.selectTradeTab(1)
        }

        $scope.tabs = ["Market", "Trade", "About"]
        $scope.tradeTabIndex = 0;
        $scope.selectTradeTab = function (index) {
            if (orderbookTimer != null)
                clearInterval(orderbookTimer)
            if (index == 0)
                initMarket()
            if (index == 1)
                initTrade()
            if (index == 2)
                initChart()
            $scope.tradeTabIndex = index
        }

        function initTrade() {
            $scope.availableCoin = $scope.balances[$scope.coin.ticker] ? $scope.balances[$scope.coin.ticker].spot : 0
            $scope.availableUsdt = $scope.balances["USDT"].spot
            updateOrderbook();
            orderbookTimer = setInterval(updateOrderbook, 1000)
            updateOrders();
        }


        var chart
        var candleSeries

        function initChart() {
            if (chart == null) {
                var tradeChart = document.getElementById("tradeChart")
                chart = LightweightCharts.createChart(tradeChart, {
                    crosshair: {
                        mode: LightweightCharts.CrosshairMode.Normal,
                    },
                    timeScale: {
                        timeVisible: true,
                    },
                });
                candleSeries = chart.addCandlestickSeries();
                new ResizeObserver(entries => {
                    if (entries.length === 0 || entries[0].target !== tradeChart) return;
                    const newRect = entries[0].contentRect;
                    chart.applyOptions({height: newRect.height, width: newRect.width});
                }).observe(tradeChart)
                $scope.getSticks($scope.period || $scope.periods[0])
            }
        }

        var currentBar = {}

        function updateChart() {
            if (chart != null) {
                var price = parseFloat($scope.coin.price)
                var nextTime = Math.ceil(new Date() / 1000 / 60) * 60
                if (nextTime != currentBar.time) {
                    currentBar.open = currentBar.close || price
                    currentBar.high = price
                    currentBar.low = price
                    currentBar.close = price
                    currentBar.time = nextTime
                } else {
                    currentBar.close = price
                    currentBar.high = Math.max(currentBar.high, price)
                    currentBar.low = Math.min(currentBar.low, price)
                }
                candleSeries.update(currentBar)
            }
        }

        $scope.setPortion = function (percent) {
            $scope.amount = ($scope.is_sell ? $scope.availableCoin : $scope.availableUsdt) * (percent / 100)
            $scope.changeAmount()
        }

        $scope.periods = ['1m', '5m', '15m', '1H', '1D']
        $scope.period

        $scope.getSticks = function (period) {
            $scope.period = period
            $http({
                method: "POST",
                url: "api/sticks.php",
                data: {
                    ticker: ticker,
                    period: $scope.period
                }
            }).then(function (response) {
                candleSeries.setData(response.data.sticks)
            })
        }

        $scope.place = function () {
            $http({
                method: "POST",
                url: "api/place.php",
                data: {
                    token: token,
                    ticker: ticker,
                    is_sell: $scope.is_sell ? "1" : "0",
                    price: $scope.price,
                    amount: $scope.amount
                }
            }).then(function (response) {
                updateOrders()
            })
        }

        $scope.cancel = function (order_id) {
            $http({
                method: "POST",
                url: "api/cancel.php",
                data: {token: token, order_id: order_id}
            }).then(function (response) {
                updateOrders()
            })
        }
        $scope.cancelAll = function () {
            $http({
                method: "POST",
                url: "api/cancelAll.php",
                data: {token: token, ticker: ticker}
            }).then(function () {
                updateOrders()
            })
        }

        function initOrders() {

        }

        function initWallet() {

        }


        $scope.is_sell = false
        $scope.price;
        $scope.amount;
        $scope.total;
        $scope.availableCoin;
        $scope.availableUsdt;


        $scope.changePrice = function () {
            if ($scope.price != null && $scope.amount != null)
                $scope.total = round($scope.price * $scope.amount, 4)
        }


        $scope.changeAmount = function () {
            if ($scope.price != null && $scope.amount != null)
                $scope.total = round($scope.price * $scope.amount, 4)
        }


        $scope.changeTotal = function () {
            if ($scope.price != null && $scope.total != null)
                $scope.amount = round($scope.total / $scope.price, 2)
        }


        var userLoaded = false
        var coinsLoaded = false

        updateUser(function () {
            userLoaded = true
            attemptInit()
        })

        updateCoins(function () {
            coinsLoaded = true
            attemptInit()
        })

        function attemptInit() {
            if (userLoaded && coinsLoaded)
                $scope.selectMenu($scope.menuIndex)
        }

        function updateUser(callback) {
            $http({method: "POST", url: "api/user.php", data: {token: token}}).then(function (response) {
                $scope.user = response.data.user
                $scope.balances = response.data.balances
                if (callback != null)
                    callback()
            })
        }

        function updateCoins(callback) {
            $http({method: "POST", url: "api/coins.php"}).then(function (response) {
                $scope.coins = response.data.coins
                $scope.coin = $scope.coins[ticker]
                if (callback != null)
                    callback()
            })
        }

        function initMarket() {
            updateUser()
        }

        function updateOrderbook() {
            $http({
                method: "POST",
                url: "api/orderbook.php",
                data: {ticker: $scope.coin.ticker}
            }).then(function (response) {
                $scope.sell = response.data.sell
                $scope.buy = response.data.buy
                $scope.coin = response.data.coin
                updateChart()
            })
        }

        function updateOrders() {
            $http({method: "POST", url: "api/orders.php", data: {token: token}}).then(function (response) {
                $scope.active = response.data.active
                $scope.history = response.data.history
            })
        }

        $scope.go = function (url, $event) {
            setTimeout(function () {
                window.location.href = url
            }, 500)
            $event.stopPropagation()
        }

        $scope.subscribe = function ($event) {
            $event.stopPropagation()
        }

        $scope.search_text = ""
        $scope.search = function (e) {
            e.preventDefault()
            $http({
                method: "POST",
                url: "search.php",
                data: {
                    search: $scope.search_text
                }
            }).then(function (response) {
                $scope.top = response.data.top
            })
        }

        var numberFormat = new Intl.NumberFormat('en-IN');
        $scope.priceFormat = function (number) {
            return "$" + numberFormat.format(round(number, 2))
        }
        $scope.amountFormat = function (number) {
            return round(number, 4) // K M B T
        }
        $scope.changeFormat = function (number) {
            if (number < 0)
                return "-" + number + "%";
            else if (number == 0)
                return "0%";
            else if (number > 0)
                return "+" + number + "%";
        }

        $scope.changeBackColor = function (number) {
            return {'green-back': number > 0, 'gray-back': number == 0, 'red-back': number < 0}
        }

        $scope.changeColor = function (number) {
            return {'green-text': number > 0, 'gray-text': number == 0, 'red-text': number < 0}
        }

        $scope.timeFormat = function (number) {
            return new Date(number * 1000).toLocaleString()
        }

        $scope.bottomTabs = ["Orders", "Wallet"]
        $scope.bottomtradeTabIndex = 0;
        $scope.selectBottomTab = function (index) {
            if (index == 0)
                initOrders()
            if (index == 1)
                initWallet()
            $scope.bottomtradeTabIndex = index
        }

        $scope.groupNames = ["Active", "History"]


        $scope.menu = ["Trade", "Starter", "Earn", "Wallet"]
        $scope.menuIndex = 0
        $scope.selectMenu = function (index) {
            if (index == 0)
                $scope.selectTradeTab($scope.tradeTabIndex)
            if (index == 1)
                $scope.selectStarterTab($scope.starterIndex)
            if (index == 2)
                $scope.selectEarnTab($scope.earnIndex)
            if (index == 3)
                $scope.selectWalletTab($scope.walletIndex)
            $scope.menuIndex = index
        }

        $scope.selectWalletTab(0)
    });

</script>

</body>
</html>