<md-dialog class="col fill">
    <div class="row header align-start-center">
        <img class="ripple" src="/wallet/img/back.svg" ng-click="close()">
        <p>Settings</p>
    </div>
    <div class="col content align-start-center">
        <div class="col block">
            <div class="flex row input-wrapper">
                <div class="input-label-top">Domain</div>
                <input type="text"
                       class="flex input"
                       ng-model="domain">
            </div>
            <div class="primary-button" ng-click="init()">
                Init
            </div>
            <div class="primary-button" ng-click="startMining()">
                Start mining
            </div>
        </div>
    </div>
</md-dialog>