<md-bottom-sheet class="col">
    <div style="position: absolute; right: 29px; top: -50px; z-index: 2">
        <img src="/wallet/img/share.png">
    </div>
    <div class="row header align-start-center">
        <img class="ripple" src="/wallet/img/back.svg" ng-click="back()">
        <p>Share</p>
    </div>
    <div class="col content">
        <div class="col input-content">
            <div class="col">
                <div class="row input-wrapper-black">
                    <div class="input-label">Amount {{formatTicker(domain)}}</div>
                    <input type="number"
                           id="invite_coins"
                           ng-model="amount">
                    <div class="input-label-right row align-center-center ripple"
                         ng-click="setMax()">
                        <p>MAX {{formatAmount(getMax())}}</p>
                    </div>
                </div>
                <div class="mt8 row nowrap">
                    <p>Net commission: {{formatAmount(gas_recommended, wallet.gas_domain)}}</p>
                </div>
            </div>
        </div>
        <div class="row mh16 mv8">
            <button class="flex primary-button radius4" ng-click="create()"
                    ng-disabled="!amount">
                Share
            </button>
        </div>
    </div>
</md-bottom-sheet>