<head>
    <title>Title</title>
    <link rel="icon" href="/wallet/logo.svg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="col" ng-app="App" ng-controller="Controller">
<div class="row header align-center">
    <div class="row block align-start-center">
        <p>Exchange {{domain}}</p>
    </div>
</div>
<div class="col content align-start-center scroll">
    <div class="col block">
        <div id="tradeChart" style="width: 100%; height: 300px" ng-show="showChart = !showChart"></div>
        <div class="row mt16 mh8">
            <div class="col" style="min-width: 200px;">
                <div class="row r3" style="height: 32px">
                    <div class="flex row align-center-center r3"
                         ng-class="{'green-back white-text': !is_sell, 'green-text': is_sell}"
                         ng-click="is_sell = false">
                        Buy
                    </div>
                    <div class="flex row align-center-center r3"
                         ng-class="{'red-back white-text': is_sell, 'red-text': !is_sell}"
                         ng-click="is_sell = true">
                        Sell
                    </div>
                </div>

                <div class="row input-wrapper mt16">
                    <div class="input-label">Price</div>
                    <input type="number" ng-model="price" ng-change="changePrice()">
                </div>

                <div class="row input-wrapper mt16">
                    <div class="input-label">Amount</div>
                    <input type="number" ng-model="amount" ng-change="changeAmount()">
                </div>
                <div class="row" style="height: 22px">
                    <div ng-repeat="item in [25,50,75,100]"
                         class="flex row align-center-center size12 ripple"
                         style="border: 1px solid var(--gray200);"
                         ng-click="setPortion(item)">
                        {{item}}%
                    </div>
                </div>
                <div class="row input-wrapper mt16">
                    <div class="input-label">Total</div>
                    <input type="number" ng-model="total" ng-change="changeTotal()">
                </div>

                <div class="row size10 mt8 nowrap">
                    <div class="flex gray400-text">Available</div>
                    <div>{{amountFormat(is_sell ? availableCoin : availableUsdt, is_sell ? domain : "USDT")}}</div>
                </div>

                <div class="row mt16 primary-button uppercase align-center-center"
                     style="height: 40px;"
                     ng-class="{'red-back': is_sell, ' green-back': !is_sell}"
                     ng-click="place()">
                    {{is_sell ? 'Sell' : 'Buy'}} {{formatDomain(domain)}}
                </div>
            </div>


            <div class="flex col" style="margin-left: 10px">
                <div class="row ripple r3 align-center-center" style="height: 32px"
                     ng-class="{'gray400-back': showChart}" ng-click="showChartToggle()">
                    Chart
                </div>
                <div class="row size10 gray300-text mt16 nowrap">
                    <div class="flex">Price (USDT)</div>
                    <div>Amt ({{formatDomain(domain)}})</div>
                </div>


                <!--orderbook-->
                <div class="col align-end" style="height: calc(20px * 6)">
                    <div class="row align-start-center ripple"
                         ng-repeat="item in sell"
                         style="height: 20px; position: relative"
                         ng-click="sellLineClick($index)">
                        <div class="red-back" style="position: absolute; height: 100%; opacity: 0.09;"
                             ng-style="{'min-width': item.percent + '%'}"></div>
                        <div class="flex ml4 red-text">{{formatPrice(item.price)}}</div>
                        <div class="red-text">{{formatAmount(item.amount)}}</div>
                    </div>
                </div>
                <md-divider></md-divider>
                <div class="col align-start" style="height: calc(20px * 6)">
                    <div class="row align-start-center ripple"
                         ng-repeat="item in buy" style="height: 20px; position: relative"
                         ng-click="buyLineClick($index)">
                        <div class="green-back" style="position: absolute; height: 100%; opacity: 0.09;"
                             ng-style="{'min-width': item.percent + '%'}"></div>
                        <div class="flex ml4 green-text">{{formatPrice(item.price)}}</div>
                        <div>{{formatAmount(item.amount)}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex primary-button" ng-click="init()">
        Init
    </div>
</div>

<script src="/node_modules/angular/angular.js"></script>
<script src="/node_modules/angular-aria/angular-aria.js"></script>
<script src="/node_modules/angular-animate/angular-animate.js"></script>
<script src="/node_modules/angular-messages/angular-messages.js"></script>
<script src="/node_modules/angular-material/angular-material.js"></script>
<link href="/node_modules/angular-material/angular-material.min.css" rel="stylesheet">
<script src="/node_modules/angular-material/angular-material.min.js"></script>

<link href="/flex/flex.css" rel="stylesheet">
<link href="/flex/shorts.css" rel="stylesheet">
<link href="/flex/colors.css" rel="stylesheet">
<link href="/flex/colors-dark.css" rel="stylesheet">
<link href="style.css" rel="stylesheet">

<script src="/wallet/utils/formats.js"></script>
<script src="/wallet/utils/backend.js"></script>
<script src="/wallet/utils/ui.js"></script>

<script src="controller.js"></script>
<script>
    controller(main)
</script>
<script async src="/wallet/dialogs/pin/controller.js"></script>
<script async src="/wallet/dialogs/success/controller.js"></script>
<script async src="/wallet/dialogs/info/controller.js"></script>
</body>
