<div class="layout-row layout-fill">
    <div class="layout-column flex-30">
        <div class="layout-column header">
            <div class="layout-row flex" style="padding: 5px 16px 0 16px">
                <md-input-container class="flex">
                    <input type="text" autocomplete="off" ng-model="searchText" placeholder="Search">
                </md-input-container>
            </div>
            <md-progress-linear md-mode="query" ng-disabled="!search_request_in_progress"></md-progress-linear>
        </div>
        <div class="layout-column" ng-repeat="domain in domain_similar">
            <md-content class="layout-row layout-align-start-center" md-ink-ripple
                        ng-click="openApp(domain.domain_name)"
                        style="padding: 24px 16px;">
                {{domain.domain_name}}
            </md-content>
            <md-divider></md-divider>
        </div>
        <div class="flex"></div>
        <md-content class="layout-row layout-align-center-center header" ng-click="open('app')" md-ink-ripple>
            New app
        </md-content>
    </div>
    <div class="layout-column flex">
        <div class="header layout-row layout-align-center-center">Desktop</div>
        <div class="layout-wrap flex" style="background-image: url(img/background.png); padding: 10px">
            <md-button class="md-primary md-raised" style="width: 80px; height: 80px; margin: 10px" ng-repeat="app in apps">
                {{app}}
            </md-button>
        </div>
    </div>
</div>