<md-bottom-sheet class="col">
    <div class="row header align-start-center">
        <img src="/wallet/img/back.svg" ng-click="close()">
        <p>Send {{domain}}</p>
    </div>
    <div class="input-content">
        <div class="flex row input-wrapper">
            <div class="input-label-top">To address</div>
            <input type="text"
                   class="flex input"
                   autocapitalize="none"
                   minlength="3"
                   maxlength="16"
                   onkeypress="return event.charCode != 32"
                   ng-model="to_address">
        </div>
        <div class="flex row input-wrapper" style="margin-top: 16px">
            <div class="input-label-top">Amount</div>
            <input type="number"
                   autocapitalize="off"
                   class="flex input"
                   ng-model="amount">
        </div>
        <div class="flex mt16 primary-button" ng-click="send()"
             ng-disabled="!to_address || !amount">
            Send {{domain}}
        </div>
    </div>
</md-bottom-sheet>