<md-bottom-sheet class="col">
    <div style="position: absolute; right: 26px; top: -30px; z-index: 2">
        <img src="/wallet/img/buy.png">
    </div>
    <div class="row header align-start-center">
        <img class="ripple" src="/wallet/img/back.svg" ng-click="back()">
        <p>Sell {{domain}}</p>
    </div>
    <div class="col content">
        <div class="col input-content">
            <div class="col align-start-center" ng-show="coin.price">
                <p class="size40 bold">{{formatPrice(coin.price)}}</p>
                <p class="">price</p>
            </div>
            <div class="row input-wrapper-black"  ng-hide="coin.price">
                <div class="input-label">Price</div>
                <input type="number"
                       ng-model="price">
            </div>
            <div class="col">
                <div class="row input-wrapper-black">
                    <div class="input-label">Amount {{formatTicker(domain)}}</div>
                    <input type="number"
                           ng-model="amount"
                           ng-change="calcTotal()">
                    <div class="input-label-right ph8 row align-center-center accent-text ripple"
                         ng-click="setMax()">
                        <p>MAX {{formatAmount(coin.balance)}}</p>
                    </div>
                </div>
                <div class="mt8 row nowrap">
                    <p>Net commission: {{formatAmount(gas_recommended, wallet.gas_domain)}}</p>
                </div>
            </div>
            <div class="col align-center-center">
                <p class="size32 bold">{{formatPrice(total)}}</p>
                <p class="">you get</p>
            </div>
        </div>
        <div class="row mh16 mv8">
            <div class="flex row align-end-center">
                <button class="flex primary-button radius4 red-back" ng-click="ico_sell()"
                        ng-disabled="!price && !amount">
                    Sell
                </button>
            </div>
        </div>
    </div>
</md-bottom-sheet>