<md-bottom-sheet class="col bottom-back">
    <div class="row ph8 pv16 align-start-center upper-back">
        <div class="col mr4 white-back-ripple" ng-click="back()">
            <img class="img38 p8 img-black" src="/wallet/img/back.svg">
        </div>
        <p class="flex size16 uppercase">Sell {{domain}}</p>
    </div>
    <div class="col input-content">
        <div class="row">
            <div class="filter blue-back-ripple"
                 ng-class="{'active': item == selectedPortion}"
                 ng-click="setPortion(item)"
                 ng-repeat="item in portions">
                {{item}}%
            </div>
        </div>
        <div class="flex row input-wrapper">
            <div class="input-label-top">Price for a token</div>
            <input type="number"
                   id="first_input"
                   class="flex input"
                   ng-model="price">
        </div>
        <p>For {{selectedPortion}}%({{formatAmount(amount, domain)}}) you will get {{formatPrice(amount * price)}}</p>
        <div class="primary-button red-back" ng-click="ico_sell()" ng-disabled="!price">
            Set price
        </div>
    </div>
</md-bottom-sheet>