<md-bottom-sheet class="col">
    <div style="position: absolute; right: 26px; top: -30px; z-index: 2">
        <img src="/wallet/img/buy.png">
    </div>
    <div class="row header align-start-center">
        <img class="ripple" src="/wallet/img/back.svg" ng-click="back()">
        <p>Sell {{domain}}</p>
    </div>
    <div class="col content">
        <div class="col input-content">
            <div class="row input-wrapper-black">
                <div class="input-label">Price</div>
                <input type="number"
                       ng-disabled="hasPrice"
                       ng-model="price">
            </div>
            <div class="row input-wrapper-black">
                <div class="input-label">Amount</div>
                <input type="number"
                       ng-model="amount">
                <div class="input-label-right ph8 row align-center-center accent-text ripple"
                     ng-click="setMax()">
                    <p>MAX</p>
                </div>
            </div>
            <div class="row">
                <div class="filter-black ripple black-text"
                     ng-class="{'active': item == selectedPortion}"
                     ng-click="setPortion(item)"
                     ng-repeat="item in portions">
                    {{item}}%
                </div>
            </div>
            <p>For ({{formatAmount(amount, domain)}}) you will get {{formatPrice(amount * price)}}</p>
            <div class="col size12">
                <p>Fee: {{formatAmount(1, wallet.gas_domain)}}</p>
                <p>Total: {{formatAmount(amount + 1, wallet.gas_domain)}}</p>
            </div>
        </div>
        <div class="primary-button red-back" ng-click="ico_sell()" ng-disabled="!price && !amount">
            Sell
        </div>
    </div>
</md-bottom-sheet>