<!DOCTYPE html>
<html lang="en">
<head>
    <!--https://material.angularjs.org/latest/-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallet</title>
    <link rel="icon" type="image/x-icon" href="img/fav.svg">
    <script src="/angular/angular.min.js"></script>
    <link href="/angular/angular-material.min.css" rel="stylesheet">
    <link href="/angular/binance_style.css" rel="stylesheet">
    <link href="/angular/colors.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <script src="/angular/angular-material.min.js"></script>
    <script src="/wallet/utils.js"></script>
    <script src="formats.js"></script>


    <script src="/swap/options/controller.js"></script>
    <script src="/swap/launch/controller.js"></script>
    <script src="/wallet/login/controller.js"></script>
    <script src="/wallet/reg/controller.js"></script>
    <script src="/wallet/send/controller.js"></script>

    <script>
        angular.module("App", ['ngMaterial', 'ngAnimate'])
            .controller("Controller", function ($scope, $http, $mdBottomSheet, $mdToast) {
                $scope.menuIndex = 0

                $scope.login = function () {
                    openLoginDialog($mdBottomSheet, $mdToast, updateBalances)
                }

                $scope.reg = function () {
                    openRegDialog($mdBottomSheet, $mdToast, updateBalances)
                }

                $scope.coins = {
                    "data": {},
                    "usdt": {}
                }

                function updateBalances() {
                    for (let path of Object.keys($scope.coins)) {
                        wallet.balance(path + "/wallet", function (balance) {
                            $scope.coins[path].balance = balance
                            $scope.$apply()
                        })
                    }
                }

                if (localStorage.getItem(wallet.STORE_USERNAME)) {
                    updateBalances()
                }

                $scope.options = function (wallet_path) {
                    openOptionsDialog($mdBottomSheet, wallet_path, updateBalances)
                }

                $scope.logout = function () {
                    wallet.logout()
                    $mdToast.show($mdToast.simple().textContent("Success logout"))
                }

                $scope.launch = function () {
                    openLaunchDialog($mdBottomSheet, $mdToast, updateBalances)
                }

                $scope.$watch('search_text', function (newValue) {
                    if (newValue == null) return;
                    if (newValue == "") {
                        $scope.unused_coins = recomended_tokens
                        $scope.$apply()
                    } else {
                        post('/swap/search/search.php', {
                            search_text: newValue
                        }, function (response) {
                            var list = response.result
                            for (let path of Object.keys($scope.coins)) {
                                var index = list.indexOf(path);
                                if (index !== -1)
                                    list.splice(index, 1);
                            }
                            $scope.unused_coins = list
                            $scope.$apply()
                        })
                    }
                })


                $scope.addToFavorites = function (item) {
                    localStorage.setItem()
                    alert(item)
                }

                var recomended_tokens = [
                    "bitcoin",
                    "etherium",
                ]

                $scope.unused_coins = recomended_tokens

                addFormats($scope)
            })
    </script>
</head>
<body class="col" ng-app="App" ng-controller="Controller">
<div class="row row-content align-start-center blue-back">
    <img class="coin img-red" src="img/fav.svg"/>
    <div class="row flex input-wrapper">
        <input type="text" class="flex input white-back-ripple" ng-model="search_text" placeholder="Search"
               style=" border-radius: 20px; padding-top: 1px">
    </div>
    <md-menu md-position-mode="target-right target">
        <img class="coin img-white" src="img/menu.svg" ng-click="$mdMenu.open($event)"/>
        <md-menu-content width="4">
            <md-menu-item class="row row-content align-start-center white-back-ripple" ng-click="launch()">
                <img class="coin" src="img/security.svg"/>
                <span>Launch</span>
            </md-menu-item>
            <md-menu-item class="row row-content align-start-center white-back-ripple" ng-click="login()">
                <img class="coin" src="img/security.svg"/>
                <span>Login</span>
            </md-menu-item>
            <md-menu-item class="row row-content align-start-center white-back-ripple" ng-click="reg()">
                <img class="coin" src="img/security.svg"/>
                <span>Registration</span>
            </md-menu-item>
            <md-menu-item class="row row-content align-start-center white-back-ripple" ng-click="buyDialog()">
                <img class="coin" src="img/usdt.svg"/>
                <span>Deposit</span>
            </md-menu-item>
            <md-menu-item class="row row-content align-start-center white-back-ripple" ng-click="logout()">
                <img class="coin" src="img/usdt.svg"/>
                <span>Logout</span>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>
<div class="col col-content row-content">
    <span>Your coins</span>
</div>
<div class="col" ng-repeat="(key, item) in coins">
    <div class="row align-start-center row-content white-back-ripple"
         ng-click="options(key)">
        <img class="coin" src="img/coin.svg">
        <span class="flex size14">{{tickerFormat(key)}}</span>
        <span>{{amountFormat(item['balance'])}}</span>
    </div>
    <div class="divider"></div>
</div>
<div class="col col-content row-content">
    <span>Other coins</span>
</div>
<div class="col" ng-repeat="item in unused_coins">
    <div class="row align-start-center row-content white-back-ripple">
        <img class="coin" src="img/coin.svg">
        <span class="flex size14">{{tickerFormat(item)}}</span>
        <md-switch ng-click="addToFavorites(item)"/>
    </div>
    <div class="divider"></div>
</div>
</body>
</html>