<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Wallet</title>
    <link rel="stylesheet" href="css/flex.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/lib/vue.js"></script>
    <script src="js/lib/store.legacy.min.js"></script>
    <script src="js/lib/http.js"></script>
    <script src="js/main.js"></script>
</head>
<body style="background-color: #eeeeee" class="col fill">
<div class="row align-center-center flex">
    <div class="col inputs" id="login">
        <div class="row align-center-center">
            <h2>Please Login</h2>
        </div>
        <form v-on:submit.prevent="sendEmailCode">
            <div class="row">
                <input class="flex" type="text" v-model="email" required placeholder="Email" :disabled="login_requesting || login_success">
                <input class="flex-40" type="submit" value="Send code" :disabled="login_requesting || login_success ">
            </div>
            <h4 v-if="login_success">Please check {{email}}</h4>
            <h4 v-if="login_error" style="color: red">Request error</h4>
        </form>
    </div>
</div>
</body>

<script>
    new Vue({
        el: "#login",
        data: {
            email: "x29a100@mail.ru",
            login_success: false,
            login_error: false,
            login_requesting: false,
        },
        methods: {
            sendEmailCode() {
                this.login_requesting = true
                post("login.php", {email: this.email}, (data) => {
                    this.login_success = true
                    this.login_error = false
                    this.login_requesting = false
                }, () => {
                    this.login_success = false
                    this.login_error = true
                    this.login_requesting = false
                })
            }

        }
    })
</script>

</html>