<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wallet</title>
    <link rel="icon" type="image/x-icon" href="logo.svg">
    <style>
        .image {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50px;
            height: 50px;
            margin: -25px 0 0 -25px;
            -webkit-animation: spin 1s linear infinite;
            -moz-animation: spin 1s linear infinite;
        }

        @-moz-keyframes spin {
            100% {
                -moz-transform: rotate(360deg);
            }
        }

        @-webkit-keyframes spin {
            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
    </style>
</head>
<body class="col" ng-app="App" ng-controller="Controller" style="overflow: hidden;">
<div style="position: fixed; left:0; top: 0; width: 100%; height: 100%; background: white; z-index: 1"
     ng-style="{'visibility': showBody ? 'hidden' : 'visible'}">
    <img class="image"
         src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KDTwhLS0gVXBsb2FkZWQgdG86IFNWRyBSZXBvLCB3d3cuc3ZncmVwby5jb20sIEdlbmVyYXRvcjogU1ZHIFJlcG8gTWl4ZXIgVG9vbHMgLS0+Cjxzdmcgd2lkdGg9IjgwMHB4IiBoZWlnaHQ9IjgwMHB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbD0ibm9uZSIgY2xhc3M9Imhkcy1mbGlnaHQtaWNvbi0tYW5pbWF0aW9uLWxvYWRpbmciPgoNPGcgZmlsbD0iIzAwMDAwMCIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPgoNPHBhdGggZD0iTTggMS41YTYuNSA2LjUgMCAxMDAgMTMgNi41IDYuNSAwIDAwMC0xM3pNMCA4YTggOCAwIDExMTYgMEE4IDggMCAwMTAgOHoiIG9wYWNpdHk9Ii4yIi8+Cg08cGF0aCBkPSJNNy4yNS43NUEuNzUuNzUgMCAwMTggMGE4IDggMCAwMTggOCAuNzUuNzUgMCAwMS0xLjUgMEE2LjUgNi41IDAgMDA4IDEuNWEuNzUuNzUgMCAwMS0uNzUtLjc1eiIvPgoNPC9nPgoNPC9zdmc+"/>
</div>

<div class="row ph8 pv16 align-start-center upper-back">
    <div class="col mr4 white-back-ripple" ng-click="openAccount()">
        <img class="img38 p8 img-black" src="/wallet/img/settings.svg">
    </div>
    <div class="row flex input-wrapper">
        <img class="img20"
             style="position: absolute; left: 8px; top: 11px"
             src="/wallet/img/search.svg">
        <input type="text"
               class="flex input white-back-ripple radius24"
               id="search_wrapper"
               autocapitalize="off"
               ng-model="search_text"
               placeholder="Find any token"
               style="padding-left: 34px">
    </div>
    <div class="col ml4 white-back-ripple" ng-click="openMessages()">
        <img class="img38 p8 img-black" src="/wallet/img/support.svg">
    </div>
</div>
<div class="flex col scrollable-vertical">
    <div class="col" ng-show="search_text == ''">
        <div class="col ph16" ng-show="drops.length">
            <p>Bonuses</p>
        </div>
        <div class="col" ng-repeat="item in bonuses">
            <div class="row ph16 pv8 align-start-center white-back-ripple" ng-click="receiveBonus(item)">
                <img class="logo" src="{{genLogo(item.logo)}}">
                <p class="flex size14 uppercase">{{item.domain}}</p>
                <div class="primary-button green-back">
                    Get
                </div>
            </div>
            <div class="divider"></div>
        </div>

        <div class="row ph16 pt16" ng-hide="wallet.username">
            <div class="flex primary-button"
                 ng-click="login()">
                Login or Create account
            </div>
        </div>

        <div class="row mt16 mh16 align-start-center" ng-show="wallet.username">
            <div class="flex col">
                <p class="size14 gray400-text">Total balance</p>
                <p class="mt4 size24">{{formatPrice(totalBalance())}}</p>
            </div>
            <div class="button">Deposit</div>
        </div>

        <div class="mh16 mt16 row"
             ng-show="wallet.username">
            <div class="flex primary-button"
                 ng-click="newCoin()">
                New coin
            </div>
        </div>

        <div class="row mh16 mt16 gray300-text" ng-show="activeCoins.length">
            <p class="flex size14 gray400-text">Your coins</p>
            <p class="size12">Price</p>
            <p class="size12 row align-end" style="min-width: 80px">Balance</p>
        </div>
        <canvas class="img36" id="last_logo" width="50" height="50" style="display: none"></canvas>
        <div class="col" ng-repeat="coin in activeCoins">
            <div class="row ph16 pv8 align-start-center white-back-ripple"
                 ng-click="options(coin)">
                <img class="logo" src="{{genLogo(coin.logo)}}">
                <div class="col flex ml8">
                    <p class="size16 bold uppercase medium">{{coin.domain}}</p>
                    <p class="size12 gray400-text">{{coin.owner}}</p>
                </div>
                <div class="col align-end-end">
                    <p>{{formatPrice(coin.price)}}</p>
                    <p class="size10 mt4" ng-class="percentColor(coin.price24hChange)">
                        {{formatPercent(coin.price24hChange)}}
                    </p>
                </div>
                <div class="col align-end-end" style="min-width: 80px">
                    <p>{{formatPrice(coin.price * coin.balance)}}</p>
                    <p class="size10 mt4">{{formatAmount(coin.balance)}}</p>
                </div>
            </div>
            <div class="divider"></div>
        </div>

        <div class="mh16 mt16" ng-show="recommendedCoins.length">
            <p class="size14 gray400-text">Recommended coins</p>
        </div>
        <div class="col white-back-ripple"
             ng-repeat="coin in recommendedCoins"
             ng-click="options(coin)">
            <div class="row pv8 ph16 align-start-center">
                <img class="logo" src="{{genLogo(coin.logo)}}">
                <div class="col flex ml8">
                    <p class="size16 bold uppercase medium">{{coin.domain}}</p>
                    <p class="size12 gray400-text">{{coin.owner}}</p>
                </div>
                <div class="col ml8 align-center-center button-gray p8"
                     ng-click="toggleFavorite(coin.domain); $event.stopPropagation()">
                    <img class="img16 img-gray400" src="/wallet/img/favorite.svg">
                </div>
            </div>
            <div class="divider"></div>
        </div>
    </div>
    <div class="mh16 mt16" ng-show="search_text != ''">
        <p class="size14 gray400-text">Search results</p>
        <div class="col pv8 white-back-ripple"
             ng-repeat="coin in searchCoins"
             ng-click="options(coin)">
            <div class="row pv8 align-start-center">
                <img class="logo" src="{{genLogo(coin.logo)}}">
                <div class="col flex ml8">
                    <p class="size16 bold uppercase medium">{{coin.domain}}</p>
                    <p class="size12 gray400-text">{{coin.owner}}</p>
                </div>
                <div class="col ml8 align-center-center button-gray p8"
                     ng-click="toggleFavorite(coin.domain); $event.stopPropagation()">
                    <img class="img16 img-gray400" src="/wallet/img/favorite.svg">
                </div>
            </div>
            <div class="divider"></div>
        </div>

        <div class="col" ng-hide="searchCoins.length">
            <div class="row align-center-center size20 gray400-text"
                 style="height: 200px">
                Nothing found
            </div>
        </div>
    </div>
</div>

<script src="/angular/angular.min.js"></script>
<link href="/angular/angular-material.min.css" rel="stylesheet">
<link href="/angular/binance_style.css" rel="stylesheet">
<link href="/angular/colors.css" rel="stylesheet">
<link href="/angular/dark.css" rel="stylesheet">
<script src="/angular/angular-material.min.js"></script>
<script src="/wallet/utils/formats.js"></script>
<script src="/wallet/utils/backend.js"></script>
<script src="/wallet/utils/ui.js"></script>
<link href="style.css" rel="stylesheet">


<script async src="/wallet/dialogs/success/controller.js"></script>
<script async src="/wallet/dialogs/info/controller.js"></script>

<script src="/wallet/login/controller.js"></script>
<script src="/wallet/controller.js"></script>
<script>
    controller(main)
</script>
<script async src="/wallet/options/controller.js"></script>
<script async src="/wallet/launch/controller.js"></script>
<script async src="/wallet/send/controller.js"></script>
<script async src="/wallet/ico/sell/controller.js"></script>
<script async src="/wallet/ico/buy/controller.js"></script>
<script async src="/wallet/invite/create/controller.js"></script>
<script async src="/wallet/invite/copy/controller.js"></script>
<script async src="/wallet/trans/controller.js"></script>
<script async src="/wallet/messenger/messages/controller.js"></script>
<script async src="/wallet/messenger/dialogs/controller.js"></script>
<script async src="/wallet/account/controller.js"></script>
<script async src="/wallet/web/controller.js"></script>
</body>
</html>