<md-bottom-sheet>
  <md-content class="col">
    <div class="col col-content" >
      <div class="flex row input-wrapper" style="margin-top: 16px">
        <div class="input-label-top">Email</div>
        <input type="email" class="flex input" ng-model="wallet.address">
      </div>
      <div class="flex row input-wrapper" style="margin-top: 16px">
        <div class="input-label-top">Password</div>
        <input type="password" class="flex input" ng-model="wallet.password">
      </div>
      <md-button class="md-primary md-raised" ng-click="login()"
                 ng-disabled="wallet == null || wallet.address == null || wallet.password == null">
        Login
      </md-button>
    </div>
  </md-content>
</md-bottom-sheet>