<md-bottom-sheet>
    <md-content class="col input-content">
        <div class="row align-center-center">
            <p class="size16">Price: {{formatPrice(price)}}</p>
        </div>
        <div class="row size12">
            <p class="flex">You give</p>
            <p>You get</p>
        </div>
        <div class="row">
            <div class="flex row input-wrapper">
                <div class="input-label-top">USDT</div>
                <input type="number" class="flex input" ng-model="total" ng-change="calcAmount()">
            </div>
            <div class="flex row input-wrapper">
                <div class="input-label-top">{{domain}}</div>
                <input type="number" class="flex input" ng-model="amount" ng-change="calcTotal()">
            </div>
        </div>
        <div class="row size12">
            <p class="flex">Available: {{formatAmount(balance)}}</p>
            <p>Max: {{formatAmount(icoBalance, domain)}}</p>
        </div>
        <div class="primary-button green-back" ng-click="ico_buy()" ng-disabled="!total">
            Buy
        </div>
    </md-content>
</md-bottom-sheet>