<md-bottom-sheet>
    <md-content class="col input-content">
        <div class="row align-start-center">
            <p class="flex size16">Buy tokens for {{formatPrice(price)}}</p>
            <div class="col align-start-end">
                <p class="size12">Balance</p>
                <p class="size16" style="margin-top: 2px">{{formatAmount(balance)}}</p>
            </div>
        </div>
        <div class="flex row input-wrapper">
            <div class="input-label-top">Amount to sell</div>
            <div class="input-label-right">max {{balance}}</div>
            <input id="first_input" type="number" class="flex input" ng-model="amount">
        </div>
        <p>
            Total USDT: {{formatPrice(amount * price)}}
        </p>
        <div class="primary-button" ng-click="ico_buy()">
            Buy
        </div>
    </md-content>
</md-bottom-sheet>