<md-bottom-sheet>
    <md-content class="col input-content">
        <p class="size16">Launch new token</p>
        <div class="flex row input-wrapper">
            <div class="input-label-top">Name of token</div>
            <input id="launch_token_name"
                   autocapitalize="none"
                   type="text"
                   class="flex input"
                   ng-model="domain">
        </div>
        <div class="primary-button" ng-click="launch()">
            Launch token
        </div>
    </md-content>
</md-bottom-sheet>