<md-bottom-sheet>
    <md-content class="col input-content">
        <p class="size16">Launch new token</p>
        <div class="flex row input-wrapper">
            <div class="input-label-top">Name of token</div>
            <input type="text" class="flex input" ng-model="domain">
        </div>
        <p class="size16">Step 1</p>
        <div class="primary-button" ng-click="download()">
            Download contract
        </div>
        <p class="size16">Step 2</p>
        <div class="primary-button" ng-click="upload()">
            Commit contract
        </div>
    </md-content>
</md-bottom-sheet>