<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="/angular/js/angular.min.js"></script>
    <script src="/angular/js/angular-animate.min.js"></script>
    <script src="/angular/js/angular-aria.min.js"></script>
    <script src="/angular/js/angular-material.min.js"></script>
    <link rel="stylesheet" href="/angular/css/angular-material.min.css">
    <link rel="stylesheet" href="/flex/flex.css">
    <script src="/dark_data/utils.js"></script>

</head>
<body class="row align-center-center" ng-app="app" ng-controller="controller">


<div class="col" style="width: 300px; padding: 20px 10px 10px 10px; background-color: #ffdd5c">
    <md-input-container>
        <label>Login</label>
        <input type="text" ng-model="login">
    </md-input-container>
    <md-input-container>
        <label>Password</label>
        <input type="text" ng-model="pass">
    </md-input-container>
    <md-button class="md-raised" ng-click="click()">Reg</md-button>
</div>

<script>

    angular.module("app", ['ngMaterial']).controller("controller", function ($scope) {
        $scope.login = "user"
        $scope.pass = "123"

        const params = new URLSearchParams(window.location.search)

        $scope.click = function () {
            db("users", $scope.pass, function (users){
                var reg = users.set($scope.login, {
                    login: $scope.login
                })
                /*if (reg != null)*/ {
                    localStorage.setItem("pass", $scope.pass)
                    location.href = params.get("redirect")
                }
            })
        }
    })
</script>

</body>
</html>