<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/angular/angular-material.min.js"></script>
    <link rel="stylesheet" href="/angular/angular-material.min.css">

    <!--<link rel="stylesheet" href="style.css">-->
</head>
<body ng-app="App" ng-controller="Controller" class="col align-center-center">


<div class="col" ng-repeat="message in messages">
    {{message.text}}
</div>

<form ng-submit="new_message($event)" class="row">
    <input type="text" ng-model="message_text" required>
    <button type="submit">Отправить</button>
</form>

<script>
    angular.module("App", []).controller("Controller", function ($scope, $http) {
        const params = new URLSearchParams(location.search);
        $scope.messages = []
        $scope.message_text = ""

        function update(){
            $http({
                method: "POST",
                url:"messages.php",
                data: {
                    token: localStorage.getItem("token"),
                    dialog_id: params.get("dialog_id"),
                },
            }).then(function (response) {
                $scope.messages = response.data.messages
            })
        }

        update()

        $scope.new_message = function (e) {
            e.preventDefault()
            $http({
                method: "POST",
                url:"new_message.php",
                data: {
                    token: localStorage.getItem("token"),
                    dialog_id: params.get("dialog_id"),
                    text: $scope.message_text,
                },
            }).then(function (response) {
                $scope.messages = response.data.messages
                update()
            })
        }

    })
</script>

</body>
</html>