<md-bottom-sheet>
    <md-content class="col" style="min-height: 350px">
        <div class="row row-content blue-back">
            <div class="row flex input-wrapper">
                <input type="text" class="flex input search"
                       ng-model="search_text" placeholder="Search">
            </div>
        </div>
        <div class="col content">
            <p>Similar domains</p>
            <div class="row flex col-content white-back-ripple">
                <div class="col"
                     ng-repeat="item in domains"
                     ng-click="choose(item)">
                    <p>{{item}}</p>
                    <md-divider></md-divider>
                </div>
            </div>
        </div>
    </md-content>
</md-bottom-sheet>