<style>
    a {
        color: rgb(33, 150, 243);
    }
</style>

<div class="layout-fill layout-column layout-align-center-center"
     style="background: url(img/background.png) center center no-repeat;">
    <form class="input-wrapper layout-column" ng-submit="loginButton()">
        <div class="input-header layout-row layout-align-center">
            <h3>{{userToken != null ? "Verification" : toggleLoginReg ? "Authorization" : "Registration"}}</h3>
        </div>
        <md-content class="input-container layout-column" ng-show="userToken == null && toggleLoginReg == true">
            <md-input-container>
                <label>Email</label>
                <input type="email" ng-model="login" ng-required="true">
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="password" ng-model="password" ng-required="true" minlength="8">
            </md-input-container>
            <div class="div" ng-show="message" style="color: red;">{{message}}</div>
            <div class="layout-row">
                <md-button class="flex-40 md-raised" ng-click="toggleLoginReg = false" ng-disabled="login_request_in_progress">
                    Sign Up
                </md-button>
                <div class="flex"></div>
                <div class="layout-column flex-40">
                    <md-button type="submit" class="md-raised md-primary" ng-disabled="login_request_in_progress">
                        Sign In
                        <md-progress-linear md-mode="query" ng-disabled="!login_request_in_progress"></md-progress-linear>
                    </md-button>
                </div>
            </div>
        </md-content>
        <md-content class="input-container layout-column" ng-show="userToken == null && toggleLoginReg == false">
            <md-input-container>
                <label>Email</label>
                <input type="email" ng-model="login" ng-required="true">
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="password" ng-model="password" ng-required="true" minlength="8">
            </md-input-container>
            <md-checkbox ng-model="agreeWithTeems" class="md-align-top-left" required>
                I agree to <a href="terms.html" target="_blank">the terms of use</a>
            </md-checkbox>
            <div class="layout-column">
                <md-button type="submit" ng-disabled="!agreeWithTeems && !login_request_in_progress" class="md-raised">
                    Sign Up
                    <md-progress-linear md-mode="query" ng-disabled="!login_request_in_progress"></md-progress-linear>
                </md-button>
            </div>
            <div class="div" ng-show="message" style="color: rgb(33, 150, 243);">{{message}}</div>
        </md-content>
        <md-content class="input-container layout-column layout-align-center-center" ng-show="userToken != null">
            <md-button class="md-fab" style="width: 100px; height: 100px">
                <md-icon style="width: 100px; height: 100px" md-svg-src="img/success.svg"></md-icon>
            </md-button>
            <h1>Successful</h1>
            <span>redirecting ...</span>
        </md-content>
    </form>
</div>
