<head>
    <title>Mining</title>
    <link rel="icon" href="/wallet/logo.svg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="col bottom-back" ng-app="App" ng-controller="Controller">
<div class="row header align-center">
    <div class="row block align-start-center">
        <img class="img40" src="/mining/logo.svg">
        <p>Mining</p>
    </div>
</div>
<div class="flex col content align-start-center scroll">
    <div class="flex col block align-center-center input-content">
        <p>Mining {{domain}}</p>
        <button class="primary-button"  ng-click="init()" ng-disabled="!not_initialized">
            Initialize mining
        </button>
        <button class="primary-button" ng-click="send()" ng-disabled="not_initialized">
            Send {{domain}} to pool
        </button>
        <button class="primary-button" ng-click="reset()" ng-disabled="not_initialized">
            Remove difficulty
        </button>
        <button class="primary-button" ng-click="openMining()" ng-disabled="not_initialized">
            Miner
        </button>
    </div>
</div>

<script src="/node_modules/angular/angular.js"></script>
<script src="/node_modules/angular-aria/angular-aria.js"></script>
<script src="/node_modules/angular-animate/angular-animate.js"></script>
<script src="/node_modules/angular-messages/angular-messages.js"></script>
<script src="/node_modules/angular-material/angular-material.js"></script>
<link href="/node_modules/angular-material/angular-material.min.css" rel="stylesheet">
<script src="/node_modules/angular-material/angular-material.min.js"></script>

<link href="/flex/flex.css" rel="stylesheet">
<link href="/flex/shorts.css" rel="stylesheet">
<link href="/flex/colors.css" rel="stylesheet">
<link href="/flex/colors-dark.css" rel="stylesheet">
<link href="style.css" rel="stylesheet">

<script src="/wallet/utils/formats.js"></script>
<script src="/wallet/utils/backend.js"></script>
<script src="/wallet/utils/ui.js"></script>

<script src="controller.js"></script>
<script>
    controller(main)
</script>

<script async src="/mining/mining/controller.js"></script>
<script async src="/wallet/dialogs/success/controller.js"></script>
<script async src="/wallet/dialogs/info/controller.js"></script>
<script async src="/wallet/dialogs/pin/controller.js"></script>
<script async src="/wallet/send/controller.js"></script>

</body>
