<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/angular/angular-material.min.js"></script>
    <link rel="stylesheet" href="/angular/angular-material.min.css">

    <link rel="stylesheet" href="../base.css">
    <link rel="stylesheet" href="style.css">
</head>
<body ng-app="App" ng-controller="Controller" class="col">

<header class="row align-start-center block-top">
    <img src="/stock/img/dollar.svg" class="header-logo">
    <a href="#" class="header-logo-text">BINANCE</a>
    <a href="#" class="menu-item">Buy Crypto</a>
    <a href="#" class="menu-item">Log In</a>
    <a href="#" class="main-button">Register</a>
</header>

<div class="row">
    <div class="col flex">
        <div class="pair-header row block">
            <div class="col" style="margin-right: 20px; margin-left: 4px;">
                <h1>BTC/USDT</h1>
                <div class="row align-start-center">
                    <img src="img/info.svg" style="width: 16px; height: 16px; margin-right: 4px;"/>
                    <a href="#" class="gray size12">Bitcoin</a>
                </div>
            </div>
            <div class="col align-center">
                <div class="green current-price">52,555.12</div>
                <div class="gray size12" style="height: 15px">$52,555.12</div>
            </div>
            <div class="row pair-stat-panel">
                <div class="col">
                    <div class="gray  pair-header-top-item">24h Change</div>
                    <div class="green  pair-header-bottom-item">655.79 +1.16%</div>
                </div>
                <div class="col">
                    <div class="gray  pair-header-top-item">24h High</div>
                    <div class="white  pair-header-bottom-item">58,430.73</div>
                </div>
                <div class="col">
                    <div class="gray  pair-header-top-item">24h Low</div>
                    <div class="white  pair-header-bottom-item">56,289.00</div>
                </div>
                <div class="col">
                    <div class="gray  pair-header-top-item">24h Volume(BTC)</div>
                    <div class="white  pair-header-bottom-item">44,058.16</div>
                </div>
                <div class="col">
                    <div class="gray  pair-header-top-item">24h Volume(USDT)</div>
                    <div class="white  pair-header-bottom-item">2,533,420,665.01</div>
                </div>
            </div>

            <div class="flex row align-end gray size12">
                Spot Tutorial
            </div>
        </div>
        <div class="row">
            <div class="col block" style="min-width: 277px;">
                <div class="row req-header">
                    <img src="img/sale-and-buy.svg" class="req-mode mode-active">
                    <img src="img/sale-and-buy.svg" class="req-mode">
                    <img src="img/sale-and-buy.svg" class="req-mode">
                    <div class="flex row align-end">
                        <select class="mode-active">
                            <option value="0.01">0.01</option>
                            <option value="0.1">0.1</option>
                            <option value="1">1</option>
                        </select>
                    </div>
                </div>
                <div class="row req-header align-start-center" style="height: 24px;">
                    <div class="flex-33 req-header-text">Price(USDT)</div>
                    <div class="flex-33 req-header-text row align-end">Amount(BTC)</div>
                    <div class="flex-33 req-header-text row align-end">Total</div>
                </div>
                <div class="scroll" style="height: 333px">
                    <div class="row req" style="position: relative" ng-repeat="req_groups in sale_req_groups">
                        <div class="flex row req-header">
                            <div class="flex-33 red ">123123</div>
                            <div class="flex-33 row align-end" style="margin-left: 4px;">123123</div>
                            <div class="flex-33 row align-end" style="margin-left: 4px;">123312</div>
                        </div>
                        <div class="flex progress-sale"></div>
                    </div>
                </div>
                <div class="row req-header align-start-center" style="height: 35px; margin-top: 12px;">
                    <div class="current-price">53.123,12</div>
                    <img class="price-arrow" style="margin-right: 4px;" src="img/price-arrow-buy.svg"/>
                    <div class="gray size14">$53.123,12</div>
                    <div class="flex row align-end">
                        <div style="margin-right: 6px;">More</div>
                        <img src="img/more.svg" style="width: 16px;height: 12px;">
                    </div>
                </div>
                <div class="scroll" style="height: 333px">
                    <div class="row req" style="position: relative" ng-repeat="req_groups in sale_req_groups">
                        <div class="flex row req-header">
                            <div class="flex-33 green ">123123</div>
                            <div class="flex-33 row align-end" style="margin-left: 4px;">123123</div>
                            <div class="flex-33 row align-end" style="margin-left: 4px;">123312</div>
                        </div>
                        <div class="flex progress-buy"></div><!--will-change: transform-->
                    </div>
                </div>
            </div>

            <div class="flex col">
                <div class="block flex"></div>
                <div class="col block req-header" style="min-height: 280px; padding-bottom: 16px;">


                    <div class="row" style="border-bottom: 1px solid rgb(24, 26, 32)">
                        <div class="block-title-active">Limit</div>
                        <div class="block-title">Market</div>
                    </div>

                    <div class="row">
                        <div class="col flex-50" style="margin-right: 25px;">
                            <div class="row align-start-center" style="padding-top: 8px; padding-bottom: 4px;">
                                <div class="flex size16">Buy BTC</div>
                                <div class="row align-start-center">
                                    <img src="img/wallet.svg" style="width: 20px;height: 20px;margin-right: 4px;">
                                    <div class="gray size12">- USDT</div>
                                </div>
                            </div>

                            <div class="row price-input-wrapper">
                                <div class="price-input-label-left">Price</div>
                                <input type="text" class="flex mode-active price-input">
                                <div class="price-input-label-right">USDT</div>
                            </div>

                            <div class="row price-input-wrapper">
                                <div class="price-input-label-left">Price</div>
                                <input type="text" class="flex mode-active price-input">
                                <div class="price-input-label-right">USDT</div>
                            </div>

                            <div class="row align-center-center login-or-reg-button">
                                <a class="size14 orange" href="#">Log In</a>
                                <div class="size12 gray">&nbsp;or&nbsp;</div>
                                <a class="size14 orange" href="#">Register Now</a>
                            </div>
                        </div>

                        <div class="col flex-50" style="margin-left: 25px;">
                            <div class="row align-start-center" style="padding-top: 8px; padding-bottom: 4px;">
                                <div class="flex size16">Buy BTC</div>
                                <div class="row align-start-center">
                                    <img src="img/wallet.svg" style="width: 20px;height: 20px;margin-right: 4px;">
                                    <div class="gray size12">- USDT</div>
                                </div>
                            </div>

                            <div class="row price-input-wrapper">
                                <div class="price-input-label-left">Price</div>
                                <input type="text" class="flex mode-active price-input">
                                <div class="price-input-label-right">USDT</div>
                            </div>

                            <div class="row price-input-wrapper">
                                <div class="price-input-label-left">Price</div>
                                <input type="text" class="flex mode-active price-input">
                                <div class="price-input-label-right">USDT</div>
                            </div>

                            <div class="row align-center-center login-or-reg-button">
                                <a class="size14 orange" href="#">Log In</a>
                                <div class="size12 gray">&nbsp;or&nbsp;</div>
                                <a class="size14 orange" href="#">Register Now</a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="col" style="width: 320px;">
        <div class="block-right" style="height: 388px">
            <div class="row req-header" style="padding-top: 8px; padding-bottom: 4px;">
                <img class="rate-menu-item hover-active" src="img/favorite-disabled.svg"
                     style="width: 24px;height: 24px;">
                <div class="rate-menu-item hover-active">Margin</div>
                <div class="rate-menu-item hover-active">BNB</div>
                <div class="rate-menu-item hover-active">BTC</div>
                <div class="rate-menu-item hover-active">USDT</div>
            </div>
            <div class="row req-header align-start-center" style="height: 28px;">
                <div class="row search flex">
                    <img src="img/search.svg" class="search-image"/>
                    <input type="text" class="search-input flex">
                </div>
                <div class="row">
                    <img src="img/radio-button-disabled.svg" class="radio-button">
                    <div class="gray size12">Change</div>
                </div>
                <div class="row">
                    <img src="img/radio-button-enabled.svg" class="radio-button">
                    <div class="gray size12">Volume</div>
                </div>
            </div>
            <div class="row req-header align-start-center" style="height: 30px;">
                <div class="flex gray size12">Pair</div>
                <div class="flex-33 gray size12">Price</div>
                <div class="flex-20 gray size12 row align-end">Volume</div>
            </div>

            <div class="flex col scroll" style="height: 288px;">
                <div class="row req-header req" ng-repeat="item in sale_req_groups">
                    <div class="flex row align-start-center">
                        <img src="img/favorite-enabled.svg" class="rate-favorite">
                        <div class="white size12">BTC</div>
                        <div class="gray size12">/USDT</div>
                    </div>
                    <div class="flex-33 size12 green">54.232,12</div>
                    <div class="flex-20 size12 white row align-end">712,123,526</div>
                </div>
            </div>
        </div>

        <div class="flex col block-right">
            <div class="row req-header">
                <div class="block-title-active">Market Trades</div>
                <div class="block-title">My Trades</div>
            </div>
            <div class="row req-header" style="padding: 8px 16px;">
                <div class="flex size12 gray ">Price(USDT)</div>
                <div class="flex-33 size12 gray row align-end">Amount(BTC)</div>
                <div class="flex-33 size12 gray row align-end">Time</div>
            </div>
            <div class="flex col scroll" style="max-height: calc(428px - 44px - 16px - 16px)">
                <div class="row req-header req" ng-repeat="item in sale_req_groups">
                    <div class="flex size12 green ">55.242,12</div>
                    <div class="flex-33 size12 white row align-end">54.232,12</div>
                    <div class="flex-33 size12 white row align-end">712,123,526</div>
                </div>
            </div>
        </div>
        <!--<div class="col block-right req-header">
            <div  class="block-title-active">Market Activities</div>
        </div>-->
    </div>
</div>

<script>
    angular.module("App", []).controller("Controller", function ($scope, $http) {
        $scope.sale_req_groups = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19];
    });
</script>

</body>
</html>