<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/angular/angular-material.min.js"></script>
    <link rel="stylesheet" href="/angular/angular-material.min.css">

    <!--<link rel="stylesheet" href="style.css">-->
</head>
<body ng-app="App" ng-controller="Controller" class="col align-center-center">

<div class="row">
    <input type="text" ng-model="search_text" required>
    <button type="submit">Поиск</button>
</div>
<div class="col">
    <div class="row" ng-repeat="find_result in found">
        <a href="trade?pair={{find_result}}"><button>{{find_result}}</button></a>
    </div>
</div>

<div class="col">
    <div class="row" ng-repeat="pair in top">
        <div class="row">
            {{pair.rate}} <a href="trade?pair={{pair.pair}}"><button>{{pair.pair}}</button></a>
        </div>
    </div>
</div>


<div class="row">
    <a href="/stock">
        <button disabled>Главная</button>
    </a>
    <a href="/stock/pairs">
        <button>Торговля</button>
    </a>
    <a href="/stock/new_coin">
        <button>Новый койн</button>
    </a>
    <a href="/stock/dialogs">
        <button>Мессенджер</button>
    </a>
    <a href="/stock/account">
        <button disabled>Аккаунт</button>
    </a>
</div>
<script>
    angular.module("App", []).controller("Controller", function ($scope, $http) {

        $scope.search_text = ""

        $http({
            method: "POST",
            url: "top.php",
        }).then(function (response) {
            $scope.top = response.data.top
        })

        $scope.search = function (e) {
            e.preventDefault()
            $http({
                method: "POST",
                url: "search.php",
                data: {
                    search: $scope.search_text
                }
            }).then(function (response) {
                $scope.top = response.data.top
            })
        }
    })
</script>

</body>
</html>