<md-bottom-sheet class="col">
    <div class="row header align-start-center">
        <img src="/wallet/img/back.svg" ng-click="close()">
        <p>Settings</p>
    </div>
    <div class="col content align-start-center">
        <div class="col input-content">
            <div class="row mh16 input-wrapper">
                <div class="input-label">Deposit address</div>
                <input
                       type="text"
                       autocapitalize="off"
                       id="deposit_address"
                       ng-model="deposit_address">
            </div>
            <div class="row align-center-center">
                <div class="col align-start-center ripple"
                     ng-click="copy()">
                    <div class="p8 mt16 mh16 row align-center button-gray radius12">
                        <img class="img24 img-accent" src="/wallet/img/copy.svg">
                    </div>
                    <p class="size12 mt4 gray400-text">copy</p>
                </div>
                <div class="col align-start-center ripple"
                     ng-click="share()">
                    <div class="p8 mt16 mh16 row align-center button-gray radius12">
                        <img class="img24 img-accent" src="/wallet/img/share.svg">
                    </div>
                    <p class="size12 mt4 gray400-text">Invite</p>
                </div>
            </div>
            <div class="flex row align-center-center mh16 mt16">
                Deposit deadline {{formatTime(deadline)}}
            </div>
            <div class="row align-center-center mt16">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                <div class="ml8">Waiting for deposit ({{countDownTimer}})</div>
            </div>
            <div class="flex row button align-center-center m16"
                 style="margin-top: 20px"
                 ng-click="copy()">
                Copy
            </div>
        </div>
    </div>

</md-bottom-sheet>