<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/node_modules/angular-material/angular-material.min.js"></script>
    <link rel="stylesheet" href="/node_modules/angular-material/angular-material.min.css">

    <!--<link rel="stylesheet" href="style.css">-->
</head>
<body ng-app="App" ng-controller="Controller" class="col align-center-center">

<form class="col" ng-submit="new_coin($event)" style="width: 400px">
    <input type="text" ng-model="domain_name" required>
    <input type="number" ng-model="postfix_length" required>
    <!--<input type="text" ng-model="promo_url">-->
    <input type="submit" value="Submit">
</form>

<div class="row">
    <a href="/stock0">
        <button>Главная</button>
    </a>
    <a href="/stock0/pairs">
        <button>Торговля</button>
    </a>
    <a href="/stock0/new_coin">
        <button disabled>Новый койн</button>
    </a>
    <a href="/stock0/dialogs">
        <button>Мессенджер</button>
    </a>
    <a href="/stock0/account">
        <button>Аккаунт</button>
    </a>
</div>
<script>
    angular.module("App", []).controller("Controller", function ($scope, $http) {
        $scope.domain_name = "HRP"
        $scope.postfix_length = 2
        $scope.promo_url = "";


        $scope.new_coin = function (e) {
            e.preventDefault()

            $http({
                method: "POST",
                url: "new_coin.php",
                data: {
                    token: localStorage.getItem("token"),
                    domain_name: $scope.domain_name,
                    postfix_length: $scope.postfix_length,
                    promo_url: $scope.promo_url,
                },
            }).then(function (response) {
                location.href = "/stock/account/coin?domain_name=" + $scope.domain_name
            })
        }

    })
</script>

</body>
</html>