<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/angular/angular-material.min.js"></script>
    <link rel="stylesheet" href="/angular/angular-material.min.css">

    <!--<link rel="stylesheet" href="style.css">-->
</head>
<body ng-app="App" ng-controller="Controller" class="col align-center-center">

<form ng-submit="new_promo($event)">
    Новое промо
    <input type="text" ng-model="count" required>
    <button type="submit">Промо</button>
</form>

<div class="col">
    <div class="row" ng-repeat="(promo_code, count) in promos">
        {{domain_name + count}} =>
        <input type="text" ng-model="promo_code" id="myInput">
        <button ng-click="copy(promo_code)">Copy</button>
        <button ng-click="delete_promo(promo_code)">Удалить</button>
    </div>
</div>


<div class="row">
    <a href="/stock0">
        <button>Главная</button>
    </a>
    <a href="/stock0/pairs">
        <button>Торговля</button>
    </a>
    <a href="/stock0/new_coin">
        <button>Новый койн</button>
    </a>
    <a href="/stock0/dialogs">
        <button>Мессенджер</button>
    </a>
    <a href="/stock0/account">
        <button>Аккаунт</button>
    </a>
</div>
<script>
    angular.module("App", []).controller("Controller", function ($scope, $http) {
        const params = new URLSearchParams(location.search);
        $scope.count = 0
        $scope.promos = []

        function update() {
            $http({
                method: "POST",
                url: "promos.php",
                data: {
                    token: localStorage.getItem("token"),
                    domain_name: params.get("domain_name"),
                },
            }).then(function (response) {
                $scope.promos = response.data.promos
            })
        }

        update()

        $scope.new_promo = function () {
            $http({
                method: "POST",
                url: "new_promo.php",
                data: {
                    token: localStorage.getItem("token"),
                    domain_name: params.get("domain_name"),
                    count: $scope.count,
                },
            }).then(function (response) {
                $scope.promos = response.data.promos
            })
        }


        $scope.delete_promo = function (promo_code) {
            $http({
                method: "POST",
                url: "delete_promo.php",
                data: {
                    token: localStorage.getItem("token"),
                    promo_code: promo_code,
                },
            }).then(function (response) {
                $scope.promos = response.data.promos
            })
        }


        function copyToClipboard(text) {
            var dummy = document.createElement("textarea");
            document.body.appendChild(dummy);
            dummy.value = text;
            dummy.select();
            document.execCommand("copy");
            document.body.removeChild(dummy);
        }

        $scope.copy = function (promo_code) {
            copyToClipboard(promo_code)
            alert("copied")
        }

    })
</script>

</body>
</html>