<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../angular/css/angular-material.min.css">

    <script src="../angular/js/angular.min.js"></script>
    <!--angular-animate for ngClass, ngHide, ngIf, ngInclude, ngMessage, ngMessages, ngModel, ngRepeat, ngShow, ngSwitch, ngView-->
    <script src="../angular/js/angular-animate.min.js"></script>
    <!--angular-aria for ngModel, ngDisabled, ngRequired, ngChecked, ngReadonly, ngValue, ngShow, ngHide, ngDblclick, ngClick-->
    <script src="../angular/js/angular-aria.min.js"></script>
    <!--angular-material for using material design. Docs: https://material.angularjs.org/ -->
    <script src="../angular/js/angular-material.min.js"></script>
    <link rel="stylesheet" href="../flex/flex.css">
</head>
<body class="col" ng-app="AngularApp" ng-controller="MyController">

<md-input-container>
    <input ng-model="domain_name">
</md-input-container>

<md-input-container>
    <input ng-model="password">
</md-input-container>

<md-button class="md-raised md-primary" ng-click="update()">Upload</md-button>
{{resultMessage}}
<script>


    angular.module('AngularApp', ['ngMaterial'])
        .controller("MyController", function ($scope) {
            $scope.resultMessage = ""
            $scope.domain_name = ""
            $scope.password = ""
            $scope.update = function () {
                var input = document.createElement("input")
                input.type = "file"
                input.onchange = function () {
                    var formData = new FormData()
                    formData.append("password", $scope.password)
                    formData.append("domain_name", $scope.domain_name)
                    formData.append("file", input.files[0], input.files[0].name)
                    var request = new XMLHttpRequest()
                    request.open("POST", "upload.php", true)
                    request.onreadystatechange = function () {
                        if (request.readyState === XMLHttpRequest.DONE && request.status === 200) {
                            // обработка сообщения
                            $scope.resultMessage = "file uploaded"
                        }
                    }
                    request.send(formData)
                }
                input.click()

            }

        })


</script>
</body>
</html>