<style>
    .header {
        height: 64px;
        box-shadow: 0 0 5px black;
        font-size: 20px;
    }

    md-button {
        font-weight: 600;
    }

    .cell {
        box-shadow: 0 0 0 1px black inset;
        text-align: center;
        padding: 16px 0;
    }

    .cell-header {
        background-color: black;
    }

    .scrollable {
        overflow: auto;
    }

    .scrollable::-webkit-scrollbar {
        width: 6px;
    }

    .scrollable::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    }

    .scrollable::-webkit-scrollbar-thumb {
        background-color: #666666;
        outline: 1px solid #000000;
    }

    .buy-sale-delimiter {
        width: 4px;
        background-color: rgb(33, 150, 243);
    }

    .top-border {
        width: 100%;
        height: 6px;
        background-color: rgb(33, 150, 243)
    }

</style>
<div class="layout-fill layout-row" style="background-color: #666666;">
    <md-content class="layout-column flex-gt-xs-25 flex" ng-show="windowWidth >= 600 || activeWindow == 0">
        <div class="layout-column flex scrollable" ng-show="toggleSendFragment">
            <div class="layout-column" style="background-color: #444444;">
                <div class="layout-column"
                     style="padding: 20px; background-image: url(img/wallet_background.jpg); background-size: 100% 100%;">
                    <div class="layout-row">
                        <md-button ng-click="logout()">LogOut</md-button>
                        <div class="flex"></div>
                        <md-button class="md-fab md-mini hide-gt-xs"
                                   ng-click="activeWindow = 1">
                            <md-icon md-svg-src="img/next.svg"></md-icon>
                        </md-button>
                    </div>
                    <div class="layout-column layout-align-center-center" style="height: 200px">
                        <h1>{{hostname}}</h1>
                    </div>
                    <div class="layout-row layout-align-center">
                        <div class="layout-row flex-80">
                            <input id="walletId" class="flex" type="text" ng-value="user_login"
                                   style="border-radius: 10px 0 0 10px; padding-left: 20px;">
                            <md-button class="md-raised md-primary flex" style="border-radius: 0 10px 10px 0;"
                                       ng-click="copyToClipboard()">
                                {{copyButtonLabel}}
                            </md-button>
                        </div>
                    </div>
                </div>
                <md-content class="layout-column layout-align-center-center" style="padding: 16px"
                            ng-show="have_coins == null">You dont have coins yet
                </md-content>
                <md-content class="layout-column" ng-repeat="coin in have_coins">
                    <md-card class="layout-column" style="padding: 16px 16px 16px 24px;" md-ink-ripple
                             ng-click="openCoin(coin.coin_code)">
                        <div class="layout-row">
                            <big><b>{{coin.coin_count + " " + coin.coin_code}}</b></big>
                        </div>
                        <div class="layout-row" style="padding: 8px 0 0 40px">
                            <small style="color: #9e9e9e">{{"1 " + coin.coin_name + " = "
                                + (getRate(coin.coin_code) != null ? round(getRate(coin.coin_code)) + " USD" :
                                "no data")}}</small>
                        </div>
                    </md-card>
                </md-content>
                <md-content class="layout-column">
                    <md-card class="layout-row layout-align-start-center"
                             style="padding: 16px 16px 16px 24px; background-color: #333333" md-ink-ripple
                             ng-click="show('create_coin')">
                        <md-icon style="margin: 0 12px 0 0;" md-svg-src="img/add.svg"></md-icon>
                        Create Dark coin
                    </md-card>
                </md-content>
            </div>
        </div>
        <div class="layout-row">
            <md-button class="md-raised md-primary flex header" ng-click="show('send')">
                Send
            </md-button>
        </div>
        <div class="layout-column layout-align-center-center flex" ng-show="!toggleSendFragment"
             style="background-color: #444444">
            <form class="input-wrapper layout-column" ng-submit="send()">
                <div class="input-header layout-row layout-align-center">
                    <h3>Send</h3>
                </div>
                <md-content class="input-container layout-column">
                    <md-input-container>
                        <label>Receiver login</label>
                        <input type="email" ng-model="send_user_login" required maxlength="256"
                               placeholder="example@gmail.com">
                    </md-input-container>
                    <div class="layout-row">
                        <md-input-container>
                            <label>Coin</label>
                            <md-select ng-model="send_coin_code" required>
                                <md-option ng-repeat="coin in have_coins" value="{{coin.coin_code}}">{{coin.coin_code}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="flex">
                            <label>Count</label>
                            <input type="number" ng-model="send_coin_count" required
                                   min="1" max="{{getHaveCoin(send_coin_code)['coin_count']}}">
                        </md-input-container>
                    </div>
                    <div ng-show="send_message != null" style="color: red">{{send_message}}</div>
                    <md-button type="submit" class="md-raised md-primary" style="margin-top: 20px"
                               ng-disabled="send_request_in_progress">
                        Send
                        <md-progress-linear md-mode="query"
                                            ng-disabled="!send_request_in_progress"></md-progress-linear>
                    </md-button>
                </md-content>
            </form>
        </div>
    </md-content>


    <md-content class="layout-column flex" style="background-color: #9e9e9e;"
                ng-show="windowWidth >= 600 || activeWindow == 1">
        <div class="layout-column flex" ng-show="toggleExchangeFragment">
            <div class="layout-row layout-align-center-center header" style="background-color: #666666;">
                <md-button class="md-fab md-mini hide-gt-xs " ng-click="activeWindow = 0">
                    <md-icon md-svg-src="img/back.svg"></md-icon>
                </md-button>
                <div class="layout-row layout-align-center flex">
                    <h2>Exchange service</h2>
                </div>
                <md-button class="md-fab md-mini hide-gt-xs " ng-click="activeWindow = 2">
                    <md-icon md-svg-src="img/next.svg"></md-icon>
                </md-button>
            </div>
            <h2 class="layout-column layout-align-center-center" style="padding: 16px"
                ng-show="buyOffers == null && haveOffers == null">There are no exchange offers yet</h2>
            <div class="layout-column flex scrollable" ng-show="buyOffers != null || haveOffers != null">
                <div class="layout-row layout-align-center" ng-show="haveOffers != null">
                    <h2>My exchange</h2>
                </div>
                <md-card ng-repeat="offer in haveOffers">
                    <div class="top-border"></div>
                    <div class="layout-row" style="padding: 16px;
                    background: linear-gradient(to right, #325032 {{offer.offer_progress}}%, #444444 {{offer.offer_progress}}%, #444444 100%);">
                        <b>{{offer.start_have_coin_count + " " + offer.have_coin_code + " ➠ " +
                            offer.start_want_coin_count + " " + offer.want_coin_code}}</b>
                        <div class="flex"></div>
                        <b>Progress {{offer.offer_progress}}%</b>
                        <div ng-show="windowWidth >= 600" class="flex"></div>
                        <b ng-show="windowWidth >= 600">Left {{offer.have_coin_count+ " " + offer.have_coin_code}}</b>
                    </div>
                </md-card>
                <div class="layout-row layout-align-center">
                    <h2>{{have_coin_code}} : {{want_coin_code}}</h2>
                </div>
                <md-card class="layout-column">
                    <div class="top-border"></div>
                    <div class="layout-row">
                        <div class="layout-column flex-50">
                            <div class="layout-row">
                                <div class="cell cell-header flex-33">Sale {{have_coin_code}}</div>
                                <div class="cell cell-header flex-33">Want {{want_coin_code}}</div>
                                <div class="cell cell-header flex-33">{{have_coin_code}}/{{want_coin_code}}</div>
                            </div>
                            <div class="layout-row" ng-repeat="offer in saleOffers">
                                <div class="cell flex-33" ng-class="{'my-cell': offer.back_user_login == user_login}">
                                    {{offer.have_coin_count}}
                                </div>
                                <div class="cell flex-33" ng-class="{'my-cell': offer.back_user_login == user_login}">
                                    {{offer.want_coin_count}}
                                </div>
                                <div class="cell flex-33" ng-class="{'my-cell': offer.back_user_login == user_login}">
                                    {{round(offer.offer_rate_inverse)}}
                                </div>
                            </div>
                        </div>
                        <div class="layout-column">
                            <div class="flex buy-sale-delimiter"></div>
                        </div>
                        <div class="layout-column flex-50">
                            <div class="layout-row">
                                <div class="cell cell-header flex-33">{{have_coin_code}}/{{want_coin_code}}</div>
                                <div class="cell cell-header flex-33">Buy {{want_coin_code}}</div>
                                <div class="cell cell-header flex-33 ">Want {{have_coin_code}}</div>
                            </div>
                            <div class="layout-row" ng-repeat="offer in buyOffers">
                                <div class="cell flex-33" ng-class="{'my-cell': offer.back_user_login == user_login}">
                                    {{round(offer.offer_rate)}}
                                </div>
                                <div class="cell flex-33" ng-class="{'my-cell': offer.back_user_login == user_login}">
                                    {{offer.have_coin_count}}
                                </div>
                                <div class="cell flex-33" ng-class="{'my-cell': offer.back_user_login == user_login}">
                                    {{offer.want_coin_count}}
                                </div>
                            </div>
                        </div>
                    </div>
                </md-card>
            </div>
        </div>
        <md-button class="md-raised md-primary header" ng-click="show('exchange')">
            Exchange
        </md-button>
        <div class="layout-column layout-align-center-center flex" ng-show="!toggleExchangeFragment"
             style="background-color: #444444">
            <form class="input-wrapper layout-column" ng-submit="exchange()">
                <div class="input-header layout-row layout-align-center">
                    <h3>Exchange</h3>
                </div>
                <md-content class="input-container layout-column">
                    <div class="layout-row">
                        <div class="layout-column">
                            <md-input-container>
                                <label>Coin</label>
                                <md-select ng-model="offer_have_coin_code" required>
                                    <md-option ng-repeat="coin in have_coins" value="{{coin.coin_code}}">
                                        {{coin.coin_code}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container>
                                <label>Count</label>
                                <input type="number" ng-model="offer_have_coin_count" required maxlength="5"
                                       ng-change="offerHaveCoinCountChange()">
                            </md-input-container>
                        </div>
                        <div class="layout-column">
                            <div class="layout-row layout-align-center">
                                <md-button class="md-icon-button" ng-click="exchangeSwapCurrencies()">
                                    <md-icon md-svg-src="img/next.svg"></md-icon>
                                </md-button>
                            </div>
                            <div class="flex"></div>
                            <md-input-container>
                                <label>Rate</label>
                                <input type="number" ng-model="offer_rate" step="0.0001" required maxlength="10"
                                       ng-change="offerRateChange()">
                            </md-input-container>
                        </div>
                        <div class="layout-column">
                            <md-input-container>
                                <label>Coin</label>
                                <md-select ng-model="offer_want_coin_code" required>
                                    <md-option ng-repeat="coin in coins" value="{{coin}}">{{coin}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container>
                                <label>Count</label>
                                <input type="number" ng-model="offer_want_coin_count" required maxlength="5"
                                       ng-change="offerWantCoinCountChange()">
                            </md-input-container>
                        </div>
                    </div>
                    <div ng-show="exchange_message != null" style="color: red">{{exchange_message}}</div>
                    <md-button type="submit" class="md-raised md-primary" style="margin-top: 20px"
                               ng-disabled="exchange_in_progress">
                        Exchange
                        <md-progress-linear md-mode="query" ng-disabled="!exchange_in_progress"></md-progress-linear>
                    </md-button>
                </md-content>
            </form>
        </div>
    </md-content>


    <md-content class="layout-column flex-gt-md-25 flex" style="background-color: #9e9e9e;"
                ng-show="windowWidth >= 1280 || activeWindow == 2">
        <div class="layout-column flex" ng-show="toggleCreateCoinFragment">
            <div class="layout-row layout-align-start-center header" style="background-color: #666666; ">
                <md-button class="md-fab md-mini hide-gt-xs " ng-click="activeWindow = 1">
                    <md-icon md-svg-src="img/back.svg"></md-icon>
                </md-button>
                <div class="layout-row layout-align-center flex">
                    <h2>Rates</h2>
                </div>
            </div>
            <div class="layout-column layout-align-center-center" style="padding: 16px" ng-show="rates == null">There
                are no rates yet
            </div>
            <div class="layout-column flex scrollable" ng-show="rates != null">
                <md-card class="layout-column">
                    <md-progress-linear md-mode="determinate" value="100"></md-progress-linear>
                    <div class="layout-row">
                        <div class="cell cell-header flex-50">Coin</div>
                        <div class="cell cell-header flex-50">Rate</div>
                    </div>
                    <div class="layout-row" ng-repeat="rate in rates">
                        <div class="cell flex-50">1 {{rate.coin_code}}</div>
                        <div class="cell flex-50">{{round(rate.offer_rate)}} USD</div>
                    </div>
                </md-card>
            </div>
        </div>
        <md-button class="md-raised md-primary header" ng-click="show('create_coin')">
            Create coin
        </md-button>
        <div class="layout-column layout-align-center-center flex" ng-show="!toggleCreateCoinFragment"
             style="background-color: #444444">
            <form class="input-wrapper layout-column" target="_blank"
                  method="GET" action="/api/order_create.php">
                <input type="hidden" name="token" value="{{token}}">
                <div class="input-header layout-row layout-align-center">
                    <h3>Create coin</h3>
                </div>
                <md-content class="input-container layout-column">
                    <md-input-container>
                        <label>Full name of Your Coin</label>
                        <input ng-model="newCoinName" required minlength="3" maxlength="30">
                    </md-input-container>
                    <md-input-container>
                        <label>Code of Your Coin</label>
                        <input ng-model="newCoinCode" minlength="3" maxlength="5" style="text-transform: uppercase;"
                               required>
                    </md-input-container>
                    <md-checkbox ng-model="agreeWithPublicationOnExchangeStock">
                        Publication on exchange stock
                    </md-checkbox>
                    <div ng-show="agreeWithPublicationOnExchangeStock">
                        Exchange stock fee: 325 RUB
                    </div>

                    <md-radio-group name="paymentType" ng-show="agreeWithPublicationOnExchangeStock">
                        <md-radio-button value="PC" class="md-primary">Яндекс.Деньгами</md-radio-button>
                        <md-radio-button value="AC"> Банковской картой</md-radio-button>
                    </md-radio-group>

                    <div ng-show="create_coin_message != null" style="color: red">{{create_coin_message}}</div>
                    <md-button type="submit" class="md-raised md-primary"
                               style="margin-top: 20px; background-color: green"
                               ng-disabled="create_coin_request_in_progress">
                        {{agreeWithPublicationOnExchangeStock ? "Create public coin" : "Create coin"}}
                        <md-progress-linear md-mode="query"
                                            ng-disabled="!create_coin_request_in_progress"></md-progress-linear>
                    </md-button>
                </md-content>
            </form>
        </div>
    </md-content>
</div>