@font-face {
    font-family: font_main;
    src: url("font/MorningSnow-rv2vL.otf") format("opentype");
}

body {
    font-family: font_main;
    color: var(--black);
    background-color: var(--bottom);
}