<style>

    .file-line {
        height: 60px;
        font-weight: 600;
        font-size: 18px;
        padding-left: 16px;
    }

    .file-line:hover {
        background: #3b3b3b;
    }

    .file_name {
        padding-left: 24px;
    }

    .editor_parent {
        position: relative;
    }

    .editor {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
</style>


<div class="layout-fill layout-row" ng-cloak>
    <form class="layout-column flex" ng-submit="save()">
        <div class="layout-row layout-align-center-center header">
            <md-input-container>
                <label style="text-align: center" ng-show="mode == 'new'">App name</label>
                <input style="text-align: center" type="text" ng-model="domain_name" ng-disabled="mode != 'new'"
                       required autocomplete="off">
            </md-input-container>
        </div>
        <div class="layout-row flex">
            <div class="layout-column flex">
                <div class="layout-row layout-align-center-center input-header">
                    index.html
                </div>
                <div class="layout-column flex editor_parent">
                    <div class="editor" id="html_editor"></div>
                </div>
            </div>
            <md-content style="width: 40px; background-color: #666666" md-ink-ripple
                        ng-click="editor_toggle = !editor_toggle">
            </md-content>
            <div class="layout-column flex" ng-show="!editor_toggle">
                <div class="layout-row layout-align-center-center input-header">
                    controller.js
                </div>
                <div class="layout-column flex editor_parent">
                    <div class="editor" id="js_editor"></div>
                </div>
            </div>
        </div>
        <md-progress-linear md-mode="query" ng-disabled="!save_request_in_progress"></md-progress-linear>
        <md-button type="submit" class="md-raised md-primary header" ng-disabled="save_request_in_progress">
            Save
        </md-button>
    </form>

    <div class="layout-column flex-30 scrollable">
        <div class="layout-row layout-align-center-center header">
            <h2>{{path.join('/')}}</h2>
        </div>
        <div class="layout-column flex scrollable">
            <md-button class="file-line" md-ink-ripple
                       ng-click="fileBack()">
                <md-icon md-svg-src="img/up.svg" style="color: white"></md-icon>
            </md-button>
            <md-divider></md-divider>
            <div ng-repeat="file in files">
                <md-content class="layout-row layout-align-start-center file-line" md-ink-ripple
                            ng-click="fileOpen(file)">
                    <md-icon md-svg-src="{{file.size == 0 ? 'img/folder.svg' : 'img/file.svg'}}"
                             ng-style="{'color': (file.size == 0 ? 'white' : '#b0b0b0')}"></md-icon>
                    <div class="file_name">{{file.name}}</div>
                    <div class="flex"></div>
                    {{fileSizeFormat(file.size)}}
                    <md-menu md-position-mode="target-right target">
                        <md-button aria-label="Open demo menu" class="md-icon-button"
                                   ng-click="$mdMenu.open($event)">
                            <md-icon md-menu-origin md-svg-icon="img/menu.svg"></md-icon>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button ng-click="download(file.name)">
                                    Download
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="delete(file)">
                                    Rename
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="fileDelete(file)">
                                    Delete
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-content>
                <md-divider></md-divider>
            </div>
        </div>
        <div class="layout-row">
            <md-button class="md-raised md-primary header flex" ng-click="uploadFile()">
                Upload file
            </md-button>
            <md-button class="md-raised md-primary header flex">
                Create dir
            </md-button>
        </div>
    </div>
</div>



