<!DOCTYPE html>
<body ng-app="App" class="col md-content" ng-controller="Controller" ng-cloak>
<div id="tradeChart" style="width: 100%; height: 300px" ng-show="showChart"></div>
<md-content class="row line" style="margin-top: 12px">
    <div class="col" style="width: 200px;">
        <div class="row gray400-back" style="height: 32px; padding: 1px; border-radius: 3px">
            <md-content class="flex row align-center-center green-text" style="border-radius: 3px"
                        ng-class="{'white-back': !is_sell, ' gray400-back': is_sell}" ng-click="is_sell = false"
                        md-ink-ripple>
                {{str.buy}}
            </md-content>
            <md-content class="flex row align-center-center red-text" style="border-radius: 3px"
                        ng-class="{'white-back': is_sell, ' gray400-back': !is_sell}" ng-click="is_sell = true"
                        md-ink-ripple>
                {{str.sell}}
            </md-content>
        </div>

        <div class="row input-wrapper" style="margin-top: 16px">
            <div class="input-label">Price</div>
            <input type="number" ng-model="price" ng-change="changePrice()">
        </div>

        <div class="row input-wrapper" style="margin-top: 16px">
            <div class="input-label">{{coin.ticker}} amount</div>
            <input type="number" ng-model="amount" ng-change="changeAmount()">
        </div>
        <div class="row" style="height: 22px">
            <md-content class="flex row align-center-center  white-back size12"
                        style="border: 1px solid rgba(0, 0, 0, 0.2);" ng-repeat="item in [25,50,75,100]"
                        ng-click="setPortion(item)" md-ink-ripple>{{item}}%
            </md-content>
        </div>
        <div class="row input-wrapper" style="margin-top: 16px">
            <div class="input-label">Total</div>
            <input type="number" ng-model="total" ng-change="changeTotal()">
        </div>

        <div class="row size10" style="margin-top: 8px">
            <div>{{str.available}} {{is_sell ? coin.ticker : "USDT"}}</div>
            <div class="flex" style="border-bottom: 1px solid rgba(0, 0, 0, 0.2); margin: 0 4px"></div>
            <div>{{amountFormat(is_sell ? availableCoin : availableUsdt)}}</div>
        </div>

        <md-content class="row align-center-center ripple green-back white-text size18 fade-animation"
                    style="height: 40px; margin-top: 15px; border-radius: 3px"
                    ng-class="{'red-back': is_sell, ' green-back': !is_sell}"
                    ng-click="place()" md-ink-ripple>
            {{is_sell ? str.sell : str.buy}} {{coin.ticker}}
        </md-content>

    </div>
    <div class="flex col" style="margin-left: 10px">

        <md-content class="row gray400-back size14" style="height: 32px; padding: 1px; border-radius: 3px">
            <div class="flex row align-center-center" style="border-radius: 3px"
                 ng-class="{'white-back': showChart}" ng-click="showChartToggle()" md-ink-ripple>
                Chart
            </div>
        </md-content>

        <div class="row" style="margin-top: 16px">
            <div class=" size10">Price (USDT)</div>
            <div class="flex"></div>
            <div class="row  size10">Amt ({{coin.ticker}})</div>
        </div>


        <!--orderbook-->
        <div class="col align-end" style="height: calc(20px * 6)">
            <div class="row align-start-center" ng-repeat="item in sell"
                 style="height: 20px; position: relative"
                 ng-click="sellLineClick($index)">
                <div class="red-back" style="position: absolute; height: 100%; opacity: 0.09;"
                     ng-style="{'min-width': item.percent + '%'}"></div>
                <div class="red-text" style="margin-left: 4px">{{priceFormat(item.price)}}</div>
                <div class="flex"></div>
                <div>{{amountFormat(item.amount)}}</div>
            </div>
        </div>
        <md-divider></md-divider>
        <div class="col align-start" style="height: calc(20px * 6)">
            <div class="row align-start-center" ng-repeat="item in buy" style="height: 20px; position: relative"
                 ng-click="buyLineClick($index)">
                <div class="green-back" style="position: absolute; height: 100%; opacity: 0.09;"
                     ng-style="{'min-width': item.percent + '%'}"></div>
                <div class="green-text" style="margin-left: 4px">{{priceFormat(item.price)}}</div>
                <div class="flex"></div>
                <div>{{amountFormat(item.amount)}}</div>
            </div>
        </div>
    </div>
</md-content>

</body>
</html>