<div class="layout-fill layout-column layout-align-center" style="background-color: #666666">
    <div class="layout-row layout-align-center">
        <md-content  class="layout-column" style="width: 350px; padding: 20px">
            <div class="layout-row layout-align-center">
                <h3>Login</h3>
            </div>
            <md-input-container class="md-block">
                <label>Login</label>
                <input ng-model="login">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Password</label>
                <input ng-model="password">
            </md-input-container>
            <md-button class="md-raised md-primary" style="margin-top: 30px;" ng-click="loginButton()">
                Sign In
            </md-button>
        </md-content>
    </div>
</div>
