<md-bottom-sheet>
    <md-content class="col input-content">
        <div class="row align-start-center">
            <div class="flex row size16">{{coin.domain.toUpperCase() + " options"}}</div>
            <div class="col align-start-end">
                <p class="size12">Balance</p>
                <p class="size16" style="margin-top: 2px">{{formatPrice(coin.balance * coin.price)}}</p>
            </div>
        </div>
        <div class="primary-button" ng-click="giveaway()"
                   ng-show="contracts[contract.drop]">
            Drop {{coin.domain}}
        </div>
        <div class="row">
            <div class="flex primary-button green-back" ng-click="ico_buy()"
                       ng-show="contracts[contract.ico_buy]">
                Buy {{coin.domain}}
            </div>
            <div style="width: 16px"></div>
            <div class="flex primary-button red-back" ng-click="ico_sell()"
                       ng-show="contracts[contract.ico_sell]">
                Set price {{coin.domain}}
            </div>
        </div>
        <div class="primary-button" ng-click="sendDialog()"
             ng-show="contracts[contract.send]">
            Send {{coin.domain}}
        </div>
        <div class="primary-button" ng-click="share()"
             ng-show="contracts[contract.send]">
            Share {{coin.domain}}
        </div>
        <div class="primary-button" ng-click="trans()">
            Transactions {{coin.domain}}
        </div>
    </md-content>
</md-bottom-sheet>