<md-bottom-sheet>
    <md-content class="col input-content">
        <div class="row">
            <div class="size16 flex uppercase">{{locals.domain}}</div>
            <div class="size16">{{balance}}</div>
        </div>
        <md-button class="md-raised md-primary" ng-click="giveaway()"
                   ng-show="contracts[data10.drop]">
            Drop {{locals.domain}}
        </md-button>
        <div class="row">
            <md-button class="flex md-raised md-primary" ng-click="ico_buy(locals.domain)"
                       ng-show="contracts[data10.ico_buy]">
                Buy {{locals.domain}}
            </md-button>
            <md-button class="flex md-raised md-primary" ng-click="ico_sell(locals.domain)"
                       ng-show="contracts[data10.ico_sell]">
                Sell {{locals.domain}}
            </md-button>
        </div>
        <div class="primary-button" ng-click="sendDialog(locals.domain)"
             ng-show="contracts[data10.send]">
            Send {{locals.domain}}
        </div>
    </md-content>
</md-bottom-sheet>