<md-dialog class="fill col">
    <div class="row header align-start-center">
        <img src="/wallet/img/back.svg" ng-click="close()">
        <img class="img32 radius8" src="{{genLogo(coin.logo)}}">
        <div class="col flex">
            <p class="size16 bold uppercase medium">{{coin.domain}}</p>
            <p class="size12 mt4 gray400-text">{{coin.owner}}</p>
        </div>
        <div class="col">
            <p class="green-text">$150</p>
            <p class="mt4 green-text">+12%</p>
        </div>
        <div class="col ml8 align-center-center button-gray p8"
             ng-click="toggleFavorite()">
            <img class="img16 img-black"
                 ng-show="!isFavorite"
                 src="/wallet/img/favorite.svg">
            <img class="img16 img-warning"
                 ng-show="isFavorite"
                 src="/wallet/img/favorite-selected.svg">
        </div>
    </div>
    <div class="flex col content align-start-center scroll" ng-show="profile">
        <div class="col block input-content">
            <div class="row mt16 align-start-center">
                <div class="flex col">
                    <p class="size14 gray400-text">Account balance</p>
                    <p class="mt4 size24" ng-show="isHideBalance()">*****</p>
                    <p class="mt4 size24" ng-show="coin.price && !isHideBalance()">
                        {{formatPrice(coin.balance * coin.price)}}</p>
                    <p class="mt4 size24" ng-show="!coin.price && !isHideBalance()">
                        {{formatAmount(coin.balance, coin.domain)}}</p>
                </div>
                <!--<div class="button" ng-click="openMining()">Mining</div>-->
            </div>
            <div class="col align-center-center" style="height: 200px;" ng-hide="profile">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
            <div class="row scrollable-horizontal align-center-start">
                <div class="col align-start-center ripple"
                     ng-click="giveaway()">
                    <div class="p8 mt16 mh16 row align-center button-gray radius12">
                        <img class="img24 img-accent" src="/wallet/img/gift.svg">
                    </div>
                    <p class="size12 mt4 gray400-text">Drop</p>
                </div>
                <div class="col align-start-center ripple"
                     ng-click="sendDialog()">
                    <div class="p8 mt16 mh16 row align-center button-gray radius12">
                        <img class="img24 img-accent" src="/wallet/img/qr.svg">
                    </div>
                    <p class="size12 mt4 gray400-text">Send</p>
                </div>
                <div class="col align-start-center ripple"
                     ng-click="share()">
                    <div class="p8 mt16 mh16 row align-center button-gray radius12">
                        <img class="img24 img-accent" src="/wallet/img/mail.svg">
                    </div>
                    <p class="size12 mt4 gray400-text">Invite</p>
                </div>
                <div class="col align-start-center ripple"
                     ng-show="profile.owner == wallet.address()"
                     ng-click="openStore()">
                    <div class="p8 mt16 mh16 row align-center button-gray radius12">
                        <img class="img24 img-accent" src="/wallet/img/upgrade.svg">
                    </div>
                    <p class="size12 mt4 gray400-text">Store</p>
                </div>
                <div class="col align-start-center ripple"
                     ng-click="openMining()">
                    <div class="p8 mt16 mh16 row align-center button-gray radius12">
                        <img class="img24 img-accent" src="/wallet/img/mining.svg">
                    </div>
                    <p class="size12 mt4 gray400-text">Mining</p>
                </div>
            </div>
            <ng-include src="'/wallet/options/profile.html'"></ng-include>
        </div>
    </div>
    <div class="col mb16 align-start-center"
         ng-show="coin.price || coin.owner == wallet.address()">
        <div class="row ph16 block gap16">
            <div class="flex primary-button green-back"
                 ng-click="ico_buy()">
                Buy {{formatDomain(coin.domain)}}
            </div>
            <div style="width: 16px" ng-show="coin.price && coin.owner == wallet.address()"></div>
            <div class="flex primary-button red-back"
                 ng-click="ico_sell()">
                <!--coin.owner == username"-->
                Sell {{formatDomain(coin.domain)}}
            </div>
        </div>
    </div>

</md-dialog>