<div class="col mt16" ng-show="profile.category">
    <p class="size16 gray400-text">Description</p>
    <p class="mt8 size14">{{categoriesDesc[profile.category]}}</p>
</div>

<div class="row">
    <div class="button" ng-show="siteExist" ng-click="openSite()">
        Web site
    </div>
</div>

<div class="row mt16 scrollable-horizontal">
    <div class="col mr16">
        <p class="gray300-text size10">MCAP</p>
        <div class="row mt8 align-start-center">
            <p class="black-text size14">{{formatPrice(profile.mcap)}}</p>
            <p class="ml4 black-text size12"
               ng-class="percentColor(profile.price7dChange)">
                {{formatPercent(profile.price7dChange)}}
            </p>
        </div>
    </div>
    <div class="col mr16">
        <p class="gray300-text size10">Wallets7d</p>
        <div class="row mt8 align-start-center">
            <p class="black-text size14">{{formatAmount(profile.wallets7d)}}</p>
            <p class="ml4 black-text size12"
               ng-class="percentColor(profile.wallets7dChange)">
                {{formatPercent(profile.wallets7dChange)}}
            </p>
        </div>
    </div>
    <div class="col mr16">
        <p class="gray300-text size10">Transfers7d</p>
        <div class="row mt8 align-start-center">
            <p class="black-text size14">{{formatAmount(profile.transfers7d)}}</p>
            <p class="ml4 black-text size12"
               ng-class="percentColor(profile.transfers7dChange)">
                {{formatPercent(profile.transfers7dChange)}}
            </p>
        </div>
    </div>
    <div class="col mr16">
        <p class="gray300-text size10">Volume7d</p>
        <div class="row mt8 align-start-center">
            <p class="black-text size14">{{formatAmount(profile.volume7d)}}</p>
            <p class="ml4 black-text size12"
               ng-class="percentColor(profile.volume7dChange)">
                {{formatPercent(profile.volume7dChange)}}
            </p>
        </div>
    </div>
</div>

<div class="col mt16" ng-show="profile.category">
    <p class="size16 gray400-text">Tokenomics</p>
    <div class="mt8 size14">
        <div class="row mt4">
            <p class="flex">Total supply</p>
            <p class="nowrap">{{formatAmount(profile.total, profile.domain)}}</p>
        </div>
        <div class="row mt4">
            <p class="flex">Circulation supply</p>
            <p class="nowrap">{{formatAmount(profile.pie.circulation, profile.domain)}}</p>
        </div>
        <div class="row mt4">
            <p class="flex">For sale</p>
            <p class="nowrap">{{formatAmount(profile.pie.ico, profile.domain)}}</p>
        </div>
        <div class="row mt4">
            <p class="flex">Created</p>
            <p class="nowrap">{{formatTime(profile.created)}}</p>
        </div>
        <div class="row mt4">
            <p class="flex">Lifetime</p>
            <p class="nowrap">{{formatTime(profile.created)}}</p>
        </div>
    </div>
</div>

<div class="col mt16">
    <p class="size16 gray400-text">Network</p>
    <div class="mt8 size14">
        <div class="row mt4">
            <p class="flex">Nodes</p>
            <p class="nowrap">{{formatAmount(profile.nodes)}}</p>
        </div>
        <div class="row mt4">
            <p class="flex">Transactions</p>
            <p class="nowrap">{{formatAmount(profile.trans)}}</p>
        </div>
        <div class="row mt4">
            <p class="flex">Wallets</p>
            <p class="nowrap">{{formatAmount(profile.wallets)}}</p>
        </div>
    </div>
</div>

<div class="col mt16">
    <p class="size16 gray400-text">DApps</p>
    <div class="mt8 size14">
        <div class="row mt4" ng-repeat="(domain, app) in profile.dapps">
            <p class="flex">{{domain}}</p>
            <p class="nowrap">{{formatHash(app.hash)}}</p>
        </div>
    </div>
</div>