html {
    user-select: none;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

/*For ngRoute animation*/
.view-container {
    position: relative;
    height: 100%;
}

.view-frame {
    height: 100%;
}

.view-frame.ng-enter,
.view-frame.ng-leave {
    background-color: rgb(48, 48, 48);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.view-frame.ng-enter {
    animation: 1s fade-in;
    z-index: 100;
}

.view-frame.ng-leave {
    animation: 1s fade-out;
    z-index: 99;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.header {
    background-color: #666666;
    height: 80px;
    font-size: 20px;
    font-weight: 600;
}

/*for inputs*/
md-input-container {
    margin: 18px 0 0 0;
}

.md-errors-spacer {
    display: none;
}

/*for md-autocomplete*/
/*md-autocomplete-wrap > md-input-container {
    margin: 18px 0;
}

md-input-container > .md-errors-spacer {
    display: block;
}*/


.md-button {
    margin: 0;
    padding: 0;
    border-radius: 0;
    font-weight: 600;
}

*:focus {
    outline: none;
    border: 0;
}


.input-wrapper {
    width: 350px;
    box-shadow: 0 0 25px black;
}

.input-header, .input-footer {
    background-color: black;
    padding: 24px;
}

.input-header {
    border-top: 6px solid rgb(33, 150, 243);
}

.input-container {
    padding: 16px;
}

.input-container > * {
    margin: 16px 0 0 0;
}

a {
    color: rgb(33, 150, 243);
}


.scrollable {
    overflow: auto;
}

.scrollable::-webkit-scrollbar {
    width: 6px;
}

.scrollable::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: #666666;
    outline: 1px solid #000000;
}

.md-divider {
    margin: 0;
}
