/* angular fixes*/
.md-button {
    margin: 0;
    height: 38px;
}

*:focus {
    outline: none;
}

md-content {
    background-color: transparent;
}

md-switch {
    margin: 0;
    overflow: hidden;
}

.md-ripple-container {
    margin: 0;
}

md-menu-item {
    min-height: auto;
    height: auto;
}

md-menu-content {
    padding: 0;
}

/* angular fixes*/

p {
    margin: 0;
    padding: 0;
}

.col-content > * {
    padding: 8px 16px 8px 16px;
}

.col-content > *:first-child {
    padding-top: 16px;
}

.col-content > *:last-child {
    padding-bottom: 16px;
}

.row-content > * {
    margin-left: 16px;
}

.row-content > *:last-child {
    margin-right: 16px;
}

.input-content > * {
    margin: 8px 16px 8px 16px;
}

.input-content > *:first-child {
    margin-top: 16px;
}

.input-content > *:last-child {
    margin-bottom: 16px;
}

.input-wrapper {
    position: relative;
}

input:disabled {
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.05);
}

.input {
    height: 56px;
    outline: none;
    border-radius: 3px;
    font-size: 14px;
    padding-left: 12px;
    padding-top: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-label-top {
    top: -6px;
    left: 10px;
    position: absolute;
    background-color: white;
    font-size: 12px;
    padding: 0 4px;
    color: rgb(132, 142, 156);
}

.input-label-right {
    right: 0;
    padding: 11px 8px;
    font-size: 14px;
    color: rgb(132, 142, 156);
    position: absolute;
}

.input:hover, .input:focus {
    border: 1px solid rgba(0, 0, 0, 0.35);
}

.input.search {
    border-radius: 20px;
    padding-top: 1px
}

.img36 {
    width: 36px;
    height: 36px;
}

/* Ripple effect */
.white-back-ripple:active {
    background-color: #d9d9d9;
}

.green-back-ripple:active {
    background-color: rgb(255, 255, 255);
}

.red-back-ripple:active {
    background-color: rgb(241, 137, 151);
}

.blue-back-ripple,
.primary-button {
    background-color: #4F50FB;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    text-transform: uppercase;
}

.blue-back-ripple:active,
.primary-button:active {
    background-color: #8e8eea;
}

.primary-button:disabled,
.primary-button[disabled]{
    color: rgba(0,0,0,0.38);
    cursor: default;
    background-color: rgba(0,0,0,0.12);
}


.success .md-toast-content {
    background: green;
}

.error .md-toast-content {
    background: red;
}

.info .md-toast-content {
    background: orange;
}

.warning .md-toast-content {
    background: purple;
}

.primary-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #4F50FB;
    color: white;
    border-radius: 4px;
    padding: 16px;
}

.primary-button > * {
    box-sizing: border-box;
    margin-right: 4px;
}

.primary-button > *:last-child {
    margin-right: 0;
}

.page {
    width: 800px;
    max-width: 800px;
}

.filter {
    padding: 8px 16px 8px 16px;
    border-radius: 16px;
    background-color: rgba(79, 80, 251, 0.16);
    margin-right: 8px;
}

.filter.active {
    color: white;
    background-color: rgba(79, 80, 251);
}

md-bottom-sheet {
    padding: 0;
    border-top-width: 0;
    bottom: 80px;
}