<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" href="/wallet/img/fav.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/angular/angular.min.js"></script>
    <link href="/angular/angular-material.min.css" rel="stylesheet">
    <script src="/angular/angular-material.min.js"></script>
    <!--https://material.angularjs.org/latest/-->

    <script src="/wallet/utils.js"></script>
    <link href="/angular/binance_style.css" rel="stylesheet">
    <link href="/angular/colors.css" rel="stylesheet">
    <script>
        controller(function ($scope, $mdBottomSheet, $mdToast) {
            $scope.mainAction = function () {
                $mdBottomSheet.show({
                    templateUrl: 'dialog.html',
                    controller: function ($scope, $mdBottomSheet) {
                    }
                }).then(function () {
                })
            }
            $scope.$watch('search_text', function (newValue) {
                $scope.value = newValue;
            })
        })
    </script>
</head>
<body class="col" ng-app="App" ng-controller="Controller">
<div class="row row-content blue-back">
    <div class="row flex input-wrapper">
        <input type="text" class="flex input search"
               ng-model="search_text" placeholder="Search">
    </div>
</div>
<div class="row align-center-start">
    <div class="flex col col-content" style="max-width: 800px">
        <p>Title</p>
        <div class="col" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]">
            <div class="row content md-whiteframe-2dp">
                <p>Card {{value}}</p>
            </div>
        </div>
        <md-button class="md-fab md-raised md-primary"
                   style="position:fixed; right: 50px; bottom: 50px"
                   ng-click="mainAction()">
            <md-icon md-svg-src="img/icons/cake.svg"></md-icon>
        </md-button>
    </div>
</div>
</body>
</html>