body {
    margin: 0;
    background-color: #edeef0;
    font-weight: 400;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", sans-serif, arial, Tahoma, verdana;
    user-select: text;
}

.main-container {
    width: 960px;
}

.header {
    height: 48px;
    color: white;
    background-color: #4a76a8;
    border-bottom: #005686 1px solid;
}

h1 {
    color: white;
    margin: 0 0;
    padding: 0;
    font-size: 22px;
    font-weight: 600;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.menu {
    margin: 0 0;
    padding: 0 15px;
}

.menu a:link, .menu a:visited {
    color: white;
}

.menu.active {
    background-color: #005686;
}

.menu:hover:not(.active) {
    background-color: #416a9a;
    cursor: pointer;
}

.left-container, .center-container {
    padding: 5px 0;
}

.left-menu {
    font-size: 13px;
    padding: 11px 24px;
}

.left-menu:hover {
    background-color: #f7f8fa;
}

.left-menu a:link, .left-menu a:visited {
    color: #6888a8;
}

.left-container {
    width: 200px;
    margin-right: 32px;
    color: #6888a8;
}

.center-container {
    width: 760px;
}

.left-block, .center-block {
    color: black;
    margin-top: 20px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 rgb(211, 217, 222), 0 0 0 1px rgb(231, 232, 236);
}

.left-block {
    padding-bottom: 14px;
}

.left-block-title {
    line-height: 21px;
    font-size: 18px;
    padding: 24px 24px 16px 24px;
}

.center-block {
    padding: 0 30px 8px 30px;
    font-size: 13px;
    line-height: 21px;
}

.center-block-title {
    line-height: 21px;
    font-size: 18px;
    padding-top: 24px;
    padding-bottom: 16px;
}

.col-divider {
    background-color: #e7e8ec;
    height: 1px;
    width: 100%;
}

.param, .center-block-description {
    padding: 15px 1px 10px 1px;
}

.param {
    width: 150px;
    font-weight: 700;
}

.param-type {
    padding: 1px;
    color: rgb(130, 130, 130);
}

.param-description {
    padding: 15px 17px;
}

.example {
    border: rgb(223, 230, 237) 1px solid;
    background-color: rgb(247, 248, 250);
    margin-bottom: 16px;
}

.example-params {
    border-right: 1px solid #dfe6ed;
    color: rgb(78, 89, 102);
    background-color: #f0f2f5;
    width: 146px;
    padding: 1px 12px 9px 12px;
}

.example-param-title {
    color: rgb(78, 89, 102);
    line-height: 15px;
    margin-top: 15px;
    font-weight: 700;
    font-size: 13px;
}

.example-param-input {
    border: rgb(211, 217, 222) 1px solid;
    cursor: text;
    font-weight: 400;
    margin-top: 7px;
    padding: 8px 10px;
}

.example-button {
    margin-top: 20px;
    color: white;
    padding: 7px 16px 8px;
    cursor: pointer;
    text-align: center;
    background-color: rgb(81, 129, 184);
    border: 0;
    border-radius: 4px;
}

.example-button:hover {
    background-color: #648ec0;
}

input:focus {
    outline: none !important;
    box-shadow: 0 0 3px #719ECE;
}

.dir-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAeQAAAHkBOLWIEgAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAACJSURBVDiNY/z//z8DJYDl++HIbgZGBlNMKcYLnDbLCggZwPjtcAQ+J1j8+/P3IS5Jbt4fn1gIWHCCiYUZp+T3b9x3CBnAwMLFxsDIzIRLWoWFmZPtKi5ZJlYmEUZmJnG8FjBzsGgTcgU+gNNtowbQ2QBKctN/Fob/DKkMTAyxZGn/x7CYkdLsDACQQh7m7msFzwAAAABJRU5ErkJggg==')
}

.left-menu.active {
    border-left: #577ca1 2px solid;
    background-color: #f7f8fa;
}

.info {
    background-color: #f0f2f5;
    border-left: #8fadc8 3px solid;
    padding: 10px;
    margin-top: 10px;
}

.info a {
    color: rgb(42, 88, 133);
    font-size: 13px;
    font-weight: 400;
    text-decoration-color: rgb(42, 88, 133);
    text-decoration-line: none;
}

.info a:hover {
    text-decoration-color: rgb(42, 88, 133);
    text-decoration-line: underline;
}
