<style>
    .page-container {
        overflow: hidden;
        scroll-behavior: smooth;
    }

    @media (max-width: 600px) {
        .fragment{
            min-width: 100%;
        }
    }

    .fragment {
        width: 400px
    }
</style>
<div id="main-page" class="layout-fill layout-row page-container" style="background-color: #666666">
    <md-content id="left-fragment" class="fragment">
        <md-button class="md-raised md-primary" ng-click="next()">Next</md-button>
    </md-content>
    <md-content class="fragment" style="background-color: gray">
        <md-button class="md-raised md-primary" ng-click="back()">Next</md-button>
    </md-content>
</div>