<style>
    .page-container {
        width: 100%;
        height: 100%;
        text-align: center;
        overflow: hidden;
        scroll-behavior: smooth;
    }

    .page-wrapper {
        margin: auto;
        width: 960px;
        height: 100%;
    }

    @media (max-width: 960px) {
        .page-wrapper {
            width: 100%;
        }
        .fragment {
            min-width: 100%;
        }
    }

    .fragment {
        width: 50%
    }
</style>
<div id="main-page" class="page-container" style="background-color: #666666">
    <div class="page-wrapper  layout-row ">
        <md-content id="left-fragment" class="fragment">
            <md-button class="md-raised md-primary" ng-click="next()">Next</md-button>
        </md-content>
        <md-content class="fragment" style="background-color: gray">
            <md-button class="md-raised md-primary" ng-click="back()">Next</md-button>
        </md-content>
    </div>
</div>