<!DOCTYPE html>
<html lang="en">
<head>
    <!--https://material.angularjs.org/latest/-->
    <meta charset="UTF-8">
    <script src="/angular/angular.min.js"></script>
    <link href="/angular/angular-material.min.css" rel="stylesheet">
    <script src="/angular/angular-material.min.js"></script>
    <link href="style.css" rel="stylesheet">
    <link href="/flex/colors.css" rel="stylesheet">
    <script>
        angular.module("App", ['ngMaterial', 'ngAnimate'])
            .controller("Controller", function ($scope, $http) {
                $scope.apps = [
                    {
                        type: "wallet",
                        title: "Wallet",
                        url: "/wallet",
                        logo: "img/wallet.svg",
                    },
                    {
                        type: "dialog",
                        title: "Tether",
                        url: "/usdt",
                        logo: "img/tether.svg",
                    },
                    {
                        type: "page",
                        title: "Stocks",
                        url: "/stock",
                        logo: "/stock/"
                    },
                    {
                        type: "updater",
                        title: "updater",
                        url: "/updater",
                        logo: "img/tether.svg",
                    },
                    {
                        type: "vote",
                        title: "vote",
                        url: "/vote",
                        logo: "img/vote.svg",
                    },
                ]

                $scope.open = function (app) {
                    window.location = app.url
                }
            })
    </script>
</head>
<body ng-app="App" ng-controller="Controller" class="col">
<div class="row align-center" style="background: black">
    <div class="row page white-text">
        <md-button>Home</md-button>
        <md-button>Stocks</md-button>
    </div>
</div>
<div class="row align-center-start flex page-content">
    <div class="row page">
        <md-content class="col card" ng-repeat="item in apps" md-ink-ripple ng-click="open(item)">
            <img ng-src="{{item.logo}}" style="width: 200px;">
            <div class="row align-start-center" style="padding: 4px 16px">
                <span class="flex">{{item.title}}</span>
                <md-button ng-click="open(item)">Open</md-button>
            </div>
        </md-content>
    </div>
</div>
</body>