<md-bottom-sheet class="col">
    <div class="row header align-start-center">
        <img class="ripple" src="/wallet/img/back.svg" ng-click="back()">
        <p>Create invite link</p>
    </div>
    <div class="col content ">
        <div class="col input-content">
            <p>Share {{formatTicker(domain)}} with your friend</p>
            <div class="row input-wrapper-black">
                <div class="input-label">{{formatTicker(domain)}} count</div>
                <input type="number"
                       id="invite_coins"
                       ng-model="amount">
            </div>
        </div>
        <div class="primary-button" ng-click="create()">
            Create invite link
        </div>
    </div>
</md-bottom-sheet>