<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Explorer</title>
  <link rel="stylesheet" href="/flex/flex.css">
  <!-- Angular Material Dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-messages.min.js"></script>

  <!-- Angular Material Javascript now available via Google CDN; version 1.2.1 used here -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.2.1/angular-material.min.js"></script>
  <!-- Angular Material style sheet -->
  <link rel="stylesheet"
        href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">

  <script src="../md5/js/md5.min.js"></script>
  <script src="../stock/utils.js"></script>
  <style>
    body {
      font-size: 12px;
    }
  </style>
  <script>
    angular.module("App", ['ngMaterial', 'ngAnimate'])
            .controller("Controller", function ($scope, $http) {
              $scope.address = "data/test2.php"

              function get(path, callback) {
                $http({
                  method: "POST",
                  url: "/data/get.php",
                  data: {
                    path: path,
                  }
                }).then(function (response){
                  callback(response.data)
                })
              }

              function setData() {
                $http({
                  method: "POST",
                  url: "/data/set.php",
                  data: {
                    address: $scope.address,
                    password: $scope.password,
                    next_hash: next_hash(),

                    path: $scope.search_text,
                    type: $scope.type,
                    value: $scope.search_value,
                  }
                }).then(function (response) {
                  $scope.search_result = response.data.result
                  $scope.search_value = response.data.value
                  getBalance()
                })
              }

              $scope.address = "admin"
              $scope.password = "password"
              $scope.login = function () {
                localStorage.setItem('login', $scope.address)
                localStorage.setItem('password', $scope.password)
                getBalance()
              }
              $scope.logout = function () {
                localStorage.removeItem('login')
                localStorage.removeItem('password')
                localStorage.removeItem('next_password')
                localStorage.removeItem('next_hash')
              }
              $scope.isLogged = function () {
                return localStorage.getItem('login') != null
                        && localStorage.getItem('password') != null
              }

              function getRandomInt(max) {
                return Math.floor(Math.random() * max);
              }
              function next_hash() {
                var next_password = "" + getRandomInt(999999999)
                var next_hash = md5(next_password)
                localStorage.setItem('next_password', next_password)
                localStorage.setItem('next_hash', next_hash)
                return next_hash
              }

              getBalance()
              function getBalance() {
                if ($scope.isLogged()){
                  get("wallets/" + $scope.address + "/amount", function (balance) {
                    if ($scope.balance != balance)
                      $scope.balance = balance
                  })
                  $http({
                    method: "POST",
                    url: "/data/children.php",
                    data: {
                      path: $scope.search_text,
                    }
                  }).then(function (response) {
                    $scope.children = response.data.children
                  })
                }
              }
            })
  </script>
</head>
<body class="row align-center" ng-app="App" ng-controller="Controller">
<div class="col">
   <div class="row" ng-show="!isLogged()">
    <div class="col">
      <div class="row">
        <input type="text" class="flex" ng-model="address" placeholder="login">
      </div>
      <div class="row">
        <input type="text" class="flex" ng-model="password" placeholder="password">
      </div>
    </div>
    <button ng-click="login()">login</button>
  </div>
  <div class="row" ng-show="isLogged()">
    <button ng-click="logout()">Logout</button>
    <div>{{balance}} coins</div>
  </div>

  <div class="row">
    <input type="text" class="flex" ng-model="address" placeholder="receiver address">
  </div>

  <md-button class=" md-raised md-primary" ng-click="create()">
    Deposit
  </md-button>

</div>
</body>
</html>