<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/angular/js/angular.min.js"></script>

    <link rel="stylesheet" href="/angular/css/angular-material.min.css">
    <script src="/angular/js/angular-material.min.js"></script>

    <link rel="stylesheet" href="/flex/flex.css">
    <link rel="stylesheet" href="style.css">
</head>
<body ng-app="App" ng-controller="Controller">
<div class="row align-center header">
    <div class="main_container row align-start-center">
        <div class="logo">PAINCOIN.com</div>
        <div class="menu-item">Главная</div>
        <div class="menu-item">История</div>
        {{name}}
    </div>
</div>
<div class="row align-center">
    <div class="main_container row" style="margin: 30px 0;">
        <form class="col flex-50" ng-submit="pain()">
            <h1 style="margin-top: 40px">Зарабатывай ненавидя!</h1>
            <h2 style="margin-top: 20px">Получи криптомонеты за свои истории пропитанные страданием и болью.</h2>
            <textarea ng-model="text" style="margin-top: 20px" rows="6" placeholder="Однажды ..."  required></textarea>
            <div class="row" style="margin-top: 20px">
                <input ng-model="email" class="flex" type="email" placeholder="example@email.com" required>
                <input type="submit" value="Отправить" ng-disabled="pain_request">
            </div>
            <div style="font-size: 1.5em" ng-show="pain_request_success">Ваша заявка принята</div>
        </form>
        <div class="col align-start-center flex">
            <img src="img/squidward.png" style="width: 250px; height: auto">
            <div style="font-size: 4em; text-align: center">Ненавижу понедельники!</div>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="row align-center">
    <div class="main_container col">
        <div class="row">
            <div class="flex-50 col comment-block" style="margin-right: 10px">
                <div class=" row align-center" style="margin: 15px">
                    <h2>ТОП 10 историй.</h2>
                </div>
                <div class="col" ng-repeat="request in top">
                    <div class="card row">
                        <div class="flex">{{request.text}}</div>
                    </div>
                    <div class="row align-end owner">{{request.email}}</div>
                </div>
            </div>
            <div class="flex-50 col comment-block" style="margin-left: 10px">
                <div class=" row align-center" style="margin: 15px">
                    <h2>Новые истории</h2>
                </div>
                <div class="col" ng-repeat="request in last">
                    <div class="card row">
                        <div class="flex">{{request.text}}</div>
                    </div>
                    <div class="row align-end owner">{{request.email}}</div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row align-center" style="background-color: #9e9e9e; margin-top: 20px; font-size: 1.2em">
    <div class="main_container row align-start-center" style="padding: 10px 0">
        <div class="flex align-start-center ">
            Работает на <a href="http://HostingRateConsensus.com">HostingRateConsensus.com</a>
        </div>
        <div class="flex row align-end-center">
            <div style="margin: 20px">Разработчик Гайдук Михаил</div>
            <img src="img/vk.svg" class="footer-social-logo">
            <img src="img/instagram.svg" class="footer-social-logo">
            <img src="img/twitter.svg" class="footer-social-logo">
            <img src="img/email.svg" class="footer-social-logo">
        </div>
    </div>
</div>


<script>
    /*TODO create function instead this controller create*/
    angular.module("App", []).controller("Controller", function ($scope, $http) {
        $scope.text = "I am bad man"
        $scope.email = "x29a100@mail.ru"
        $scope.pain_request = false
        $scope.pain_request_success = false

        $scope.pain = function () {
            $scope.pain_request = true
            $http({
                method: 'POST',
                url: '/paincoin/pain.php',
                data: {
                    text: $scope.text,
                    email: $scope.email,
                }
            }).then(function (response) {
                $scope.pain_request = false
                $scope.pain_request_success = true
            }, function (){
                $scope.pain_request = false
            })
        }

        $scope.pain_request = true
        $http({
            method: 'POST',
            url: '/paincoin/top.php'
        }).then(function (response) {
            $scope.top = response.data.top
            $scope.last = response.data.last
        })

    })

</script>
</body>
</html>