
body, input, select, textarea {
    color: #888;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15pt;
    font-weight: 400;
    line-height: 1.65em;
    letter-spacing: -0.01em;
}

input {
    background: #fff;
    color: #555;
    height: 2.75em;
    appearance: none;
    border-radius: 0;
    border: 1px solid #ddd;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

.inputs {
    background-color: white;
    width: 500px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.inputs > *:first-child {
    padding: 30px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 30px;
}

.inputs > * {
    padding-bottom: 20px;
}

input:disabled {
    background-color: #afafaf;
}