<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../../../angular/css/angular-material.min.css">

    <script src="../../../angular/js/angular.min.js"></script>
    <!--angular-animate for ngClass, ngHide, ngIf, ngInclude, ngMessage, ngMessages, ngModel, ngRepeat, ngShow, ngSwitch, ngView-->
    <script src="../../../angular/js/angular-animate.min.js"></script>
    <!--angular-aria for ngModel, ngDisabled, ngRequired, ngChecked, ngReadonly, ngValue, ngShow, ngHide, ngDblclick, ngClick-->
    <script src="../../../angular/js/angular-aria.min.js"></script>
    <!--angular-material for using material design. Docs: https://material.angularjs.org/ -->
    <script src="../../../angular/js/angular-material.min.js"></script>
    <link rel="stylesheet" href="../../../flex/flex.css">

</head>
<body class="col" ng-app="AngularApp" ng-controller="MyController" ng-cloak>

<md-button ng-click="request()" class="md-raised md-primary">Primary</md-button>
<md-progress-linear md-mode="indeterminate" ng-show="requesting"></md-progress-linear>

<img src="{{imgUrl}}" style="width: 100px; height: 100px">

<md-button class="md-fab md-primary">
    <md-icon md-svg-src="img/plus.svg"></md-icon> <!--https://www.flaticon.com/-->
</md-button>

<md-input-container>
    <label>Enter date</label>
    <md-datepicker ng-model="dateData"></md-datepicker>
</md-input-container>
{{dateData}}

<md-input-container>
    <label>Title</label>
    <md-icon md-svg-src="img/plus.svg"></md-icon>
    <input ng-model="inputModel">
</md-input-container>
{{inputModel}}

<md-input-container>
    <label>State</label>
    <md-icon md-svg-src="img/plus.svg"></md-icon>
    <md-select ng-model="selectedOption">
        <md-option ng-repeat="(key, value) in options" value="{{key}}">
            {{value}}
        </md-option>
    </md-select>
</md-input-container>
{{selectedOption}}

<md-radio-group ng-model="frut">
    <md-radio-button value="Apple">Apple</md-radio-button>
    <md-radio-button value="Banana"> Banana </md-radio-button>
    <md-radio-button value="Mango">Mango</md-radio-button>
</md-radio-group>
{{frut}}


<md-slider min="0" max="255" ng-model="color"></md-slider>
{{color}}

<md-switch ng-model="boolValue">Switch</md-switch>

<md-checkbox ng-model="boolValue">Checkbox</md-checkbox>

<style>
    md-input-container{
        margin: 0;
    }
    .md-errors-spacer{
        display: none;
    }
</style>

<form class="col" ng-submit="submit()" style="padding: 35px 30px; margin: 20px; border: gray 1px solid; width: 400px">
    <md-input-container>
        <label>Login</label>
        <input ng-model="login" required>
    </md-input-container>
    <md-input-container>
        <label>Passw</label>
        <input ng-model="passw" required>
    </md-input-container>
    <md-button type="submit"  class="md-primary md-raised">Войти</md-button>
</form>

<script>
    angular.module('AngularApp', ['ngMaterial'])
        .config(function($mdThemingProvider) {
            $mdThemingProvider.theme('default').primaryPalette('pink')
        })
        .controller("MyController", function ($scope) {
            $scope.login = null
            $scope.passw = null
            $scope.inputModel = null
            $scope.imgUrl = "img/plus.svg"
            $scope.dateData = new Date();

            $scope.selectedOption = null
            $scope.options = {
                "AC": "A with D",
                "AB": "A with B",
                "AD": "A with D",
                "AF": "A with f",
            }

            $scope.frut = null
            $scope.requesting = false
            $scope.color = 0

            $scope.request = function () {
                $scope.requesting = !$scope.requesting
            }

            $scope.boolValue = false


            $scope.submit = function () {
                alert(1)
            }
        })
</script>
</body>
</html>