body {
    background-color: #FAFAFA;
}

a {
    color: black;
}

input[type=text] {
    border: 1px solid rgb(234, 236, 239);
    padding: 0 8px;
    margin-top: 4px;
}

.white-content {
    padding: 24px 24px 32px;
    margin: 40px auto 24px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 8%), 0px 0px 2px rgb(0 0 0 / 8%);
    width: 384px;
    background-color: white;
    color: black;
}

h1 {
    font-size: 24px;
    font-weight: 400;
}


.secure-message {
    padding: 8px 24px;
    margin-bottom: 8px;
    border-radius: 18px;
    border: 1px solid rgb(245, 245, 245);
}

.secure-message img {
    width: 18px;
    height: 18px;
    margin-right: 4px;
}

.gray {
    color: rgb(71, 77, 87);
}

.input-block > * {
    margin-top: 24px;
}

.main-button {
    height: 40px;
    padding: 8px 16px;
}

.orange-black {
    color: rgb(201, 148, 0);
}

.hover-orange:hover {
    color: rgb(240, 185, 11);
    text-decoration: underline;
}
